[2018-04-13 06:52] abinoda opened #1 "Personal reminders for review requests"
As a user, I want to be able to get direct message reminders for just my received review requests. Support customizable frequency, time of day, and weekdays.

Also see https://github.com/integrations/slack/issues/382

[2018-04-13 06:52] abinoda opened #2 "As a user, I want to be able to receive a personal notification when one of my PRs gets reviewed"

[2018-04-13 06:52] abinoda opened #3 "As a user, I want to be able to receive personal reminders for my PRs that are done being reviewed"

[2018-04-13 06:52] abinoda opened #4 "As a user, I want to be able to receive other types of personal reminders and alerts"
#### Reminders:
* [ ] Review Request Reminders
  * [ ] Include merged pull requests
* [ ] My pull requests that have been reviewed

#### Instant Alerts:
* [ ] When I receive a review request
* [ ] When a team I'm on receives a review request
* [ ] One of my PRs gets a review

[2018-04-13 06:52] abinoda opened #5 "Redesigned metrics and leaderboards"
## Reports

The following reports are designed to be used in retros, 1:1s, and for general fun and motivation. All reports would be scope-able by team, individual, and repo.

#### People

- [ ] Who has the highest percentage of reviews within `<your target review time>`
- [ ] Who is doing the most code reviews?
- [ ] Who is being waited on for code reviews the most?
- [ ] Who has the slowest turna

[2018-04-13 06:52] abinoda opened #6 "Convert Slack app to Workspace App"

[2018-04-13 07:04] abinoda opened #7 "Pull Request Dashboard"
Requested by @jadametz:

[2018-04-13 07:05] abinoda opened #8 "Allow more than one unique notification rule"

[2018-04-13 07:05] abinoda commented on #8
This has been 🚀

[2018-04-13 07:09] abinoda commented on #8
👋 @majormoses - this feature is live! You can now create multiple notification rules. Let me know what you think!

[2018-04-13 07:10] abinoda opened #9 "Weekly metrics summary email"

[2018-04-13 17:45] majormoses commented on #8
Will do when I have some time, I will be traveling this weekend so I will likely not get to this till some time next week.

[2018-04-13 22:35] abinoda commented on #1
![reminders](https://user-images.githubusercontent.com/50083/38760462-fc03a4c4-3f40-11e8-986a-18c87ccc8de4.png)

[2018-04-13 22:41] abinoda commented on #1
![slackbot_exciting_enterprises_slack_-_2018-04-13_17 41 34](https://user-images.githubusercontent.com/50083/38760595-ef72462e-3f41-11e8-8ce6-1c8511423dac.png)

[2018-04-14 01:26] abinoda commented on #1
![pull_reminders_exciting_enterprises_slack_-_2018-04-13_20 25 51](https://user-images.githubusercontent.com/50083/38762995-fbda78ac-3f58-11e8-9e8e-820b355c2731.png)

[2018-04-16 14:56] abinoda commented on #5
Feedback from @xinzweb:

[2018-04-19 01:08] abinoda opened #10 "As a user, I want the option to include *merged* PRs in personal reminders"

[2018-04-19 01:08] abinoda opened #11 "As a user, I want the option to include *merged* PRs in team reminders"

[2018-04-19 01:17] #8 closed

[2018-04-19 01:17] #1 closed

[2018-04-19 02:14] abinoda opened #12 "As a user, I want my GitHub data synced more frequently"
GitHub data is currently synced using a single process executed every 10 minutes. Due to the number of accounts, it currently takes over an hour for an account to be synced. This will get worse as the number of accounts grows.

To decrease syncing time and better stay on top of the queue, we should switch to using a multi-threaded worker process. Every account will be queued for syncing every 10 m

[2018-04-19 02:27] abinoda opened #13 "Upgrade Postgres database"

[2018-04-19 02:37] abinoda opened #14 "As a user, I want friendlier onboarding before being redirected to sign in via Slack"
Right now, after a GitHub org is connected to a Slack team, all subsequent users who visit that org in PullReminders.com will be redirected to Slack to sign in before being able to view the account.

This is a bit abrupt and lacking in context – it'd be friendlier to display a screen telling them something like `Welcome! [github org] is connected to the [slack team] Slack workspace. To get started

[2018-04-19 02:47] abinoda commented on #2
Merged into https://github.com/pullreminders/roadmap/issues/4

[2018-04-19 02:47] #2 closed

[2018-04-19 02:48] abinoda commented on #10
Merged into https://github.com/pullreminders/roadmap/issues/4

[2018-04-19 02:48] #10 closed

[2018-04-19 02:49] abinoda commented on #4
https://github.com/pullreminders/roadmap/issues/3

[2018-04-19 02:49] #4 closed

[2018-04-19 02:51] abinoda opened #15 "As a user, I want real-time DMs for review requests I receive"
Also see https://github.com/integrations/slack/issues/382

[2018-04-19 03:28] abinoda opened #16 "As a user, I want to be able to onboard teammates so they get mentions and personal reminders"
Currently, when someone installs Pull Reminders to their GitHub/Slack org, there is no way to opt-in teammates to connect their Slack accounts and begin receiving personal reminders/alerts. This hurts the experience and effectiveness of Pull Reminders since non-signed up users don't get mentions or direct messages.

There should be a way for signed up users to opt-in their teammates for them. It w

[2018-04-19 21:52] abinoda opened #17 "As a user, I want to land on a home screen in my GitHub org instead the team reminders screen"
This should make onboarding clearer, since its confusing to be dropped into the "Reminders" section and never have to click the nav link to know there are two subsections.

[2018-04-19 22:28] abinoda commented on #5
Feature idea from @rouge8:

[2018-04-21 03:01] abinoda opened #18 "As a user, I want to be able to include merged PRs in team and personal reminders"
* Opt-in feature for paid subscriptions only
* Switch team_reminder to use DB instead of API
* When enabled for a team or personal reminder, pr fetcher should not completely skip syncing closed/merged PRs that have reviews_requested -> (what should we sync?)

[2018-04-21 03:04] abinoda commented on #18
Requested by @vic08

[2018-04-22 13:48] abinoda commented on #5
Thoughts from @CariWest:

[2018-04-22 13:50] abinoda commented on #5
@kenyonj requested filtering metrics/reports by repo

[2018-04-22 16:59] abinoda opened #19 "Increase concurrency level of GitHub sync"
Increase concurrency level to 10x and schedule to run every 30 minutes instead of 60 minutes

Dependent on https://github.com/pullreminders/roadmap/issues/13

[2018-04-23 14:36] xinzweb commented on #5
I like both the metrics trend as well as the leadership based on `# of reviews`. If I can choose one to do first, I will focus on the `# of reviews` leaderboard, since that's the top request from the GPDB developers, and that build incentive for people to help each other more to unblock and increase the overall iteration speed of the entire project. Thanks a lot.

[2018-04-24 12:02] abinoda opened #20 "As a user, I want to schedule specific times for reminders instead of using time window and frequency"
## Background

Previously, team and personal reminders were sent based on the time window and frequency chosen. Time window and frequency were a confusing and limited way of scheduling when reminders were to be sent. For example, if you wanted reminders at 8am and 3pm, you'd have to set your time window to begin at 8am and your frequency to 7 hrs:

<img width="751" alt="screen shot 2018-05-22 at 5

[2018-04-25 02:21] abinoda opened #21 "As a user, I want to be able to send test reminders in order to confirm that I have the right settings"
Right now it's a little difficult to update reminder settings because you can't tell right away whether they are set the way you want (at least for filtering). Create a "Send test reminder" button that lets users test notification settings on-demand.

[2018-04-27 02:04] abinoda commented on #16
Inspiration:

![create_a_workspace_slack_-_2018-04-26_22 03 38](https://user-images.githubusercontent.com/50083/39340731-bbb8e246-499d-11e8-9845-0e937d2eb068.png)

[2018-05-01 16:25] xinzweb commented on #5
Is that possible to break down this work item into smaller items so that we can have the small feature request on top of the backlog? For example, the top 1 request from my side would be able to get the leaderboard sort by `# of reviews`. We have been waiting for it for a while and seems like a pretty simple change on the leaderboard. Thoughts? Thanks.

[2018-05-01 16:58] abinoda commented on #5
@xinzweb Yes, after I finish the current stuff in progress I'll revisit this. Your request can be split out and addressed sooner than the entirety of this issue.

[2018-05-01 17:52] xinzweb commented on #5
Thanks a lot.

On Tue, May 1, 2018 at 11:58 Abi Noda <notifications@github.com> wrote:

--
Shin
Pivotal | Sr. Principal Software Eng, Data R&D

[2018-05-02 21:25] abinoda opened #22 "Add toggle for not including reviewed PRs in reminders"
From @msilber

From @adamcowley:

[2018-05-02 21:58] abinoda commented on #22
@msilber @adamcowley I added a toggle checkbox for this and deployed it to production. Let me know if it works the way you'd hoped!

[2018-05-02 21:58] #22 closed

[2018-05-04 21:27] abinoda commented on #11
dupe of https://github.com/pullreminders/backlog/issues/18

[2018-05-04 21:27] #11 closed

[2018-05-07 19:26] garagatyi opened #23 "Support of mattermost"
Hello. Is there a support of mattermost chat?
FYI mattermost is an opensource alternative to Slack.

[2018-05-08 13:51] abinoda commented on #23
@garagatyi Thanks for submitting this! Not currently, but I'll look into it.

[2018-05-08 13:56] abinoda opened #24 "As a user, I want team reminders for PRs based on time since ready for review (vs time since opening)"
Currently the team reminder `threshold` settings sets how old a PR should be before it is included in reminders. The age is calculated by when the PR was opened.

It would be valuable for the threshold to be based on when a PR became ready for review so improve the signal vs noise level of team reminders.

It would be nice to have a few options (these should be moved under filters):

1. Time elaps

[2018-05-08 14:04] garagatyi commented on #23
BTW mettermost is designed to be very similar to Slack, even on the API level. So it shouldn't be too hard to adapt to it.

[2018-05-08 17:11] danrabbit opened #25 "Update message once PRs have been merged or closed"
I manage a very large team with over 100 repos and we have designated Tuesdays as "Reviews Day" when we go through and follow up on PRs that got swept under the rug that week.

When the bot posts a message with a large number of PRs, it would be nice if the message could be updated as PRs are closed so that we can easily see which PRs still need attention and which have already been delt with

[2018-05-08 18:58] abinoda commented on #25
@danrabbit Just to be clear, you would like the Slack message to be edited as PRs are closed, right? I am not sure it is possible to do this... what do you think of the idea of having a UI in the pullreminders.com web app for this?

[2018-05-08 19:05] abinoda opened #26 "Ignore reviews that are just comments"
This was suggested to me by @callmevlad and a couple others in the past.

On GitHub, if I request a review from someone, then that person comes in and leaves a single comment by clicking "Add single comment", it still marks treats it as if that user reviewed the pull request. This can create a less than ideal situation where Pull Reminders considers a PR reviewed (because this is what the GitHub A

[2018-05-08 19:06] abinoda commented on #26
I've also sent the following write-up to GitHub outlining how review requests work and how they could be improved to support a more solid workflow:

[2018-05-08 20:31] danrabbit commented on #25
Yes, that's correct. The GitHub integration does a bit of this with checks on pull requests showing a colored bar next to each check and it updates when the status changes. Maybe that's a route to go?

[2018-05-08 20:34] abinoda commented on #25
@danrabbit Thanks for that suggestion. I'll check that out.

[2018-05-08 21:56] abinoda opened #27 "Increase threshold range"
Add the following options to the threshold range... or just make it a text input:

* 30 minutes
* 45 minutes
* 2 days
* 3 days
* 7 days
* 30 days

From @majormoses:

From @stympy:

From @traviskroberts:

[2018-05-09 05:58] amgando commented on #23
hey @abinoda, i've got a friend who works with mattermost.  happy to connect you if you're looking for some help with discovery on this.

[2018-05-09 14:44] abinoda commented on #23
@amgando 👋 Sherif, thanks! I'll follow-up here once I get to actually working on this feature.

[2018-05-11 01:48] abinoda opened #28 "As a user, I want real-time DM's for review requests to teams I am on"

[2018-05-11 01:50] abinoda opened #29 "As a user, I want real-time DM's for reviews I receive on my PRs"

[2018-05-11 01:50] #15 closed

[2018-05-11 05:48] goodspark opened #30 "As as user, I would like metrics and reminders to accumulate only when PRs have certain labels applied to them"
Our teams often open PRs to take advantage of our CI processes, Github's diff viewer, and for various other reasons.

We use Pull Reminders to only remind for PRs with certain labels (eg. `ready-for-review`).

I'd like to extend this to the metrics gathered.

In other words, time-in-review should only accumulate when a PR has certain labels applied to it.

This will make our PR metrics more accura

[2018-05-12 17:30] abinoda commented on #30
@goodspark Thanks for submitting this! Makes a lot of sense. Will keep this as a standalone issue but also reference from https://github.com/pullreminders/backlog/issues/5

[2018-05-12 18:27] #17 closed

[2018-05-12 22:38] #16 closed

[2018-05-13 22:37] abinoda commented on #21
Merging into https://github.com/pullreminders/backlog/issues/20

[2018-05-14 06:06] goodspark commented on #30
Also, it would be desirable if the logic accounted for how labels can be added and removed at any time. Eg: Sometimes we remove our 'review' label after someone has reviewed and it the PR clearly needs changes. It helps us filter from all the open PRs just down to the stuff that need reviewing. I'll update the description.

[2018-05-14 17:43] goodspark commented on #30
Mostly labels. An ideal were trying to get to is that anyone should be able to (or just 'should') review a PR. We haven't really codified review requests as part of our process, since the people who have the tribal knowledge are very few and they'd most likely be inundated with the requests.

[2018-05-18 12:18] abinoda opened #31 "As a user, I do not want to receive review request alerts for reviews I request from myself"

[2018-05-20 00:12] abinoda opened #32 "As a user, I want to receive my team reminders on-time (not late)"

[2018-05-20 20:45] #32 closed

[2018-05-22 21:58] #20 closed

[2018-05-22 22:40] abinoda commented on #20
@jwicks31 I saw you ran into an error that was caused by this release. I fixed the error so you should be able to proceed now!

[2018-05-23 14:27] abinoda commented on #5
From @matthew-cochran:

[2018-05-28 18:31] abinoda opened #33 "Improve leaderboards"
- [x] Add ability to filter by repo (prepulate from links in reminders)
- [x] Create separate leaderboards for:
  - [x] Reviews Completed
  - [x] Pull Request Size
  - [x] Review Turnaround Time
- [x] Date filters:
  - Last 7 days
  - Last 30 days
  - This week
  - This month
  - Last week
  - Last month

Feedback from @xinzweb:

[2018-05-28 18:35] abinoda commented on #5
Rolling this into https://github.com/pullreminders/backlog/issues/33

[2018-05-28 18:35] #5 closed

[2018-05-29 15:34] xinzweb commented on #33
Glad to see this one `in-progress`. I cannot wait to see the new leaderboards. Thanks.

[2018-05-29 21:47] abinoda opened #34 "As a user, I want to be able to set a default timezone for my org during initial setup so that future team and personal reminders have better defaults"

[2018-05-29 22:13] abinoda opened #35 "Pull request SLAs and reporting"
Matthew Cochran:

More from Matthew Cochran regarding SLAs:

From @CariWest:

[2018-05-30 18:11] abinoda commented on #24
An example of a workflow that really relies on this from @traviskroberts:

[2018-05-31 15:06] TheFrozenFire opened #36 "Time of Day changes for reminders don't persist"
![screenshot from 2018-05-31 08-03-22](https://user-images.githubusercontent.com/948014/40790293-6604a778-64a9-11e8-9dec-cdd7451eaa2d.png)

Changing "Time(s)" creates a notification in the target channel saying it's changed, but the changes don't persist in this edit view.

[2018-05-31 15:24] TheFrozenFire commented on #27
:100:

[2018-05-31 15:55] abinoda commented on #36
@TheFrozenFire I'm looking into this now.

[2018-05-31 16:02] abinoda commented on #36
@TheFrozenFire I just updated https://pullreminders.com/installs/2294507/notification_rules/393/edit from the UI and was able to remove "8am", so it looks like it is saving. I'm unable to reproduce this elsewhere as well. Could you try again and see if it works now? Or let me know the exact change you're trying to make?

[2018-05-31 16:24] abinoda opened #37 "Split team reminders into two lists: "Waiting for review" and "Waiting for author""

[2018-05-31 16:28] TheFrozenFire commented on #36
Maybe it was a caching issue, or a temporary issue. I'll try to reproduce, but I was able to update it myself as well now.

[2018-05-31 16:29] abinoda commented on #36
@TheFrozenFire Great, let me know!

[2018-05-31 16:29] #36 closed

[2018-05-31 17:35] abinoda commented on #24
[code]

[2018-05-31 20:45] abinoda commented on #28
@kwantopia @valkenar Let me know if you guys switch to using team review requests and would benefit from this

[2018-05-31 20:51] kwantopia commented on #28
Yes, we are going to setup backend and frontend teams on github to provide convenience to members and increase usage @abinoda

[2018-05-31 20:52] kwantopia commented on #28
Btw, instead of real time dm, if all dm pr-reminders can be scheduled at 3PM my time, that would be good too, but can come later.

[2018-05-31 20:55] abinoda commented on #28
@kwantopia Yes, users can specify whether they want real-time DMs or scheduled DMs. The scheduled DMs already include team reminders so you should be good there!

[2018-06-01 16:36] abinoda opened #38 "As a user, I want label/string filters for personal reminders to work with CODEOWNERS workflow"

[2018-06-01 16:36] abinoda commented on #38
@ashanbrown FYI - thanks for this suggestion

[2018-06-01 21:41] abinoda opened #39 "As a user, I want real-time DM's for review requests to teams I am on"
Currently users can receive DMS for review requests to them individually. This card is to add DMs for review requests to teams as well.

[2018-06-01 21:41] abinoda commented on #28
merging into https://github.com/pullreminders/backlog/issues/39

[2018-06-01 21:41] #28 closed

[2018-06-02 01:03] abinoda commented on #37
@bleedsy FYI

[2018-06-02 01:26] abinoda commented on #37
@bleedsy - this is shipped

[2018-06-02 01:28] #37 closed

[2018-06-03 18:08] abinoda commented on #33
@xinzweb This is deployed, let me know your feedback

[2018-06-03 18:08] #33 closed

[2018-06-04 20:19] abinoda opened #40 "Delete past reminders from Slack to keep chat history clean"
Requested by @kiranpanesar:

This looks possible using https://api.slack.com/methods/chat.delete

[2018-06-04 20:21] abinoda commented on #40
@kiranpanesar I think the simplest logic for this would be to just delete the last reminder whenever posting a new one. This way there's only ever one reminder message in the channel.

[2018-06-06 16:30] xinzweb commented on #35
Few more comments on this SLA:
- Be able to do a SLA on rolling aggregate (e.g. last 3 weeks other than just weekly) of all PRs.
- Be able to do `last review wait time` SLA other than `total review wait time` SLA. This will highlights how quickly people respond to new changes of the PR, other than how long does a PR take from beginning to the end. The purpose of the `last review wait time` SLA is

[2018-06-07 12:50] abinoda opened #41 "Default user timezones based on Slack"
Most Slack users already have a timezone configured, so we should default user timezones to whatever they already have set on Slack. Get timezone from https://api.slack.com/methods/users.info when creating `UserNotificationRule`.

When creating a team reminder, it should default to the timezone of the current user.

[2018-06-07 12:50] abinoda commented on #34
Closing in favor of https://github.com/pullreminders/backlog/issues/41

[2018-06-07 12:50] #34 closed

[2018-06-07 12:51] abinoda commented on #41
@incognito Thanks for this amazing suggestion!

[2018-06-08 09:37] jchavarri opened #42 "As a user, I would like to receive DMs in Slack when a PR gets a merge conflict"
There is a field in the pull request object called `mergeable` that allows to know if a PR can be merged: https://developer.github.com/v3/git/#checking-mergeability-of-pull-requests

It would be very valuable as a user to receive a notification when a pull request goes from `mergeable: true` to `mergeable: false`.

[2018-06-08 14:48] abinoda commented on #42
@jchavarri Thanks for submitting this! Could you elaborate on the use case a bit more? Are you hoping to receive a notification when one of your pull requests gets the [required number of approvals](https://help.github.com/articles/enabling-required-reviews-for-pull-requests/)? If so I don't think the `mergeable` property is the best way to do it because I believe that property also depends on whe

[2018-06-08 16:04] jchavarri commented on #42
Thanks for the quick answer! Our use case is as follows: we have a process where when a PR is ready, we assign it for code review first, and then it goes through a second QA step, where the PR gets tested.

During these steps, chances are that the PR gets in conflict with the main development branch, and these conflicts need to be resolved and in general involve repeating some of these steps.

By

[2018-06-08 16:05] abinoda commented on #42
@jchavarri This makes a lot of sense. Will move it up in the backlog and hopefully get to it pretty soon!

[2018-06-11 21:11] bhargavrpatel opened #43 "As a user, I would like to know how many approvals a pending PR already has"
**Context**
Currently, we are getting pull reminders for PRs we created with a mention of the author (i.e:`Waiting on @barco`). However, our process requires 2 approvals prior to a PR being merged. Currently, this information is missed in the reminder message that is posted on the channel.

**Suggestion**
Add an option to expose this field or make that a default. Perhaps we can even let the admins

[2018-06-11 21:17] abinoda commented on #43
@bhargavrpatel Thanks for submitting! Let me confirm to make sure I am understanding correctly...

1. Your team's GitHub workflow is "2 approvals to merge" and you are using GitHub's [required approvals feature](https://help.github.com/articles/about-required-reviews-for-pull-requests/), correct?
2. The problem is that right now, as soon as one approval is submitted, the reminders start pinging th

[2018-06-11 21:34] bhargavrpatel commented on #43
You are correct. I am from Unata (instacart)

Regards,
Bhargav

On Mon, Jun 11, 2018 at 5:17 PM Abi Noda <notifications@github.com> wrote:

[2018-06-11 21:36] abinoda commented on #43
@bhargavrpatel Cool, I am going to try and have this done in the next few days. Thank you very much for writing this up!

[2018-06-11 21:38] bhargavrpatel commented on #43
Awesome. Appreciate the help.

On Mon, Jun 11, 2018 at 5:36 PM Abi Noda <notifications@github.com> wrote:

[2018-06-11 22:20] abinoda commented on #43
@bhargavrpatel Question - would the workflow be better if Pull Reminders did NOT @mention the author at all, and instead just showed the number of reviews/approvals? Does it mislead or create confusion?

Note that feature of nudging the author was moreso designed for teams using review requests where you can determine with certainty that a PR is waiting on an author vs reviewer.

[2018-06-12 03:39] bhargavrpatel commented on #43
If we want to make sure someone gets _nudged_ you can say "authored by:" and @mention the author and along with the fact that it still required N reviews.

Noted. Yeah in this case, I think the proposed feature would be an additional check that is introduced and adding more certainty; i.e: if it has N/N reviews, it is definitely waiting on an author.

[2018-06-12 13:57] abinoda commented on #43
@bhargavrpatel Rather than trying to calculate how many approvals are required, could I just display how many approvals the PR has in the reminder? This would require less configuration and I hope still address your use case?

The reason I am proposing this is that there are so many different granular settings that determine how many approvals are required, and since it isn't provided by the API,

[2018-06-12 21:52] abinoda opened #44 "[GitHub Bug] GitHub treats comments as reviews and has a poor UX for requesting additional rounds of reviews"
# Getting stuck on "waiting on author"

A common issue that teams run into when using Pull Reminders with [GitHub review requests](https://blog.github.com/2016-12-07-introducing-review-requests/) is that pull requests are labeled as `Waiting on author` even after an author responds to comments or requested changes from a reviewer.

This happens because GitHub nullifies review requests when the rev

[2018-06-12 22:02] abinoda opened #45 "[GitHub Bug] Review is wrongly attributed to a team instead of a user"
If a user requests a review from another user, when a review is submitted by that user, the review is displayed as `<user> approved these changes`. This makes sense.

<img width="785" alt="screen shot 2018-04-08 at 1 48 32 pm" src="https://user-images.githubusercontent.com/50083/38471225-a69de6cc-3b33-11e8-988f-57a1ca651808.png">

If a user requests a review from a team, when a review is submitted

[2018-06-13 05:44] bhargavrpatel commented on #43
Certainly. That actually might be better in the cases where above settings are set to a lower number than the required. For example, we've set that count to 1 but generally prefer 2 reviews; allowing merges on 1 reviews if the diff is very small.

[2018-06-14 04:18] abinoda commented on #43
@bhargavrpatel I just released this – let me know how it works for you and if you have any feedback.

FYI – I also made an update so that "Waiting on @author" isn't printed since the logic for that is only accurate when teams are using review requests.

[2018-06-14 04:21] abinoda commented on #43
@bhargavrpatel Also, I liked your suggestion below and plan on making this an option you can turn on. But I think its best to have it turned off by default so people do not get annoyed:

[2018-06-14 04:25] bhargavrpatel commented on #43
Awesome. Can’t wait to try it tomorrow. Thanks!

On Thu, Jun 14, 2018 at 12:21 AM Abi Noda <notifications@github.com> wrote:

[2018-06-14 14:44] #43 closed

[2018-06-14 14:44] bhargavrpatel commented on #43
Closed the issue as its resolved. Thank you once again @abinoda! We just saw it in action as well.

[2018-06-14 14:49] abinoda commented on #43
@bhargavrpatel Cool! Also, after talking to GitHub there *is* a way for the approval count to be 100% consistent with the "required reviews" rules e.g., when a review is automatically dismissed due to a new commit. So I will push another update in a couple days so to improve the accuracy. Letting you know in case you spot any edge cases.

[2018-06-15 03:16] abinoda opened #46 "As a user, I want to snooze direct message reminders"
From @james-pack:

From @cariwest:

[2018-06-15 03:20] abinoda commented on #46
Curious to hear if you strong upvotes or other suggestions for this @jchavarri, @cobrabr, @lfre, @Incognito...

[2018-06-15 05:31] Incognito commented on #46
I think this is needed for one of two cases on my side:
1. Just moving to reminders and having to deal with ancient PRs (weeks or months old) when there's "no time to deal with it right now"
Or
2. Blocked work until another team or business decision is completed.

Both of those are kind of weak arguments to for me to snooze. I should either delegate the first one to my team to resolve. The second

[2018-06-15 15:04] cobrabr commented on #46
I haven't found the need for snoozing reminders _yet_, but I can see how a large PR would be something I would like to snooze from time to time. I've had to deal with PRs like the one @james-pack mentioned, and I've definitely postponed starting the review on those to the next day. :wink:

[2018-06-15 15:43] lfre commented on #46
I think snoozing might create a behavior that could easily become the norm where every PR is snoozed and then you forget about it.

To me, large PRs should be the exception and not the rule. Additionally, the definition of a "large PR" is subjective (lines of code, complexity, test case scenarios, etc). Each application/team could easily have a different definition of what it is considered "large"

[2018-06-15 16:07] lishenzhi opened #47 "As a user, I would like to receive DM's when I am @mentioned in a PR comment"

[2018-06-15 16:08] abinoda commented on #47
@lishenzhi Thanks for submitting this!

[2018-06-15 16:12] abinoda commented on #47
@lishenzhi My only concern with this is that it might be quite noisy. e.g., if you get several @mentions on the same PR in the span of a minute. I'm wondering if it'd be good to throttle the Slack notifications so you don't get a bunch at the same time.

Is my concern valid? What do you think?

[2018-06-15 16:20] lishenzhi commented on #47
@abinoda absolutely. I agree with you that some throttle will be better than instant message. I like what you have in the direct message setting now, to get instant message and/or set the reminder schedule. Can we have the same settings for mention also?

[2018-06-16 17:54] abinoda opened #48 "[GitHub Issue] GitHub's UI for re-requesting reviews is not intuitive and mostly not known"
# Background

For teams using [Pull Reminders](https://github.com/marketplace/pull-reminders/) with [GitHub review requests](https://blog.github.com/2016-12-07-introducing-review-requests/), reminders include pull requests that are `Waiting for review` and `Waiting for author` (when this feature is enabled). Pull Reminders considers a PR to be `Waiting for review` if it has review requests, or `Wa

[2018-06-16 17:55] #44 closed

[2018-06-16 18:01] abinoda commented on #48
@Chris-td This is the write-up for the issue I I emailed you about. Would love to hear if you have any additional thoughts on it.

[2018-06-16 18:02] abinoda commented on #48
@jchavarri This was an issue that @callmevlad brought up to me early on. Are you still having problems with it? If not, did you change your workflow or workaround it some other way?

[2018-06-16 18:03] #26 closed

[2018-06-17 22:05] jchavarri commented on #46
I haven't found the need for it either (at least, yet). In general, code reviews take priority over almost everything else, so the longest that a PR goes unreviewed is one day in my case. We also make a lot of efforts to keep the PRs small, like others in this thread have mentioned.

Maybe setting the reminders to happen less often would help in that case? Once per hour seems too frequent imo, esp

[2018-06-17 22:11] jchavarri commented on #48
I haven't personally run into this issue, but I see how it can be confusing. If I understand correctly, the only state where a review is in "Waiting" state is when there's the yellow/orange dot next in the review panel, right?

[2018-06-17 23:14] abinoda commented on #48
That's correct. When there's an incomplete review request it is shown as an orange dot.

[2018-06-21 15:20] lishenzhi opened #49 "As a user, I would like Pull Reminder to support SLA & reporting on different groups"
would like to be able to config the team members into different groups like developers, QA & PO. And for each group, could set different SLA and report based on that.

[2018-06-21 15:28] abinoda commented on #49
@lishenzhi Thanks for submitting this. I think this should be merged into https://github.com/pullreminders/backlog/issues/35. Is it ok if I do that?

[2018-06-21 18:02] abinoda commented on #49
Merging into https://github.com/pullreminders/backlog/issues/35

[2018-06-21 18:02] #49 closed

[2018-06-21 18:05] abinoda opened #50 "As a user, I would like auto-suggestions for labels vs free-form typing"
From @mikejolley:

[2018-06-24 14:04] abinoda opened #51 "As a user, I want to be able to filter team reminders based on who the author or reviewer is"
# Problem

From @mbyio:

From @lfre:

# Proposed solution

Add a new dropdown filter that excludes PRs from reminders unless they are waiting on an author or reviewer who is a member of one of the selected GitHub teams. **When this filter is active, PR's waiting on reviews from members of *other* teams will not be included in the reminders.**

<img width="1191" alt="screen shot 2018-06-24 at 7 57

[2018-06-24 14:12] abinoda commented on #51
@lev-kazakov Let me know if this is the same issue you're encountering or not!

[2018-06-24 14:55] abinoda commented on #51
@damonpetta @incognito @jchavarri @bleedsy @austinh @james-pack @TheFrozenFire @peteyoung I'm curious to know if this is an issue you've run into and whether the proposed solution would address it.

[2018-06-25 01:50] abinoda commented on #51
This is released!

[2018-06-25 01:50] #51 closed

[2018-06-25 06:00] mbyio commented on #51
Thanks! I'll see if we can try it out this week.

[2018-06-25 14:46] abinoda opened #52 "As a user, I would like to receive DM's when my PRs are approved or changes are requested"
*Slack API requests should be async so as to not implode the github webhooks endpoint*

If changes requested:
[code]

If approved:
[code]

Inspiration: check out BitBucket's "nudge" button:
https://medium.com/slack-developer-blog/how-bitbucket-enriches-their-slack-app-ux-with-user-mapping-a39e06d610a6

[2018-06-25 14:48] abinoda commented on #52
@eugenegodun FYI

[2018-06-25 14:51] cobrabr commented on #51
I haven't had this happen yet, because we're piloting PullReminders with a single team, but it will definitely be a requirement when more teams are added to the fold.

Also, along the same lines, it would be interesting to be able to limit the reminders to PRs created by specific authors and/or PRs for which specific individuals are assigned as reviewers (so that, for example, my team doesn't get

[2018-06-25 21:46] FloraSaysGoodmorning commented on #51
Nice! Would be even better if we can have mandatory reviews and optional reviewers:)

[2018-06-27 19:47] #21 closed

[2018-06-27 19:53] abinoda opened #53 "Open-source metrics"

[2018-06-27 20:08] abinoda commented on #53
@xinzweb @danrabbit @johannasmith @majormoses @terminalmage @gtmanfred @mbbroberg @kitsunet @damacus Would love any thoughts, ideas, or suggestions on this!

[2018-06-27 20:27] majormoses commented on #53
Those sound like a good start to me, I think all metrics should be config driven to toggle them on and off as each project has different needs.

:100:

I'd certainly be interested to see and showcase the community engagement

I imagine this would need to do a uniq on them if we are looking at across the org or a subset of repos, in the case of a single repo this metric

I think you are right I thi

[2018-06-27 21:07] abinoda commented on #53
@majormoses Thanks for all the suggestions! Follow-up question, are you interested in metrics for solely for supporting maintainers? Or are you also interested in showcasing metrics publicly that may help new visitors adopt or contribute to your open-source projects?

[2018-06-27 21:10] majormoses commented on #53
Interested in both but probably need to make both configurable which metrics are displayed on each.

[2018-06-27 21:21] abinoda commented on #53
@mikejolley @rosswhitfield @AndreiSavici @ondrej-fabry @bkeepers Would love any thoughts, ideas, or suggestions on this!

[2018-06-27 21:37] gtmanfred commented on #53
I would like them to be visible publically too.

All of the proposed metrics I think would be useful for us, but agree that they should be able to be turned off, based on if you do stuff like, not use github issues.

Also, it would be good to see some of these metrics on a per branch basis.  We maintain 2-3 stable branches at a time, which have different speeds at which they receive PRs.

I used t

[2018-06-28 00:03] abinoda opened #54 "As a user, I want reminders for stale PRs that never had a review requested"
# Problem

# Proposed solution

- If using review requests, add a checkbox (unchecked by default) "Remind authors of stale PRs without reviewers" with description "Remind authors if they have open PRs with no reviewers" that display an input field for "Period of inactivity: 3 hrs"
- Change default "Age" to 0 since its not as useful anymore.

See https://github.com/probot/stale

# Thoughts

For tea

[2018-06-28 00:31] terminalmage opened #55 "Setting reactions on a PR should not change the user/team on which a PR is waiting"
This happens pretty frequently:

1. I open a PR.
2. There is discussion, I push changes.
3. I comment on the PR thread regarding the changes I just pushed.
4. Someone adds a :+1: reaction to my comment.
5. Next time the pull reminders are sent out, my PR is marked as "waiting on @terminalmage", despite there being literally nothing for me to do.

[2018-06-28 00:38] abinoda commented on #55
@terminalmage Do you by any chance have a screenshot of this you could share just so I can confirm what is happening? Or could you confirm that the sequence below?

1. You open a PR **and assign reviewers**
2. The reminders are marked as "waiting on @review-name"
2. The reviewers review the PR and request changes
3. You push changes and leave comments, others leave reactions (e.g. 👍)
4. The remind

[2018-06-28 00:44] abinoda commented on #55
While I'm waiting for your response... I'm 90% sure that this is happening to you because you are not requesting new reviews after you've pushed up changes and responded to comments. Once a PR has been reviewed, it is going to be marked as "waiting on the author" unless it is merged or reviewers are re-assigned.

I've recently updated the Pull Reminders UI to try to explain this better:
<img width

[2018-06-28 00:55] abinoda commented on #27
I am merging this into https://github.com/pullreminders/backlog/issues/54

[2018-06-28 01:13] abinoda opened #56 "As a user, I want to be able to customize what PR metadata to include in my reminders"
# Problem

Different teams and individuals want to see different information included in their reminders. For example, teams that use required reviewers want to see approval count, whereas a team using review requests would be interested in seeing how long a PR has been waiting for a review.

# Proposed solution

Allow users to toggle including the following metadata in their reminders. These sett

[2018-06-28 01:51] abinoda commented on #54
@matthew-cochran I spent quite a bit of time thinking through this feature you requested. My thought is that for teams using review requests (which I assume you are), I feel like this isn't a high priority because catching PRs that are abandoned/forgotten by the author before ever requesting review seems like it should be a bit of an edge case... an building an entire reminder setting for this fee

[2018-06-28 02:08] abinoda commented on #53
@bootstraponline Would love your thoughts on this.

You've mentioned that pull request response time is the single most valuable metric for your use case since people want to know how quickly they'll get a code review.

Can you define what exactly "pull request response time" means in the context of open-source on GitHub? Is it the time between a PR being opened by someone and a maintainer respond

[2018-06-28 02:09] bootstraponline commented on #53
I like that metric. I agree about configuration options. Maybe start with one metric that's most relevant and expand from there.

It'd be disappointing to have a bunch of badges that no one uses.

[2018-06-28 02:12] bootstraponline commented on #53
For us it's a bit complex as we have a multi-stage review process. There are different github labels: waiting: contributor, waiting: product, waiting: gerrit import, waiting: CLA, waiting: code review, waiting: QA.

Being able to tell how long we're in each label state would be helpful, in addition to how quickly feedback is provided in each phase.

Probably that's to complex so time to first main

[2018-06-28 02:23] abinoda opened #57 "Print and order by PR staleness instead of creation date"
# Problem

From @xinzweb:

# Proposed solution

I am thinking about hard-coding a change so that team reminders display last activity date and are ordered by that. This helps surface the most "stale" PRs to the top of the list.

I *could* keep the creation date shown as well but am running out of real-estate. I'd be curious to know if showing the age of a pull request would be of much value once s

[2018-06-28 02:32] abinoda commented on #57
@bhargavrpatel  I would love your input on this

[2018-06-28 02:40] abinoda commented on #57
@bootstraponline Would love your thoughts on this when you have a few minutes. This change mostly affects teams not using review requests

[2018-06-28 02:48] abinoda commented on #24
Thought...

If [Print and order by PR staleness instead of creation date](https://github.com/pullreminders/backlog/issues/57) negates the need for adding a staleness "filter", then maybe I can do something similar for review requests where I display the age of the (longest) review request as "time waiting in review", and order by that? And for "waiting on author", order by staleness?

This removes

[2018-06-28 02:49] bootstraponline commented on #57
As a team we avoid long running PRs. 28 days without merging would be a major red flag for us we'd want to highlight.

I think creation date is a better fit for my use case, however I don't have a strong preference.

[2018-06-28 02:51] abinoda commented on #57
@bootstraponline That's a great point about spotting (and avoiding) long running PRs. Thanks

[2018-06-28 02:52] bhargavrpatel commented on #57
I personally like the idea of this. Will we simply switch to staleness or
make it configurable?

Aside
———
I have been thinking about this for some time and wanted to pick your brain
about this. Note that this is something your users will have varied opinion
on. Some might even prefer sorting by LOC, or arbitrary tags, etc. If you
don’t make it configurable you might affect some of your current us

[2018-06-28 02:54] bootstraponline commented on #53
![image](https://user-images.githubusercontent.com/1173057/42010522-08fe0316-7a5d-11e8-8392-d04ef1268615.png)
https://k8s.devstats.cncf.io/d/4/blocked-prs-repository-groups?orgId=1

Devstats has a lot of cool visualizations around github metrics & PRs.

[2018-06-28 03:01] abinoda commented on #57
@bhargavrpatel As @bootstraponline pointed out, I think there's value in the creation date as well.

I'm going to look into whether there's enough space to print both, e.g. `Updated 4 hrs ago · Created 3 days ago · 3 approvals ...`. I'm thinking that the approval count could be hidden if there are specific reviewers being tagged. That would conserve space.

Regarding your question... what you've p

[2018-06-28 17:21] johannasmith commented on #53
I have a high priority for turnaround time on PRs, same as most of you, but I think it needs to be coupled with the `MergeRate` to be a valuable indicator of project health.

I would say starting with full turnaround time open --> close would be the first thing I want. Timing of more granular indications can come later, but first I need to know my average time for resolution (whether it's merge or

[2018-06-28 17:29] damacus commented on #53
How about frequency of releases? It's all very well merging in code into master but if that code isn't released in a packaged format the users often won't feel the benefit.

Over at sous-chefs we're pretty quick at merging but often not quick at releasing those bug fixes. It'd be good to encourage more of that.

[2018-06-28 21:43] majormoses commented on #53
I would very much love to see that as well, one thing that we started doing on the sensu-plugins is to force maintainers to release every functional change. Prior to this (me becoming a maintainer for them) we had a lot of contributions that would sit around for sometimes almost a year (and one of the things that motivated me to become a maintainer for them).

[2018-06-28 23:30] xinzweb commented on #53
Thanks for collecting the feedbacks.

Well, my goal is to focus on each repo and get the ball rolling forward,
and remind people if any open issues/pr/review left behind.

There is only one metric I am interested, is the `wait time of last
activity`. As long as the topics are hot and people are actively taking
actions on them, I am pretty happy.

This can be applied to PRs or Issues.

Thanks a lot

[2018-06-29 06:12] kitsunet commented on #53
I would like to add the amount of first time contributions. That's something I would like to know over time.

[2018-06-29 18:23] johannasmith commented on #57
I believe staleness would be helpful data for my team as a low staleness metric helps to indicate project health. I don't know that reminders need to be prioritized by staleness, though.

[2018-07-01 22:07] abinoda commented on #27
@TheFrozenFire @majormoses @stympy This has been released! You can now set custom "pull request age" settings not limited by the old dropdown options.

[2018-07-01 22:07] #27 closed

[2018-07-02 14:17] abinoda commented on #57
This has been released 🚀

[2018-07-02 14:17] #57 closed

[2018-07-13 03:07] #29 closed

[2018-07-13 03:08] #9 closed

[2018-07-13 20:38] abinoda opened #58 "[Bug] Double onboarding DM's"
<img width="631" alt="screen shot 2018-07-13 at 1 36 58 pm" src="https://user-images.githubusercontent.com/50083/42712837-05acc372-86a2-11e8-83c6-ffc84d87139f.png">

1. Onboard user -> sends greeting
2. Slack auth  -> sends another greeting

[2018-07-13 20:48] abinoda commented on #58
If invited... "@someone hgas added you to Pull Reminders. Click the button below to

[2018-07-13 21:02] abinoda commented on #41
@Incognito This has been released!

[2018-07-13 21:02] #41 closed

[2018-07-13 22:21] #58 closed

[2018-07-14 18:45] abinoda commented on #52
@eugenegodun This will launch on Monday

[2018-07-14 18:45] #52 closed

[2018-07-14 18:54] abinoda opened #59 "As a user, I would like to receive a DM when someone leaves comments on my PR"
From @andreasklinger:

[2018-07-17 14:32] xinzweb commented on #57
Thanks a lot. I really like this new order of staleness. It helped a lot for people focus to keep things active and fresh.

[2018-07-17 21:49] abinoda opened #60 "As a user, I want to filter reminders based on PR staleness"
From @xinzweb:

[2018-07-18 17:35] abinoda opened #61 "Revamped metrics and "Trends" section"
I am working on revamping metrics available in Pull Reminders under a new "Trends" section. The "Trends" section will contain a sidebar with list of metrics, including:

* PRs Merged
* Reviews
* Avg Review Turnaround
* Avg PR Time to Close
* Total Open PRs
* Max PR Size
* Avg PR Size

Clicking on a metric will take you to its own page. On that page you'll be able to filter by date range, date grou

[2018-07-19 02:36] majormoses commented on #60
I agree about the value of the feature, in the mean time what I have been doing (and will probably still do) for the orgs I maintain is to use labels to filter out `Status: Awaiting Response` and when the user either updates the code or responds on the PR the reviewer will get an email alert and can decide if the PR is ready to review again (and be reminded on) or if its still a WIP.

[2018-07-19 06:18] abinoda commented on #60
I agree with this proposal. I'd like to confirm however that this feature is specifically for open-source. On closed-source teams I don't think PRs pile up as much or get as stale to the point where a filter would be necessary.

@bootstraponline @johannasmith @tas50 Would this feature help you for open-source? Do you agree with what I said about it not having as much value for closed-source?

[2018-07-19 09:20] majormoses commented on #60
Not sure I agree it's only for OSS, my current job I see lots of PRs that are stale, I certainly think it offers more value to OSS projects but I think it has benefits for larger organizations as well. My non OSS org is ~175 people, ~75 teams, ~300 repos, and our current number of open PRs is 835. I can't imagine that all of those are up to date and only a handful of them really need to be open. I

[2018-07-19 14:37] bootstraponline commented on #60
I think the feature is equally valuable for open source & closed source. With that said, we try to merge all PRs quickly. In Slack, we are displaying all PRs (except for WIP and POC). I personally wouldn't use the feature however if we had a large amount of unmerged PRs then I see the value.

[2018-07-25 16:29] tas50 opened #62 "Make it more clear what organization you're in"
I manage several organizations and it's difficult to see what org you're currently logged in as. It would be helpful to show what org you were in so I could switch between them easier.

-Tim

[2018-07-25 16:32] abinoda commented on #62
@tas50 Thanks Tim. Have you seen that clicking the icon in the top left opens an account switcher? Let me know if this was unclear and I can think of ways to make it more obvious.

Also maybe I should display your current org icon instead of the Pull Reminders logo?

[2018-07-25 16:33] tas50 commented on #62
I clicked around and eventually figured out you could use that to switch orgs. It still doesn't show you what org you're currently logged in as though.

[2018-07-25 16:33] abinoda commented on #62
@tas50 Cool, I agree that its confusing to not easily know which org you're in. I'll work on an improvement for this.

[2018-07-25 17:50] johannaratliff commented on #60
I would definitely filter by staleness if it was available. If it's getting regularly commented on or addressed, I don't feel like the team needs to get pinged on it again. Can't speak to closed source maintenance from my end.

[2018-07-25 18:07] abinoda commented on #60
@tas50 I know you're still chugging through your backlog but would you +1 this from an open-source usage perspective?

[2018-07-25 18:12] tas50 commented on #60
It would be nice to filter on staleness so we can focus our energy on current PRs. Like @majormoses we use a label when we're awaiting a response from the user. In the ideal world we'd have a better setup than that.

[2018-07-25 23:48] abinoda commented on #60
@xinzweb @bootstraponline @tas50 @majormoses @johannasmith Thanks all for the feedback. I'll get this implemented soon!

[2018-07-27 01:38] #39 closed

[2018-07-27 01:38] abinoda commented on #39
@dgipps this is live!

[2018-07-27 01:46] #31 closed

[2018-07-29 02:33] majormoses commented on #62
Yup I had similar usability issues and look forward to seeing this improved.

[2018-07-29 02:39] majormoses commented on #45
not sure I agree, if they are a member of a team (or multiple teams) that were requested then it should show that you made your review on behalf of the requested team. This is especially important when you consider that the user may not have even requested from that user/team directly and could be automated via the use of `CODEOWNERS` and you need to indicate that a required team gave approval.

[2018-07-29 02:40] abinoda commented on #45
@majormoses Hmm. But do you see in my last screenshot how the first review request is to a team, but the second review request is to an individual user "nodable-test"? IMO the attribution should match the request.

[2018-07-29 02:53] majormoses commented on #45
I see your point but how could they know if the review is on behalf of the user or the team unless that info is input when the review happens. At my current org we extensively use `CODEOWNERS` and you can't merge into repos `master` (or other protected branches) without approvals from `CODEOWNERS` we always use teams rather than users as this reduces the need to constantly update this in 400+ repo

[2018-07-29 02:59] abinoda commented on #45
Gotcha. I see your point as well. Not sure.

[2018-08-04 18:14] abinoda commented on #60
@xinzweb @tas50 @majormoses @johannasmith I've released this feature 🚀 Please let me know how it works for you!

CC'ing some other OSS maintainers: @danrabbit @kitsunet @bkeepers @terminalmage @gtmanfred @damacus @hiimbex @wilhelmklopp @JasonEtco

[2018-08-04 18:15] #60 closed

[2018-08-06 17:24] nbasu02 commented on #59
As a user with a lot of extra github emails, this would be a huge help.  My coworkers leave me comments that I sometimes don't see for days.

[2018-08-06 17:59] abinoda commented on #59
@nbasu02 Yep, this is rising in priority. Also logging a note from @andreasklinger:

Also, noting the overlap with https://github.com/pullreminders/backlog/issues/47

[2018-08-06 23:53] abinoda commented on #59
@andreasklinger @lishenzhi @nbasu02 I would love your feedback on my thoughts below.

I've been mapping out what the best way to solve this is. A simple, naive approach would be to send Slack DMs for every single comment on your PRs or that you are @mentioned on. My concern with this is the noisiness – for example, its common for reviewers to leave several disparate comments while going through a

[2018-08-06 23:55] abinoda commented on #47
I'm merging this into https://github.com/pullreminders/backlog/issues/59#issuecomment-410888576

[2018-08-06 23:55] #47 closed

[2018-08-06 23:57] abinoda commented on #59
@jchavarri @Incognito @lfre @cobrabr I'd love your thoughts on the value and approach to this feature I am exploring!

[2018-08-07 00:02] nbasu02 commented on #59
I have no opinion on reminders for comments that I haven't responded to - I probably wouldn't use that feature.

One guy on my team will throw 10 comments at you in a matter of a few minutes.  I think optional throttling with the ability to adjust would be helpful (not everyone has that guy on their team).  It can default to five or however many minutes with a link to how to update the throttling?

[2018-08-07 00:09] abinoda commented on #59
@nbasu02

👍  Gotcha, thanks for this.

Customizable throttling options is an interesting idea... if I take that and run with it, here's the complete solution I'm thinking of:

- Fire a DM for every comment that is either (a) on your PR, (b) @mentions you, or (c) a reply to one of your previous comments
- Allow for a customizable throttle option to delay and group comment notifications. For example

[2018-08-07 00:19] nbasu02 commented on #59
I think the third point would be a nice touch too.  Though it may not be a problem if the throttling is on by default, would it?

[2018-08-07 14:56] abinoda commented on #59
@nbasu02 I think throttling would cover most cases. I'm just trying to avoid throttling as much as possible since I think it introduces the potential for good notifications to not get sent.

[2018-08-08 22:55] Br3nda opened #63 "feature request: ignore bots"
We use a few GitHub bots for dependency updates etc.
I'd like to remove these from the leaderboards.
Github API does mark bots as bots, so you can probably detect these accounts.

[2018-08-08 22:57] abinoda commented on #63
@Br3nda Are these custom built bots? Or external services? I do have a list of bot users I globally exclude so happy to add to that.

I'm not seeing this, if you could point this out to me I'd appreciate it!

[2018-08-09 21:44] abinoda commented on #48
@lukehefson Hi Luke. Wanted to ping you from this issue since I saw you're heading up Papercut and I saw you getting involved @ https://github.com/sindresorhus/refined-github/issues/1469#issuecomment-411465483.

I'm the creator of [Pull Reminders](https://github.com/marketplace/pull-reminders), and as part of my work, have gotten to get an up close look at the GitHub code review workflows of hundr

[2018-08-10 01:57] Br3nda commented on #63
The bots i've used include
https://github.com/dependabot
https://github.com/renovate-bot
https://github.com/backstroke-bot

I think the method in GraphQL is here
https://developer.github.com/v4/reference/object/bot/

Backstroke bot has made our leader board, but at least it's not winning.
![image](https://user-images.githubusercontent.com/12266/43934836-475e7c16-9ca5-11e8-82d7-02114c25fd77.png)

[2018-08-10 01:58] Br3nda commented on #63
Side note: @hh is winning our leaderboard. he's a lovely outside contributor who sent us one PR.

[2018-08-10 05:24] osterman opened #64 "As a user, I want to be able to include unassigned pull requests in team reminders (when the "Require review request" option is checked")"
## what
* Receive a notification when a Pull Request is not assigned to anyone

## why
* We have 200+ open source repos
* We frequently miss PRs by contributors who are not able to assign PRs to anyone

## references
* https://github.com/cloudposse

[2018-08-10 08:27] lukehefson commented on #48
Hey @abinoda. Ah yes, this is very good feedback, and I think we're heard similar comments from users in the past.

Unfortunately, I think that it's probably out of the realms of our Papercuts initiative – due to being a little more 'part of a full workflow' – but I'll make sure to surface it with the relevant Product team for consideration!

[2018-08-10 16:17] abinoda commented on #64
@osterman Thanks for submitting this! Just want to clarify – are you interested in having an option to include PRs with no reviewers included in team reminders? Just want to confirm you're not talking about personal DMs or reminders.

[2018-08-10 16:18] abinoda commented on #63
@Br3nda I've added backstroke-bot to the blacklist. I already have dependabot, reonvatebot, etc on that list. Let me know if any others come up. I'm looking into the API to see if I can automatically identify bots in the future.

[2018-08-10 16:18] #63 closed, assigned to nobody

[2018-08-10 16:28] abinoda commented on #48
@lukehefson Sounds good, thanks!

[2018-08-10 17:17] osterman commented on #64
Yea, I think that would be a good way to surface them.

Basically, it would report:

- Waiting for review (existing)
- Waiting for author (existing)
- Unassigned (new)

[2018-08-13 17:46] abinoda commented on #61
As highlighted to me by @draaglom this morning, one issue with existing reporting is thatt "Review wait time" is an ambiguous blend of both `Time to first review` and `Review request turnaround`, which is confusing and makes reporting unclear. These should be distinctly separated (see `review_time_calculator.rb`).

Note: the time to first review is further confusing because it excludes comments, w

[2018-08-13 17:50] abinoda commented on #64
@osterman Makes sense. Tagging this and moving to the backlog.

[2018-08-14 16:49] abinoda commented on #42
This was just +1'd by @jamesdh:

[2018-08-14 16:51] abinoda commented on #42
Technical approach as discussed with GitHub team:

[2018-08-17 17:38] atopiler commented on #59
Feels like github's slack integration handles this pretty well, by combining all review comments into a single update.  Comment replies are a different story, but either way, you might want to feel out how the github's main slack integration works and find ways to improve on that by directing certain updates to only certain people (right now, all you can do is have all updates go to a certain slac

[2018-08-17 17:55] abinoda commented on #59
@atopiler Thanks! Yeah, batching review comments (when they are submitted together) shouldn't be an issue. It's the replies that I'm scratching my head about a bit more. Either way, I think most of my concerns about this feature have been addressed so I should be moving it into development soon.

[2018-08-21 00:56] abinoda opened #65 "As a user, I would like to receive a DM when someone @mentions me in a comment"
Split off from https://github.com/pullreminders/backlog/issues/59

Currently Pull Reminders can send you DMs when you receive comments on your PRs. This issue is for letting you receive DMs when you are @mentioned in a comment for PRs that aren't your own.

[2018-08-21 00:57] abinoda commented on #59
I've edited this issue title so it is scoped to only DMs when your PR receives comments. I've created a separate issue for DMs when you are mentioned on comments or someone replies to your comment: https://github.com/pullreminders/backlog/issues/65

[2018-08-21 01:31] abinoda commented on #59
@atopiler @nbasu02 @andreasklinger I've released the ability to receive DMs for comments on your PRs – you can opt into it under "My DM Settings". I'll do a broad announcement later this week but would love your feedback on it in the meantime.

Couple notes:
1. I did not include preview text in DMs for inline code comments because there's the potential for there to be a lot of disparate comments a

[2018-08-21 17:02] abinoda opened #66 "Allow Outside Collaborators to use Pull Reminders"
Currently only Members of organizations can sign in and use Pull Reminders. GitHub's API allow for Pull Reminders to also allow Outside Collaborators to access the GUI and connect their Slack accounts.

### Tasks

- [x] Import Outside Collaborators (https://developer.github.com/v3/orgs/outside_collaborators/#list-outside-collaborators) with role `COLLABORATOR`
- [x] Subscribe to `member` webhook e

[2018-08-23 12:13] pedro-mass commented on #61
This might be out of scope for the revamp, but thoughts on limiting data to yourself as an option?

It's cool that you can set targets for wait time and PR size to see how the organization is doing, but it would be cooler to see how you're doing against those targets.

[2018-08-23 16:40] abinoda opened #67 "As a user, I want set default DM settings for other users before onboarding them"
Requested by @plunchete

[2018-08-23 23:35] abinoda commented on #61
@pedro-mass Everything is under consideration for the revamp :) Being able to see how individuals are doing against targets is definitely the plan here. Let me know if you have any ideas / suggestions!

[2018-08-24 02:01] #59 closed

[2018-08-24 02:01] #66 closed, assigned to nobody

[2018-08-31 20:51] abinoda commented on #61
From @tiagokeller-prodigy:

* Will be great to be able to filter the metrics by repository too.
* A timeline chart for the metrics and be able to pull the last 3 months will be great too, this would be very helpful for me to have a quick representation of the heath of our development team.

[2018-09-11 15:48] abinoda opened #68 "Don't send review request DM's until PR checks have passed"

[2018-09-11 15:49] abinoda opened #69 "As a PR Author, I would like to receive a DM when a build/check fails on my PR"

[2018-09-13 19:42] #65 closed, assigned to abinoda

[2018-09-13 19:43] abinoda commented on #65
This is released

[2018-09-18 16:28] petegivens opened #70 "As a PR author, I would like to receive a DM when my pull request gets merged by someone else"
I work on a team where only leads have access to merge PRs into master. It would be great if I could receive a DM when my pull request has been merged.

[2018-09-18 16:48] abinoda commented on #70
@petegivens Thanks for submitting!

[2018-09-19 00:38] brad-decker commented on #61
One thing that would be super helpful for me in almost all metrics is having quarterly comparisons.

[2018-09-20 02:26] majormoses commented on #70
At the company I work at each repo has one or more teams that can merge code into protected branches while anyone in the org can submit a pull request. I can see it being useful but I wonder if this creates more spam as you get an email from github already when a pull request is merged. I am not opposed to implementing this I just think we should probably default to off and let users opt in as we

[2018-09-20 02:29] majormoses commented on #68
Hmm I am torn on this, on the one hand it means that you are not being spammed with requests that are being currently acted on but on the flip side it means that if a user needs help with getting tests to pass it is very easy to slip through the cracks. I think this would be a good idea as an opt-in and have some verbiage to that point. I think if I were to use this I would want a rule with it ena

[2018-09-20 02:31] majormoses commented on #67
To further clarify does that mean setting team defaults where anyone who joins the team defaults to those settings or is this specific to individual users?

[2018-09-20 02:40] majormoses commented on #46
I have not needed it in this form...what I have been doing is having my DMs sent 3 times a day so that I see what it looks like in the morning, what it looks like after work, and what it looks like in the evening. While thats more notifications it has worked pretty well for me. If something is not ready for review the maintainer can add a label to remove it from reminding them.

[2018-09-20 02:42] majormoses commented on #40
While I can see it being messy I actually like seeing them in the slack channel as it shows how you are trending (more or less). I'd be open to it being an option though.

[2018-09-20 02:47] majormoses commented on #30
So as an OSS maintainer for several orgs the common patterns I have seen include a couple of things that we do to filter out pull requests that are not ready. We use a filter to look for labels such as `Status: Awaiting Response` which are applied by maintainers as well as filter pull request titles for combinations of `WIP:`, `[WIP]`, etc.

[2018-09-20 02:49] abinoda commented on #67
@majormoses This is for "My DM Settings". When onboarding other users, you'd be able to set the default settings for the users you are inviting

[2018-09-20 02:50] majormoses commented on #7
While I think there is a lot of good here I worry that in order for it to be useful we would need to expose the full github search so that you can filter by labels and such. That being said I would love to see this happen as this is a big pain point for OSS maintainers across multiple orgs.

[2018-09-20 02:51] abinoda commented on #70
@majormoses Thanks for the feedback!

I'm seeing a strong trend toward folks wanting to move away from email notifications entirely, in favor of having all notifications come through Slack. Based on this, I think this feature request makes sense for the exact reason that it would replace the need for someone having to rely on the email notifications.

[2018-09-20 02:54] majormoses commented on #67
Rather than doing that every time would it make sense to instead have it be something generic defaults for the team? I guess it depends on how your org works but in my use cases the team level defaults for "My DM Settings" would be nicer but it makes sense both ways.

[2018-09-20 02:55] abinoda commented on #67
@majormoses Yeah, what you suggested is a possible implementation. I haven't decided what the exact implementation would look like yet :)

[2018-09-20 21:30] brad-decker opened #71 "As an administrator I would like to set business hours so that time based metrics account for nights and weekends"
I was trying to figure out how we had some reviews that took multiple days waiting for review and realized that those were ones that were requested for review on friday and didn't receive a review until monday. Anyway this can be controlled?

[2018-09-20 21:31] abinoda commented on #71
@brad-decker Definitely! I'm going to merge this into the existing issue that covers this: https://github.com/pullreminders/backlog/issues/35

[2018-09-20 21:31] #71 closed, assigned to nobody

[2018-09-20 21:33] brad-decker commented on #71
Thanks @abinoda :)

[2018-09-21 20:23] abinoda opened #72 "As a user, I want to get a list of my assigned code reviews on demand with a slash command"
Allow users to get reminders on-demand with `/pullreminders`

Should address https://github.com/pullreminders/backlog/issues/73

[2018-09-21 20:27] abinoda opened #73 "As a user, I want to be able to easily tell which of my review request DM's are still outstanding versus complete"
Requested by @douglasmamilor: https://twitter.com/DouglasMamilor/status/1043218531536527360

Also requested by @logicbomb421

[2018-09-21 23:43] abinoda commented on #35
A goofy but interesting feature request to have tomato emojis sent to people in Slack when they're missing their SLAs: https://twitter.com/leaftoe/status/1043225114031153153

[2018-09-23 15:13] plunchete commented on #67
When I first suggested this to @abinoda my idea was to kick out a preferences flow when sending out the invite. While having a default one isn't bad that wouldn't work for my team since everyone has slightly different schedules / time when they want to be heads down

[2018-09-26 01:03] abinoda opened #74 "As a user, I would like to receive a DM when someone replies to a comment I posted"
From @stephenh:

From @andreasklinger:

[2018-09-26 01:04] abinoda commented on #56
Closing for now due to low priority

[2018-09-26 01:04] #56 closed

[2018-09-26 01:04] abinoda commented on #40
Closing for now due to low priority

[2018-09-26 01:04] #40 closed

[2018-09-26 01:05] abinoda commented on #14
Closing due to small scope

[2018-09-26 01:05] #14 closed

[2018-09-26 01:06] abinoda commented on #7
Closing for now due to low priority

[2018-09-26 01:06] #7 closed

[2018-10-01 16:24] ghost opened #75 "As a user, I would like branch names"
As a QA manager, I need to know where code merges are happening in the code repositories.  It would be very helpful to have the destination branch of each PR noted in the notifications.  This can be offered as an option.

[2018-10-01 16:25] abinoda commented on #75
@acbailey17pf Thanks for this suggestion! Is this referring to the team reminders in channels, or direct message notifications?

[2018-10-01 16:27] brianbermanpf commented on #75
This would be great to have. Nice suggestion, Amy!

[2018-10-01 17:14] ghost commented on #75
I'm thinking the direct message notifications.   Especially as the sprint comes to a close, this is where I'm looking for any/all code changes being requested/made.   The reminders already include the repo name so it may make sense there as well?  If it fits?  But that was not my original thought.

[2018-10-02 21:44] abinoda commented on #75
@acbailey17pf Makes sense.

Can you explain that a little more? I'm curious as to why you would be referring to old DM's instead of a recurring team reminder to see whats left for the sprint?

[2018-10-04 03:09] abinoda opened #76 "As a user, I would like to set a count limit for team reminders"
Requested by @xinzweb from Pivotal/Greenplum:

[2018-10-04 03:11] abinoda commented on #76
Curious to know if other OSS maintainers would find this useful – @tas50 @johannasmith @majormoses @bootstraponline @damacus

[2018-10-04 03:46] majormoses commented on #76
I could see it being useful, how would we determine what's top `n`? age? comments? etc.

[2018-10-04 03:47] abinoda commented on #76
@majormoses Good question. Sorting right now is based on `staleness`, so I'd assumed it'd cap based on that.

[2018-10-04 04:22] bootstraponline commented on #76
For my use case it's necessary to see all PRs.

[2018-10-04 04:36] jacklynrose commented on #74
👍

[2018-10-04 04:45] majormoses commented on #76
To clarify I probably would not use that as we use labels to filter out requests that are waiting for feedback but I can see it being useful while say working to pay down a lot of tech debt..

[2018-10-04 14:42] xinzweb commented on #76
If people want to see ALL PR, then just make the `limit 0`. Otherwise, any positive number can help reduce the limit.

The challenge I have so far is that we have 30+ PRs need attention (not meeting the SLA), and if we just focus the top 10, it can directly bring down the overall staleness of the PRs.

Without a focus, the list is just getting longer and longer, and people has to scroll back to se

[2018-10-04 14:42] xinzweb commented on #76
If people want to see ALL PR, then just make the `limit 0`. Otherwise, any
positive number can help reduce the limit.

The challenge I have so far is that we have 30+ PRs need attention (not
meeting the SLA), and if we just focus the top 10, it can directly bring
down the overall staleness of the PRs.

Without a focus, the list is just getting longer and longer, and people has
to scroll back to se

[2018-10-04 15:20] majormoses commented on #76
@xinzweb yup I understand the use case, in the meantime I would suggest maybe using some label filters to either include/exclude pull requests.

[2018-10-04 23:52] xinzweb commented on #76
Yes, I do have label to exclude the PR. In this case, I do want to see the top X stale PRs which are not labelled away.

Or, we can sort the PR list in the reversed order of the staleness? That will leave the stalest one on the bottom instead of on the top. It's easier to find the `stalest` one and focus on it.

Thanks.

[2018-10-08 12:41] davidgoate opened #77 "Question: Is there a way to add a user who has not yet committed anything"
# Scenario

New joiner comes, we set up all accounts, add to GitHub etc etc...

When it comes to pull reminders, even though the user is part of our organisation on GitHub, we cannot see them as a user to add on pull reminders `Onboard users` screen. My hunch is maybe they will only show up once they actually commit code or make a PR. But this is a slight annoyance, we have to remember to come bac

[2018-10-08 18:20] abinoda commented on #77
@davidgoiate Hmmm. Pull Reminders uses GitHub webooks to import new organization members in real-time. I believe the issue is this: when you add a new member, they don't actually become a member until that user "Accepts" their invitation to your org. So I'm guessing when you visited the `Onboard users` screen the user had not yet accepted the invite. Let me know if this theory sounds applicable an

[2018-10-08 18:25] davidgoate commented on #77
@abinoda thanks. I think you might be right - it seems to be fine. Thanks for the advice.

[2018-10-08 18:25] #77 closed, assigned to nobody

[2018-10-16 21:18] tictacteox opened #78 "As a user, I would like to a Dashboard for review quality (ie. # of comments)"
I like that the metrics, trends, and leaderboards can give me a good pulse on my team's PR reviewing efficiency. I would love to also get a pulse on PR review quality. For example, I think that if there were a leaderboard that counted number of comments left on PRs that could be a really good signal.

[2018-10-18 01:32] abinoda commented on #78
Thanks @thisisthais. I like this idea, but I'm not sure if it makes sense to be displayed as a "leaderboard" versus a separate section for just viewing this metric? What do you think? I guess what I'm saying is that the "leaderboard" tends to imply that more is better, and I'm not sure more comments is necessarily a metric that we should be striving for.

[2018-10-18 01:50] abinoda commented on #61
Adding a suggestion from @K11MAR to "track the status of the pull request e.g. open, declined, closed, etc". I presume this means being able to look at number of open/declined/closed PRs over time.

[2018-10-18 01:53] abinoda commented on #6
Workspace Apps are being retired by Slack

[2018-10-18 01:53] #6 closed

[2018-10-18 01:54] abinoda commented on #78
Adding some similar suggestions received over email to this thread:

From @K11MAR:

From @austinwiltshire:

[2018-10-18 14:52] austinwiltshire commented on #78
Leaderboard might also make things too competitive. People might just start commenting to game the system.

[2018-10-18 19:46] abinoda commented on #78
@austinwiltshire Yeah, I think the word "leaderboard" is a bit loaded. I'd like to move more metrics into a more neutral presentation thats not focused on ranking people.

[2018-10-19 19:50] zan-rosenthal opened #79 "As a user, I would like to be able to scope metrics by Github team"
Our overall dev team is split into 2-3 smaller teams at any given time, contributing mainly to the same codebase. Currently, I see metrics for all collaborators in our organization in Github. I would like to be able to choose to see metrics relating only to my team. In terms of the UI, I'd be happy with either scoping it by an already existing Github team or selecting which individual users I want

[2018-10-20 00:37] abinoda commented on #79
@zan-rosenthal Thanks Zan! This'll be done very soon.

[2018-10-20 19:11] abinoda commented on #79
@zan-rosenthal @philboyd A team filter was added to the leaderboard. Currently working on adding it also to the "Metrics" section

[2018-10-20 19:29] abinoda commented on #61
From @xinzweb:

[2018-10-20 19:33] abinoda commented on #46
Closing this due to low priority

[2018-10-20 19:33] #46 closed

[2018-10-20 19:42] abinoda opened #80 "As a user, I want pull requests in team reminders grouped or highlighted by priority"
Right now, pull requests in team notifications are just one big glob. For some teams, this starts to just get ignored. There's been feedback around potentially grouping or highlighting pull requests that are more "urgent" or "high priority" relative to others. There's also a related request, [As a user, I would like to set a count limit for team reminders](https://github.com/pullreminders/backlog/

[2018-10-20 19:43] abinoda commented on #75
@acbailey17pf Just wanted to nudge ^^

[2018-10-20 19:46] abinoda commented on #54
Closing since this is a dupe of https://github.com/pullreminders/backlog/issues/64

[2018-10-20 19:46] #54 closed

[2018-10-22 21:31] zan-rosenthal commented on #79
@abinoda Awesome. Thanks.

[2018-10-25 04:01] abinoda commented on #80
Received a related feature request from @marksb below. I'm trying to think through what grouping options are most useful and should be built in to Pull Reminders. Note that these aren't mutually exclusive, but I'd like to try and keep things simple.

[2018-10-26 21:49] ashanbrown commented on #38
@abinoda Just thought I'd check up on this issue. This is the #1 biggest annoyance with pull reminders at my company.  If we could change one thing, this would be it.

[2018-10-26 22:05] abinoda commented on #38
@ashanbrown Thanks for nudging on this. Would be happy to try and address it, but I'd like to confirm the issue. Is the issue that with CODEOWNERS, reviewers are assigned immediately when a PR is opened, but that the PR is still in a "WIP" state? Is your request to exclude PRs from personal reminders until the "WIP" label or term is removed? Is your request also to NOT send the real-time direct me

[2018-10-27 02:01] majormoses commented on #38
@abinoda that is a pain point at my employer although with emails.

[2018-10-29 15:53] abinoda commented on #38
@majormoses 👍

@ashanbrown Just wanted to follow-up on my previous comment

[2018-10-29 20:00] ashanbrown commented on #38
@abinoda Thanks for the note.  Coworkers of mine who are not in CODEOWNERS still complain about this.  I think the problem is that sometimes PRs get tabled, but reviewers don't want to remove themselves.  Either they're lazy -- hey, they didn't create the PR to begin with -- or they genuinely want to be consulted if the PR is resurrected and merged.  As a general principle, it'd be nice if the flo

[2018-10-29 21:14] abinoda commented on #38
@ashanbrown Makes sense. Generally, my stance on this has been that "review requests should not be issued until a review is actually being requested", but I understand that's not the reality of how many teams' workflows currentloy work.

Question – what's the bigger annoyance?

1. That reviewers get the initial DM notification when they are assigned?
2. Recurring reminders which include the PR tha

[2018-10-29 22:09] ashanbrown commented on #38
#1 is not a problem. I think the direct pull reminders are the best part.
;) I just wish they included CI results. ;). Almost everyone has opted out
of our team reminders slack channel. I think our team of 20 is too big for
it.
On Mon, Oct 29, 2018 at 2:14 PM Abi Noda <notifications@github.com> wrote:

[2018-10-30 00:04] abinoda commented on #38
@ashanbrown Ok, I see I see. Just one tip regarding team reminders – generally for a team that size, it'd make sense to split up into more than one Slack channel (ie. #frontend, #api, etc) and then have filtered team reminders post to those channels.

But I accept this feature suggestion overall. Also...

Can you elaborate on this?

[2018-10-30 02:36] ashanbrown commented on #38
I think splitting things up would be hard for our team.  We tend to have a lot of overlap in responsibilities.

Regarding CI results, sorry for going off-topic, but basically I'm still waiting for the piece of the puzzle that sends me slack message when my work has (a) been approved and (b) passed CI.  If it fails CI, I'd also like to know as soon as possible.  I haven't had much luck making email

[2018-10-30 02:53] abinoda commented on #38
@ashanbrown Wanna create a new issue for this? An option for DM alerts for CI results This seems like a great feature to add to Pull Reminders. It'd be nice if you could also include information on what specific CI tools you're using and want alerts about.

[2018-10-30 03:16] ashanbrown opened #81 "As a user, I'd like a notification when CI results/Checks are ready"
When CI results come in, positive or negative, there are actions I can take immediately.  For CI successes, I want to know the status of a PR review, so I can know to merge my PR.  For CI failures, I want to know what failed immediately so I can make changes and push up a fix.

Fwiw, while we use CircleCI, we don't use CircleCI Checks.  We also use Code Climate, which is another result that could

[2018-10-30 19:00] abinoda commented on #38
Just had a chat w/ @robatwave about this same issue. I've escalated this to the top of the backlog.

[2018-10-31 16:00] ghost commented on #75
@abinoda Could have sworn I responded to this.... sorry!
So we have the DMs posting to team channels.  I would be reviewing each as they came across.  They will be acted on realtime vs. the scheduled reminders that may come 3-4 hours later.   Make sense?

[2018-10-31 23:06] abinoda commented on #75
Yep

[2018-10-31 23:07] abinoda commented on #75
Combining this with another request received to include PR #s in notifications from @beatgeek

[2018-10-31 23:23] abinoda commented on #81
👍 Adding to backlog

[2018-11-01 06:50] abinoda commented on #79
@zan-rosenthal @philboyd I'm marking this card as done per the release that just went out an hour ago.

[2018-11-01 06:50] #79 closed, assigned to nobody

[2018-11-01 06:53] abinoda opened #82 "As a user, I only want business hours counted for "review turnaround time" and "time to merge""

[2018-11-01 06:55] abinoda opened #83 "As a user, I'd like an overview page with all metrics in an easily digestable form"

[2018-11-01 07:00] abinoda commented on #61
@tiagokeller-prodigy Metrics are now filterable by repo

@K11MAR Let me know if the new "Pull request throughtput" and "Open pull requests" dashboards addresses this

@draaglom check out the new "review turnaround" dashboard. This focuses exclusively on review requests and does not blend in "time to first review" – that'll be a separate dashboard soon.

[2018-11-01 07:02] abinoda commented on #61
@xinzweb a chart for "Oldest PR" is coming soon

[2018-11-01 07:07] abinoda commented on #61
Closing this issue in favor of opening up one-off issues to prioritize. Will definitely keep referencing the ideas captured in this one, though.

[2018-11-01 07:07] #61 closed

[2018-11-01 18:36] xinzweb commented on #61
Thanks a lot @abinoda for the update.

[2018-11-02 05:16] abinoda opened #84 "As a user, I want to be able to look at drilled-down data by clicking on the chart"
From @alexmitc

[2018-11-02 06:04] abinoda opened #85 "As a user, I would like metrics posted to Slack to raise my team's awareness and attention"
This has been requested countless times... some excerpts of specific requests below:

From @mkarp

From @ibash

From @ceylanismail:

From @brentbaum:

[2018-11-02 06:18] abinoda commented on #81
@ashanbrown My bad, realized this is a dupe of https://github.com/pullreminders/backlog/issues/69 so I'm merging this one into that one. This is coming soon!

[2018-11-02 06:18] #81 closed, assigned to nobody

[2018-11-02 06:18] abinoda commented on #69
From @ashanbrown:

[2018-11-05 03:04] abinoda opened #86 "As a user, I would like PR #s in notifications"
Requested by @beatgeek

[2018-11-05 20:46] tas50 opened #87 "If a repo is moved to another org it still shoes on the dashboard"
The PR dashboard is a cool feature. I've been digging in to see what old cruft we have around. We've been in the process of moving some of our EOL projects into a "boneyard" org. I'm noticing that the repos I moved late last week still show up on the dashboard. Any way to get this to refresh so the old junk gets taken off the list.

[2018-11-05 20:47] tas50 opened #88 "Large names in PR dashboard cause repos selection to draw off screen"
We have some very large repo names and the repos selection list draws from right to left, which causes it to draw off the left hand side of the screen.

![image](https://user-images.githubusercontent.com/1015200/48025663-eac39e80-e0f8-11e8-91e6-b6ff2668a06d.png)

[2018-11-05 20:48] abinoda commented on #87
@tas50 I'll look into this.

[2018-11-05 21:38] abinoda commented on #87
@tas50 Deploying a fix for this now – check back in 5 mins but marking this as resolved. Separately, would love suggestions on ways to make the PR Dashboard more useful (ie. quick filters / sorting).

[2018-11-05 21:38] #87 closed, assigned to nobody

[2018-11-05 23:42] abinoda commented on #55
Closing due to inactivity. @terminalmage see my responses above

[2018-11-05 23:42] #55 closed

[2018-11-06 06:05] abinoda opened #89 "As a user, I would like to receive a DM when someone mentions a team I'm on in a comment"
Requested by @andrewmillspaugh

[2018-11-06 21:21] abinoda commented on #42
I began work on this feature today but ran into some issues. After doing some more testing and research, I believe this feature is unfeasible given the current capabilities of GitHub's API.

What I am trying to build is a Slack DM notification for pull request authors when their pull requests go into a state of having a merge conflict, either from new code that was pushed or the base branch being

[2018-11-06 22:51] abinoda commented on #42
Update: @swinton suggested seeing if conditional requests could be used to trigger GitHub into calculating mergeability without eating into the rate limit. Turns out, it can 🎉 This reduces the number of API requests required by half (compared to my original projections). I'm not sure if this completely solves my concerns around rate limits but it does certainly help. I'm going to run some more num

[2018-11-06 23:02] tas50 opened #90 "Only ping to a single slack with product announcements"
I'm on 3 different github orgs with Pull Reminders and I get 3 different direct messages when new features are released. Any chance we could consolidate these to a single Slack.

[2018-11-06 23:03] tas50 opened #91 "Enable opting-out of DMs about new product features"
Some of our users have complained about the product feature DMs. Could we get the ability to turn this off?

[2018-11-06 23:16] abinoda commented on #91
@tas50 Thanks for creating this. Agree 💯 and I plan on adding this with or prior to the next feature announcement. Only thing is I think this opt-out feature will need to be announced via DM...

[2018-11-06 23:17] abinoda commented on #90
@tas50 Since https://github.com/pullreminders/backlog/issues/91 will be added, you can just opt-out of feature announcements for all but one org. I don't think this is a common enough case to warrant me adding "automatically avoid sending more than once" logic. Re-open if you disagree.

[2018-11-06 23:17] #90 closed, assigned to nobody

[2018-11-06 23:23] tas50 opened #92 "Allow selecting the type of repo on the PR dashboard"
My team is responsible for all OSS projects at our company, but there are many more private repos (hundreds) in our org that belong to other teams. Would it be possible to allow selecting private vs. public repos on the PR dashboard.

[2018-11-06 23:25] abinoda commented on #92
@tas50 Thanks, this has been requested by other OSS-focused folks like @majormoses. Adding to the backlog.

[2018-11-07 01:29] abinoda commented on #42
Update: I did some numbers and am unblocked on this. Hope to get this out this week!

[2018-11-07 19:08] abinoda commented on #73
This feature was also requested by @cschultztech

[2018-11-08 01:21] abinoda commented on #42
This has been released in closed beta. @jchavarri I've enabled it for your team. Please try it out and let me know how it works!

[2018-11-08 02:39] abinoda commented on #91
@tas50 This is done – there is a new option added under "Your DM Settings". I'll also mention this in the next feature announcement

[2018-11-08 02:39] #91 closed, assigned to nobody

[2018-11-08 02:44] #42 closed

[2018-11-08 14:44] davidgoate opened #93 "It it possible to restrict members from updating target values?"
It would seem that any member can update PR targets like the target review turnaround time. Is it possible that only some users or just the "owner" can do that?

[2018-11-08 21:34] bobheadxi opened #94 "As a user, I want full historical data imported for metrics"
First of all, I love the new dashboard stuff!

However, would it be possible to view longer time periods? The limit seems to be 24 weeks - at [UBC Launch Pad](https://github.com/ubclaunchpad), as a school club, this time frame doesnt make too much sense as our activity drops down in the summer, and the graphs dont tell us if we are making significant year-on-year improvements.

If a complete histo

[2018-11-08 21:36] abinoda commented on #94
@bobheadxi Thanks for filing this Robert! The issue with longer data history is really just a matter of cost for us right now. Both in terms of storage space and the additional compute resources required to go *all the way back*. We're actively thinking about this problem though, including potentially making it an additional paid add-on or something. Where its desperately wanted or needed, we can

[2018-11-08 21:57] abinoda commented on #38
@ashanbrown @majormoses @robatwave @cschultztech @sgringwe this is live in production 🙌

[2018-11-08 21:57] #38 closed

[2018-11-08 21:57] abinoda commented on #38
There's a link "More settings" under "Your DM Settings". This is deploying now so you'll see it in like 3 minutes.

[2018-11-08 21:58] abinoda commented on #38
@plunchete ping – I know you recently requested this as well

[2018-11-08 22:02] bobheadxi commented on #94
This is pretty understandable, though even just one year (52 weeks) would be nice as well! Alternatively, "condensed" versions of older historical data might be less taxing while still allowing *some* data to be available

[2018-11-08 22:04] abinoda commented on #94
@bobheadxi Yep – we're working on some behind-the-scenes database cleanup stuff so we'll reassess this once we have a better look at actual storage costs.

[2018-11-08 22:17] abinoda commented on #93
@davidgoate Hi David, thanks for submitting this. On the fence about this one only because a lot of teams aren't super strict or methodical about who is an "owner" and who is a "member". What do you think?

[2018-11-09 00:46] majormoses commented on #38
@abinoda I am still not seeing it (I see the more settings but nothing that indicates anything about `CODEOWNERS`) and also I think its more important that this is supported at the team level than the individual level.

[2018-11-09 00:48] abinoda commented on #38
@majormoses See the screenshot below – this is on the "Your DM Settings" page. What do you mean by "supported at the team level"? String and label filters already exist for team reminders. The goal of this issue was to add those same filtering capabilities to persona/DM reminders.

<img width="796" alt="screen shot 2018-11-08 at 4 46 56 pm" src="https://user-images.githubusercontent.com/50083/4823

[2018-11-09 00:59] majormoses commented on #38
Yup I see that but no option underneath related to `CODEOWNERS`

![image](https://user-images.githubusercontent.com/3145127/48236570-b6114a80-e377-11e8-9470-d896f530fa5b.png)

[2018-11-09 01:04] majormoses commented on #38
the existing/new filters don't help with the problem outlined. The problem is that people create WIP PRs and do not always (oor in many cases able to) tag appropriately. Ideally if CI is failing there is no sense messaging the team.

[2018-11-09 01:04] abinoda commented on #38
@majormoses Based on earlier comments here, the issue I was trying to tackle is that previously there was no way to exclude things like "WIP" from personal reminders at all. In the past, when users brought this up, I replied by saying that they should simply not assign reviews until the pull request was out of a WIP state. However, for teams that use codeowners, review requests are *automatically*

[2018-11-09 01:06] majormoses commented on #38
Will do

[2018-11-09 01:06] abinoda commented on #38
@majormoses We replied at the same time. But I'm not understanding "the existing/new filters don't help with the problem outlined". Before these filters were added, there was no way to exclude WIP pull requests from personal reminders if you were assigned as a reviewer (automatically via CODEOWNERS or manually). Now there is.

[2018-11-09 01:12] majormoses opened #95 "As a user, I'd like an option to exclude pull requests with failing check (CI) status from my reminders"
People submit WIP or (unfortunately) horribly broken code all the time by looking at the status checks we can determine if its worth pinging a user or the team or wait for the submitter to fix the code. In a way its some ways it's the reverse of #69

[2018-11-09 01:13] majormoses commented on #38
@abinoda #95 would help with what I am getting at

[2018-11-09 01:15] abinoda commented on #95
This is somewhat of a dupe of https://github.com/pullreminders/backlog/issues/68, which I am closing, but please check it out because you left a comment there.

This is also related to https://github.com/pullreminders/backlog/issues/69, although less so for open-source since I'm guessing most of your pull request authors aren't going to be using Pull Reminders to help them catch failed checks, rig

[2018-11-09 01:15] abinoda commented on #68
Dupe of https://github.com/pullreminders/backlog/issues/95

[2018-11-09 01:15] #68 closed, assigned to nobody

[2018-11-09 01:16] abinoda commented on #95
@majormoses I updated the title of this issue, let me know if it looks right to you

[2018-11-09 01:30] majormoses commented on #95
So at work I'd like to avoid getting pinged about stuff that's failing, they can always hit me up in slack to get help. For OSS projects where users don't necessarily have an easy line of communication outside of github to maintainers to reach out for help.

[2018-11-09 01:31] abinoda commented on #95
@majormoses So, one temporary workaround could be if you had a bot that automatically added and removed a "checks-failing" label from pull requests. Then you could just exclude that label in your Pull Reminders settings, right?

[2018-11-09 03:26] majormoses commented on #95
So it would require two components in order to work in its current state:
1. when a PR is opened it would be auto labeled with something like `ci: running` and create a filter for this
1. When CI passes the previously applied label would be removed, in the event of a failure we would need to remove the previous label and add apply another label with something like `ci: failing` and create a filter

[2018-11-09 09:27] davidgoate commented on #93
@abinoda  I can see both sides, we are quite a small team and I do trust that people wouldn't change the targets with malicious intent, but we are starting to take these metrics more and more seriously and it would be annoying if we did find the metrics looked good only to later discoverer the targets were relaxed some time ago without proper consultation about why.

As a side note, I've not taken

[2018-11-09 18:17] abinoda commented on #93
@davidgoate One thing to note – the target success rates are calculated on the fly. So even if someone changes the target, you can change it back and the current/historical target success rates will be based on the currently set target.

And thanks for the kind words!

[2018-11-12 02:29] ashanbrown commented on #38
Thanks @abinoda!

[2018-11-12 16:58] plunchete commented on #38
Thanks @abinoda! I think it would make sense to have some org level preferences eg: I don't want to ask everyone on my time to go add wip and whatever else we come up to their preferences.

[2018-11-12 17:01] abinoda commented on #38
@plunchete Makes sense. FWIW, WIP prefixes are now ignored by default. That'll be mentioned in the feature announcement going out tomorrow

[2018-11-14 01:05] abinoda opened #96 "As a user, I would like to sort leaderboard rows by different columns"
Requested by @cschultztech

[2018-11-14 18:44] abinoda opened #97 "As a reviewer, I would like to be re-assigned when a PR author addresses my comments or requested changes"
Incomplete list of users who have brought this up: @gsuess, @andrewmillspaugh, @james-pack, @thisisthais, @zan-rosenthal, @veerenmandalia, @mdsib, @callmevlad, @bhang.

My concern with this feature request is that it feels like a hacky solution to the problem of teams not having a good workflow for re-requesting reviews after making changes on their PRs.

On GitHub, after a requested reviewer subm

[2018-11-14 18:55] abinoda commented on #97
This comes a lot... most recently with @tlaney, @zan-rosenthal, @veerenmandalia so tagging them.

My concern with this feature request is that it feels like a hacky solution to the problem of teams not having a good workflow for re-requesting reviews after making changes on their PRs.

On GitHub, after a requested reviewer submits a review, the review request is nullified. If you click the gear ic

[2018-11-21 06:38] abinoda opened #98 "As a user, I would like a Dashboard for pull request size that lets me set a target"
Requested by @davidlockwood @mark-the-spark

[2018-11-21 06:41] abinoda opened #99 "As a user, I would like to be able to annotate charts in Dashboards"
Requested by @camfulton:

[2018-11-26 06:36] abinoda opened #100 "As a user, I would to set holidays where reminders are disabled"
Requested by @James-Quigley

[2018-11-26 06:37] abinoda commented on #100
@James-Quigley My only hesitation with this idea is that I feel like Slack's Do Not Disturb feature already solves it? https://get.slack.help/hc/en-us/articles/214908388-Pause-notifications-with-Do-Not-Disturb

Curious what you think.

[2018-11-26 06:48] abinoda opened #101 "As a user, I would like to have reviewers automatically assigned based on load"
Many development teams struggle with the problem of reviews being distributed unevenly. This results in inefficient workloads and reduced collaboration.

It would be nice to have a tool that automatically assigns reviewers for pull requests based on the number of pull requests everyone has reviewed. This would need to be configurable by repo and take into account teams.

Note that GitHub [CODEOWNE

[2018-11-26 06:57] abinoda opened #102 "As a user, I would like to set a review count at which point a PR should be waiting on authors"
Requested by @jamesdo:

Requested by @endrec:

[2018-11-27 17:34] abinoda opened #103 "As a user, I would like PRs to be "waiting on author" after a certain number of reviews"
Requested by @justinko:

Requested by @jamesdo:

Requested by @endrec:

Requested by @tinder-hemanthprasad:

[2018-11-27 17:34] #102 closed

[2018-11-27 17:43] abinoda commented on #103
@jamesdo @endrec I've been thinking about the idea of adding a `Number of reviews needed` option for `Reminder authors after reviews`. My concern is around what happens when there are multiple rounds of review. For example, if the `Number of reviews needed` were set to `1`,

1. Author opens a pull request and assigns Reviewer A, Reviewer B, and Reviewer C
2. Reviewer B requests changes
3. Pull req

[2018-11-28 08:12] abinoda commented on #86
@beatgeek This is being deployed tomorrow!

[2018-11-28 08:12] #86 closed, assigned to nobody

[2018-11-28 09:21] endrec commented on #103
Creating a GitHub Action (which I never heard of before :blush: ) is an interesting idea, the biggest problem I can see that it would need to be added to every repo individually, I would prefer something centrally configured.

Multiple rounds would not be a problem in our case, as we tend to dismiss previous reviews when changes were made.

[2018-11-28 18:38] jamesdo commented on #103
More than number of reviews, I believe number of approvals would be more useful. Regardless of whether or not a PR is waiting for review from a tagged person, it can be ignored if, for example, 2 team members have given explicit approval.

Reducing the time to _mergability_, which for our team is typically defined by # of explicit approvals.

And I _think_ me and @endrec may have a slightly differ

[2018-11-28 18:44] abinoda commented on #103
@jamesdo @endrec Thanks both of you for your feedback. It sounds like a solution here would be to add a `Number of approvals` settings as @jamesdo suggested, instead of a `Number of reviews` setting. If the setting is only applicable to approvals, then the problem I described earlier regarding multiple rounds of reviews is easily solved by [dismissing approvals](https://help.github.com/articles/di

[2018-11-28 19:01] endrec commented on #103
Yes, I agree with @jamesdo, we have a slightly different set of problems. Adding a `Number of Approvals` setting solves one of these problems.

In my opinion, notifying the author instead of the team, when changes are requested, also reduces the *time to mergability*, as the author can start adding the requested changes sooner.

[2018-11-28 20:09] abinoda commented on #103
Makes sense. So let me get this straight...

@jamesdo is asking for "point reminders at the author when there's one approval, regardless of whether or not there are separate requested changes".

And @endrec, you are asking for "point reminders when there's one review, regardless of whether it is an approval, requested change, or comments".

@endrec  Can you 100% confirm that all review types are d

[2018-11-28 20:38] endrec commented on #103
I'd use a bit different wording to summarise @jamesdo's and our use case:

Remind the author (*not* the team) when
- there is at least the set number of approvals (different teams might require different number of approvals) **or**
- there is one or more requested change(s)

I can confirm that new commits should dismiss existing reviews of any kind. (We are working towards the 100%.)

[2018-11-29 02:39] abinoda commented on #103
@endrec @jamesdo Gotcha, thanks for the help here. I'm going to move forward with this soon after I get a couple things in progress now out the door.

[2018-12-01 07:54] Kivol opened #104 "As a user, I would like to receive DM's for GitHub Issue activity"
Hello,
This Pull Reminders app looks like working great especially for the Slack notification of PR's, but it'll be great if I can get the same notification for Issues. My suggestion for the notification is like the following:

* [ ] Get notified when I or my team is assigned a issue
* [ ] Get notified when my issue got a comment
* [ ] Get notified when my issue is closed or reopened
* [ ] Get not

[2018-12-01 20:11] abinoda commented on #104
@Kivol Thanks for submitting this! To gather a little more context, may I confirm that your team uses GitHub issues for project management? Do you use GitHub Projects also? Or something like https://www.zenhub.com?

[2018-12-02 05:01] Kivol commented on #104
Yes, we use GH issues for engineering project management, but we don't use GH Projects or zenhub.

[2018-12-03 02:23] abinoda commented on #67
Closing for now due to low priority

[2018-12-03 02:23] #67 closed, assigned to nobody

[2018-12-03 02:31] abinoda commented on #72
Something like this:

[code]

Could be nice to also add a Slash command for https://github.com/pullreminders/backlog/issues/64

[2018-12-05 21:16] abinoda commented on #103
Just had this same thing requested by @justinko:

[2018-12-05 21:46] shs161 commented on #53
I think identify inside and outside contributors is also important, as some research has shown that PR response time differs by type of contributors.

[2018-12-06 00:20] wildcard commented on #78
The following would be really helpful:
- [ ] Counting comments on PR
- [ ] Counting resolved conversations on PR
- [ ] Number of owned comments on PR (I want to praise devs for self reviewing)
- [ ] Number of given comments (feedback by other teammates)
- [ ] PR has been editted after an approval
- [ ] PR has been editted after an disapproval - new code to review

[2018-12-06 02:18] majormoses commented on #53
How do you identify/classify an inside vs outside contributor? I am a member (and some cases owners) of several OSS projects that are associated with a commercial entity backing it but I do not generally collect any payment for these contributions. Due to the way github works on some OSS projects I generally invite maintainers (once they have proven themselves through several pull requests) into t

[2018-12-06 02:28] majormoses commented on #53
might want to take a look at cauldron.io for some additional inspiration, here is an [example](https://dashboard.cauldron.io/app/kibana#/dashboard/GitHub-Pull-Requests-Timing?_g=(filters:!(('$$hashKey':'object:78','$state':(store:globalState),meta:(alias:!n,disabled:!f,index:git,key:project,negate:!f,value:sensu-plugins),query:(match:(project:(query:sensu-plugins,type:phrase))))),refreshInterval:(

[2018-12-06 02:43] shs161 commented on #53
I understand your point. However , the whole idea of social coding is to get contribution from people who are not core member of the project team. This becomes even more important when a for profit firm is engaged in open community ( or else why should they ). What can be some good ways to differentiate between a member of core team ( people who start the project or firm employees who work on a pr

[2018-12-06 03:16] abinoda commented on #72
Also add a slash command to open web app:

[code]

[2018-12-06 06:10] abinoda commented on #74
@watsonhamblin @stephenh @ccpost @galenscook This was just shipped! The notification will say `<user> replied to you in <thread>`. Note that it may take a little bit for Pull Reminders to backfill old comments, so you might not immediately start getting notifications for threads where you haven't commented since this was deployed.

[2018-12-06 06:10] #74 closed, assigned to nobody

[2018-12-06 06:16] majormoses commented on #53
It's certainly a complex problem and it requires understanding a bit about each projects workflows. There are various metrics that can be used such as email addresses in commits, github permissions, and such. Maybe by answering a few key questions we can use various metrics differently.

[2018-12-06 06:19] abinoda commented on #53
Thanks for the thoughts both of you. I wanted to provide a quick update for folks on this thread. I've been busy the past few months with adding improvements to Pull Reminders, but I'm planning on dedicating time starting this month to getting a first version of this tool out the door. Thanks again to everyone for all the ideas generated here. I'm excited to start chipping away!

[2018-12-06 06:35] abinoda commented on #69
@ashanbrown I wanted to follow-up on this. You had mentioned before that you don't use [CircleCI Checks](https://circleci.com/blog/see-the-status-of-your-circleci-workflows-in-github/). Is this still the case? If so, would you mind explaining why? I've started planning out development for this, but I don't think it makes sense to build this around something *other* than the Checks API.

[2018-12-06 06:35] abinoda commented on #69
@rouge8 @zan-rosenthal @taylor-cedar @xeger @ccpost would you mind sharing what CI tool(s) you use so I can look into what's required to support them?

[2018-12-06 06:35] rouge8 commented on #69
We’re using Travis.

[2018-12-07 08:20] ccpost commented on #74
I got some of these notifs today and it was really helpful! 👍

[2018-12-07 08:28] ccpost commented on #69
We're using CircleCI, though at the moment our Circle config file doesn't use Workflows, which seems to be necessary to report status through the GitHub Checks API (https://circleci.com/docs/2.0/enable-checks/). We plan to re-configure soon, though.

[2018-12-07 15:16] xeger commented on #69
We're using Circle workflows, plus a dash of TeamCity.

[2018-12-08 06:12] majormoses commented on #69
I have orgs using travis-ci.org, travis-ci.com, circle-ci, jenkins, and [atlantis](https://www.runatlantis.io).

[2018-12-11 12:51] jisung commented on #101
Our team is really looking forward to using this feature and some other teams in the company may start using this PullReminders after this feature is on. Thanks 👏

[2018-12-23 00:27] abinoda commented on #69
@xeger @taylor-cedar @zan-rosenthal @ashanbrown @ccpost @majormoses @rouge8 This is released in closed beta and I've enabled it for your accounts. You can enable it from "Your DM Settings". Note that you'll need to install an additional GitHub App to enable the webhooks needed for this. Also, this feature does NOT use GitHub's [new checks API](https://developer.github.com/v3/checks/). Instead it u

[2018-12-24 00:59] taylor-cedar commented on #69
@abinoda That is great! A couple people on our team mentioned they wanted this. We currently use Jenkins though. It would be amazing if we could just type in any status check name. We possibly are going to switch CIs, so ideally it would be better if I could ask for any string (full match. I don't think regex is necessary)

[2018-12-24 05:26] abinoda commented on #69
@taylor-cedar Happy to add a field for setting specific check names. Just for reference could you post a screenshot of your checks so I can see the displayed names?

[2018-12-24 05:55] taylor-cedar commented on #69
Sure. Here is a screenshot. As you can see Jenkins builds are completely unique to your build name (and don't say jenkins), so it makes sense to allow custom names.

<img width="841" alt="screen shot 2018-12-24 at 12 53 55 am" src="https://user-images.githubusercontent.com/25646493/50391774-94490880-0716-11e9-928e-d0662a2ae50b.png">

[2018-12-24 20:27] abinoda commented on #103
@justinko Just shipped the first iteration of this – look under "More filters" for "My DM settings" and there's a way to exclude PRs with a specified number of non-dismissed approvals. Let me know how it works!

[2018-12-24 23:26] abinoda commented on #69
@taylor-cedar Awesome. Will add a field for this shortly.

[2018-12-25 04:58] abinoda commented on #103
@jamesdo @endrec @tinder-hemanthprasad I've been working on adding the `Number of reviews needed` setting for team reminders. For now I'm moving forward with the solution shown in **Code sample 1** below which I think should work for 95% of cases, but I wanted to get your feedback since this is a difficult problem.

As discussed earlier, this feature is difficult because Pull Reminders needs to be

[2018-12-26 22:21] tinder-hemanthprasad commented on #103
- We sometimes have a lot of discussion on the PRs. If each comment is considered a review it makes it complicated. We generally don't add request reviews to encourage everyone in the team to review.
- We look for 2 approvals to get the PR merged. One `ok` (anyone) and `ok-approved` (Senior developer or Module owners). We use labels to identify what's needed for the PR.

[2018-12-27 06:29] abinoda commented on #103
This is live 🚀 – we've added a "Needed Reviews" setting to control when a PR should be considered "reviewed" and be assigned back to the author for action. This is helpful if your team typically assigns multiple reviewers to PRs but only require one or two reviews to consider PRs "reviewed".

<img width="682" alt="screen shot 2018-12-26 at 1 11 15 pm" src="https://user-images.githubusercontent.com

[2018-12-27 18:32] abinoda commented on #69
@taylor-cedar Ok, just added a text field for typing in substring matches for check names. Please let me know how it works!

<img width="695" alt="screen shot 2018-12-27 at 11 48 02 am" src="https://user-images.githubusercontent.com/50083/50489456-5cb7b600-09cd-11e9-9b3d-0ea27e40b2ae.png">

cc: @xeger @majormoses @rouge8 @ccpost @zan-rosenthal

[2019-01-02 17:45] #69 closed, assigned to nobody

[2019-01-03 10:07] abinoda commented on #101
@jisung In order to help us with the requirements for this, could you tell me more about how you'd want this to work for your organization? How do you want reviewers to be assigned and what options might you want to configure?

My assumption is that settings should be configured per repo and might include number of reviewers to assign, what groups (GitHub Team) of reviewers to pool from, and how r

[2019-01-07 22:54] taylor-cedar commented on #69
@abinoda I am not seeing it work on our repo. Both our status checks end in `tests`, but I am not getting alerted for some reason in Slack.

[2019-01-08 07:59] abinoda opened #105 "Updates to Pull Reminders for GitHub Enterprise"
Maintenance improvements for the version of Pull Reminders for [GitHub Enterprise](https://github.com/pullreminders/enterprise).

- [ ] Set Redis config
- [ ] Rotate logs to avoid infinite disk space usage growth
- [ ] Use supervisord instead of bash for multi-service container

https://github.com/integrations/slack/issues/565

[2019-01-08 09:47] majormoses commented on #69
I got some DM's
![image](https://user-images.githubusercontent.com/3145127/50822644-0f99e500-12e7-11e9-9b36-d2250c4e1f11.png)

With the following config under `My DM settings` for the project
![image](https://user-images.githubusercontent.com/3145127/50822695-30623a80-12e7-11e9-810b-e242bc5f6026.png)

[2019-01-08 09:49] majormoses commented on #69
I am gonna see if modifying it to one of `travis-ci/(push|pr)` would do what I expect and only send one DM which would be nice.

[2019-01-08 16:35] abinoda commented on #69
I'm looking into sending one DM after all checks instead of sending separate DMs for each individual check. Not sure I can do this easily with GitHub's API but we'll see.

[2019-01-09 04:40] majormoses commented on #69
I validated that you can use `travis-ci/push` to only get one notification and that it will not match the pr one.

[2019-01-09 04:53] abinoda commented on #69
@taylor-cedar @elifiner Looping you guys back into this thread since you seem to be encountering a similar issue with not receiving failed CI notifications.

I can't reproduce the issue but I have a theory that it's because right now Pull Reminders uses the `sender` property in the [webhook payload](https://developer.github.com/v3/activity/events/types/#statusevent) to determine the user to notify

[2019-01-09 05:04] abinoda commented on #69
@taylor-cedar @elifiner Ok, the change is deployed. Let me know if you're able to get notifications now.

[2019-01-09 05:43] finereli commented on #69
I like your theory, I think the sender is set to whoever set up CI in the first place and not the person with the PR. I'll test this tomorrow!

[2019-01-09 06:31] taylor-cedar commented on #69
Thanks @abinoda and sorry for the delayed response. I will test this tomorrow morning and let you know.

[2019-01-09 15:02] taylor-cedar commented on #69
@abinoda It's working now! Thanks for building this. It works perfectly.

[2019-01-09 15:36] abinoda commented on #69
@taylor-cedar Great!

[2019-01-09 16:06] abinoda commented on #103
Marking this as complete, but @endrec @jamesdo would appreciate feedback on this!

[2019-01-09 16:06] #103 closed, assigned to nobody

[2019-01-09 16:58] endrec commented on #103
@abinoda Sorry for not responding earlier, but the last week was extremely busy for us. So far it seems the implemented solution covers our needs, thanks for your great job. :)

[2019-01-09 18:36] abinoda opened #106 "[Announcement] "Needed reviews" setting for team reminders"
We've added a "Needed Reviews" setting for team reminders to control when a PR should be considered "reviewed" and assigned back to the author in reminders. This is helpful if your team typically assigns multiple reviewers to PRs but only require one or two reviews to consider PRs "reviewed".

<img width="682" alt="needed_reviews" src="https://user-images.githubusercontent.com/50083/50920475-1588e

[2019-01-10 00:43] finereli commented on #69
Working for me as well, great work Abi!

[2019-01-10 00:52] ashanbrown commented on #69
@abinoda I finally got around to enabling this.  Thanks for putting me on the beta.  I'm seeing DMs for builds that I haven't triggered myself.  I'm not sure if that's intended or not.  Some are triggered by people outside my organization (by PRs on public projects), which is definitely just noise to me.  I'd really like to see this only for PRs that I've authored.

Also, you asked about why I did

[2019-01-10 00:55] abinoda commented on #69
@ashanbrown

Yikes – has that happened recently, like in the past few hours? Just pushed a change this afternoon that changed some of the logic so I want to double check.

Yep makes sense. For now Pull Reminders isn't even listening to Checks API because no one appears to be using it yet.

[2019-01-10 00:56] abinoda commented on #69
@ashanbrown

I can definitely update the logic to enforce this.

[2019-01-10 00:57] ashanbrown commented on #69
I haven't had the setting enabled long enough to say. Happened at 4:25 PM PT today fwiw.

[2019-01-10 01:00] abinoda commented on #69
@ashanbrown Ok, the logic right now is notifying the COMMIT author whenever a build fails for one of their commits.  I'm guessing what could have happened is that a build failed for an old commit of yours that is in someone else branch and somehow had a build failure?

Can you quickly trace one of the notifications you got that was weird to see if it fits what I just described? Then I'll go ahead

[2019-01-10 02:42] abinoda commented on #69
@ashanbrown I just deployed an update so that you are only notified if you are the author of the PR on the branch where the build error occurred. Can you let me know if things work better now?

@majormoses @taylor-cedar @elifiner Please let me know if you notice any adverse changes to your CI notifications!

[2019-01-10 02:48] kaiden-dragon commented on #69
@abinoda hey man, so I've tried to use this feature as follows:
![image](https://user-images.githubusercontent.com/43593050/50942897-331a8680-14c5-11e9-9e47-a4daa8d68dc2.png)
![image](https://user-images.githubusercontent.com/43593050/50942901-37df3a80-14c5-11e9-9cf1-90cea6b78698.png)
But it doesn't work? Maybe I've been inputting the wrong names?

[2019-01-10 02:53] abinoda commented on #69
@kaiden-dragon While I was working on the last change I noticed something else that could've caused this to not work for some users,  which I fixed. Can you try some new failed builds now and see if it works now?

[2019-01-10 02:55] abinoda commented on #69
For more info, the issue I fixed was previously this was relying on the commit author ID, which GitHub only sets in certain cases where it can match email addresses.

[2019-01-10 03:44] kaiden-dragon commented on #69
@abinoda
![image](https://user-images.githubusercontent.com/43593050/50944828-01a5b900-14cd-11e9-98f6-68d6b05fdcf3.png)
Hi, it still doesn't work? any clue on what could be wrong lol

[2019-01-10 05:46] abinoda commented on #69
@kaiden-dragon lets take this off thread, will email you again

[2019-01-10 17:51] abinoda commented on #69
@kaiden-dragon Your issue has been resolved.

For anyone else reading this – the issue was that @kaiden-dragon's checks were using GitHub's [new Checks API](https://developer.github.com/changes/2018-05-07-new-checks-api-public-beta/), which I hadn't added support for since not a lot of people seemed to be using it. Pull Reminders now *does* support the new Checks API as well as traditional commit

[2019-01-11 16:20] abinoda commented on #73
@douglasmamilor @cschultztech @mwarkentin @mmontreuil @jbkahn @nickpresta Hi all – I'm working on adding a `/pullreminders` slash command https://github.com/pullreminders/backlog/issues/72 and I'm hoping that it addresses this problem as well.

The slash command would allow you to get an up to date list of your assigned PRs whenever you're getting around to doing some reviews. This way you don't n

[2019-01-11 23:59] abinoda opened #107 "As a user, I would like suggested actions based on my metrics"
From @peterwilson:

[2019-01-12 06:33] abinoda commented on #88
@tas50 Sorry this took so long to fix, but it should be good now!

[2019-01-12 06:33] #88 closed, assigned to nobody

[2019-01-12 06:34] abinoda commented on #98
@davidlockwood @mark-the-spark @davidgoate This is live 🚀

[2019-01-12 06:34] #98 closed, assigned to nobody

[2019-01-12 23:12] abinoda commented on #72
@zan-rosenthal @erikquinn @hkdobrev @Daenyth This has been released.

[2019-01-12 23:12] #72 closed, assigned to nobody

[2019-01-13 00:48] abinoda commented on #103
@endrec Thanks for reporting back!

[2019-01-15 06:06] jisung commented on #101
@abinoda
Most of your assumption looks right. This is our current rules to assign a reviewer to PR, please let me know if anything unclear:
1. Each repo has a pre-defined set of reviewers
2. When PR is created, the reviewer should be assigned automatically from the members.
3. If a reviewer is not available at that time (ie. github status is busy), he or she should not be assigned to the PR.

[2019-01-15 06:08] abinoda commented on #101
@jisung Couple questions:

At your company, approx. how many repos do you have, and do they all have different pre-defined reviewers? Or do they fall into two or three different patterns?

Just one reviewer? Or two?

[2019-01-15 06:43] jisung commented on #101
@abinoda

Company has a lot of repos but the repos need for this automatic PR assignment are under 5 currently.

Yeah but we manage this by [Team](https://help.github.com/articles/organizing-members-into-teams/). For example, if android-dev repo has two team (android-team, ios-team) and 5 collaborators, then reviewers will come from only android-team.

Just one is enough for now. (it would be grea

[2019-01-15 06:44] abinoda commented on #101
@jisung Perfect. This is very in line with what we're working on. And thanks for suggesting making use of GitHub's new status feature - we were thinking the same!

[2019-01-15 16:39] abinoda commented on #62
From @morganwalker:

[2019-01-16 01:21] peterwilson opened #108 "As a user, I'd like the ability to exclude files and directories from statistics (specifically PR Size and LOC Changed)"
Certain files are auto generated and shouldn't be considered when tracking metrics around PR size or LOC changed. These (often large) files can skew statistics about which repos / developers are creating the most change.

[2019-01-16 02:02] abinoda commented on #108
@peterwilson 👍 This is on the radar.

[2019-01-16 18:50] ccpost commented on #103
@abinoda This is great! I love the distinction between whether action is on the reviewer(s) or the author.

I'm having a bit of trouble with getting action back on the reviewers on a particular PR, though. The flow went (I have it set to "After one review" since we just need one approval):
- PR opened -> A + B requested as reviewers (they are both also code owners on some files)
- A + B both left

[2019-01-16 19:00] abinoda commented on #103
Hi @ccpost – so Pull Reminders should work with the series of events you described. If reviewers A and B are requested, then both of them respond with comments, their review requests are fulfilled so the PR should flip to "Waiting on Author". Then, if reviewers A and B are requested again, the PR should go back to "Waiting on Reviewer".

Want to see if you can try the workflow I just described and

[2019-01-21 02:47] lamchau opened #109 "As an administrator, I would like the ability to remove users."
When I need to offboard someone from my team, there isn't a way to currently remove a user. Ideally we would have an administration interface so if/when I ever need to transfer ownership I can.

[2019-01-21 02:58] lamchau opened #110 "As an administrator, I'd like to be able to transfer billing ownership"
I'd like for a way to add another email/owner for receiving billing invoices as a backup.

As the only person with visibility into billing, the bus factor is too high -- to ensure the team can move forward with uninterrupted service this would be nice to have.

[2019-01-21 03:41] abinoda commented on #110
@lamchau Hi Lam – yep, the billing interface definitely needs to be improved. In the meantime we can add additional billing email addresses for you if you email support@pullreminders.com.

[2019-01-21 16:20] davidgoate opened #111 "Feature request: 7 day reporting period"
For many of the dashboard stats, we can get reports on fixed durations like `14` days:

![screenshot 2019-01-21 at 16 17 06](https://user-images.githubusercontent.com/8789912/51486225-08b7ab80-1d98-11e9-93f1-7bd959a7333c.png)

We have a weekly debrief currently to look at these stats, and although I can get a sense of things visually, e.g. review turnaround:

![screenshot 2019-01-21 at 16 18 03 1]

[2019-01-21 16:33] davidgoate opened #112 "Feature request: Review turnaround working hours/days"
I am actually a bit unsure myself whether this is a good idea, I can imagine many pros and cons for this - but I feel like some useful discussion could be generated in this thread which might shed some light on the perceived usefulness of the requested feature. One "side effect" we've seen since we started seriously tracking stats (and developers being very aware that stats are being tracked), per

[2019-01-21 17:01] RothAndrew commented on #73
Closely related to this: I've been using the "PRs" page on the PullReminders website frequently. It would be great to be able to filter out all PRs that I've already approved.

[2019-01-21 18:02] abinoda commented on #73
@RothAndrew I'm curious whether the new Slash command can be a solution to this? Whenever you want to do some code reviews you can run `/pullreminders` to get the up-to-date list. I'd love to hear what you think.

[2019-01-21 18:27] abinoda commented on #112
@davidgoate This is a great write-up, would you mind reposting it here https://github.com/pullreminders/backlog/issues/82 and then I'll respond?

[2019-01-21 18:38] davidgoate commented on #82
@abinoda copied from #112 as requested:

[2019-01-21 18:38] davidgoate commented on #112
@abinoda done, would you like me to close this as a duplicate?

[2019-01-21 18:39] abinoda commented on #112
Got it

[2019-01-21 18:39] #112 closed, assigned to nobody

[2019-01-21 18:42] abinoda commented on #82
@davidgoate Thanks David. Your write-up is really helpful, particularly highlighting the types of behaviors resulting from the team being data-driven. I agree with the usefulness of being able to exclude non-working hours from the stats, however this will probably sit a little lower in priority because we have another tool in the works that we're hoping provides even more meaningful data and feedb

[2019-01-21 18:55] davidgoate commented on #82
@abinoda r.e. the last point:

I hadn't really thought too much about that until now. I've been happy seeing the averages and haven't found myself wanting the ability to look at success rate per individual personally. I think seeing the average PR size in LOC for e.g. is quite useful rather than just seeing at 90% of someone's PR's did meet target it is quite nice to see their actual average numbe

[2019-01-21 18:55] abinoda commented on #82
@davidgoate Gotcha, that's really helpful feedback. Thank you!

[2019-01-21 21:34] RothAndrew commented on #73
@abinoda does that work now? typing `/pullreminders` in slack results in:

[code]

[2019-01-22 01:33] abinoda commented on #73
@RothAndrew Will follow-up with you over email. I sent out a mass email with instructions on enabling the command but the settings were messed up and it may have gone to your spam folder.

P.S. @douglasmamilor @cschultztech @mwarkentin @mmontreuil @JBKahn @nickpresta I'm curious if you guys have tried the new `/pullreminders` command and whether it resolves this issue or not!

[2019-01-23 05:05] ashanbrown opened #113 "As a PR author, I would like a reminder to go nag someone to review my PR"
I just went through 24 hours without having a PR reviewed and I forgot to remind someone to review my PR.  I'm sure they got a reminder but they probably ignored it.  ;)

It may be relevant that the PR in question passed CI.  If it hadn't, I'm not sure I'd want a reminder.

As I mentioned before, what I want -- and what you've been adding great features for -- is to be told what action I need to t

[2019-01-23 05:12] abinoda commented on #113
@ashanbrown Interesting 😄

So what I'd envision for this is an additional section in your DM reminder that's titled something like "Your pull requests"... and for pull requests awaiting review there'd be an option to "Nudge reviewers" or something like that. What do you think?

Btw, does your team have a team reminder set up in addition to utilizing personal reminders? For example, you could have

[2019-01-23 05:23] ashanbrown commented on #113
We haven't broken out our group reminders by teams/projects so they are so they are currently so prolific as to be useless.  I don't see us solving that problem any time soon.

As for a "Your pull requests" section suggestion, I think that could be useful.  I have noticed my pull reminders DMs start to fill up with CI failures as I debug stuff.  I'm slightly concerned that these will get in the wa

[2019-01-23 05:27] abinoda commented on #113
@ashanbrown We just released a `/pullreminders` Slack command – have you tried it?

Hmmm, ok. I'd be curious to hear more about this. There have been enough configuration settings added to team reminders that I'd be surprised if you can't get it configured in a way that is useful. I'm guessing you're aware but you can have reminders filtered by GitHub Teams.

Did you have any specific ideas for ho

[2019-01-23 05:49] ashanbrown commented on #113
I knew I had read about `/pullreminders`.  Looks like I had to reinstall the app to get the feature.

I suspect the issue with group reminders is that it requires a zero inbox mentality and it only takes one bad apple to turn it into noise.  I see a whole lot of reminders that I don't feel I can do anything about.  I wonder if we'd have to restructure our team to make it work for us, but I'm open

[2019-01-23 23:04] abinoda commented on #111
@davidgoate Makes sense. Adding this to the backlog. Please nudge this in a bit if we haven't gotten to it and it's still bugging you.

[2019-01-24 00:54] abinoda commented on #111
@davidgoate Question for you – which visuals/charts/tables are you focusing on in your weekly debriefs?

[2019-01-24 10:27] davidgoate commented on #111
@abinoda we look at a few things including;

* Review turnaround success rate and chart, we then look at the PR's that exceeded target - especially interested in whether many of these are happening either in the same repos or in the same team. It would be quite handy to get stats per repo or per github "team" to identify "hotspot" projects for e.g. sometimes i do this manually a bit by making note

[2019-01-24 10:37] Flamefork commented on #48
Any chance for this to move forward?

[2019-01-24 14:27] lukehefson commented on #48
Hey @Flamefork! We're currently working on solutions for it right now, but don't have a set release date. Please keep your eye on https://github.blog/changelog/ (and this issue) for updates!

[2019-01-27 04:56] abinoda commented on #62
@tas50 @majormoses @morganwalker This is live 🚀 . This was definitely long overdue – hope it's much easier to navigate between orgs now!

[2019-01-27 04:56] #62 closed, assigned to nobody

[2019-01-27 13:10] majormoses commented on #62
Thank you!

![image](https://user-images.githubusercontent.com/3145127/51801387-c657f980-21f1-11e9-94d4-c2f2bc48af6c.png)

[2019-01-28 22:40] ashanbrown opened #114 "As a PR reviewer, I'd like to know if anyone else (name and number of people) was assigned a review"
When I receive a review request and I'm the only reviewer, I feel more compulsion to review it quickly.  If others are listed as reviewers and I know they have more context than I do, I know I can leave the review to them.  I think there is already text that varies based on whether I've been included only as part of a team, but quickly seeing the number of other reviewers and their names (maybe ot

[2019-01-28 23:49] abinoda commented on #114
@ashanbrown Would you like this metadata shown on reminders or the real-time notifications, or both?

[2019-01-29 01:16] ashanbrown commented on #114
I was thinking about in a DM but I could imagine it would be generally useful.

[2019-01-29 01:17] ashanbrown commented on #114
On a similar tool I built I'd explicitly tell the user they were the "only" reviewer.

[2019-01-29 01:18] abinoda commented on #114
@ashanbrown For DMs, there are two types of notifications – the real-time alerts and the scheduled reminders. I was asking which of these notifications types you'd like the additional context for. Either or both?

[2019-01-29 01:31] ashanbrown commented on #114
Both sounds good.
On Mon, Jan 28, 2019 at 5:18 PM Abi Noda <notifications@github.com> wrote:

[2019-01-29 15:55] abinoda commented on #114
Another user requested adding PR size as context to the messages as well.

[2019-01-29 18:08] goodspark opened #115 "As a user, I would like to filter approved PRs out of team reminders (with or without using review requests)"
Depending on project, sometimes approval doesn't necessarily mean 'merge now'. Often for some legacy projects, the merging is left up to the author. Sometimes there's coordination, etc to do. So that sometimes leaves approved PRs left 'open' too long, which causes them to get added to the reminder list.

Having a way to filter these out would help reduce the clutter of the reminders and distill th

[2019-01-29 18:12] abinoda commented on #115
@goodspark There's already a way to do this for DM reminders, look under "More settings". For team reminders, have you tried the new "Needed reviews" setting for team reminders?

<img width="682" alt="needed_reviews" src="https://user-images.githubusercontent.com/50083/51929928-9d349600-23b6-11e9-9e06-cb8539120676.png">

Let me know if either of these addresses your needed. Another recommendation

[2019-01-29 18:17] goodspark commented on #115
But that requires me to turn on the 'require review requests' option, right? Which isn't always the case.

[2019-01-29 18:18] abinoda commented on #115
@goodspark Correct, for team reminders that setting is currently only available with the review request setting turned on. Out of curiousity, what's your code review process such that sometimes review requests are used and sometimes they are not?

[2019-01-29 18:25] goodspark commented on #115
It really depends on the team, the project, etc. There's no consistent process and we don't feel the need to enforce any. As long as teams are achieving their desired velocity, review requests is largely a trivial detail.

However, for some larger code bases, sometimes we use review requests so there's a somewhat more targeted set of people.

My personal opinion is to never use review requests, as

[2019-01-29 18:29] abinoda commented on #115
@goodspark Gotcha. We can look into adding an approval filter for team reminders not using review requests... we're also going to be rolling out a new tool to assist with code review assignment that may be helpful to you and also alleviate this issue at the same time. In the meantime I'll tag this and add to the backlog.

[2019-01-29 18:33] goodspark commented on #115
Thank you!

[2019-01-29 23:04] abinoda commented on #111
@davidgoate Quick q – we were looking into this but realized you should be able to get each week's aggregate success rate by hovering over the chart with the 4w period selected. Right?

[2019-01-29 23:30] abinoda commented on #78
@thisisthais @davidgoate @wildcard @austinwiltshire @K11MAR @stephenh @designjockey @alexmitc

We added comment count and a comments-to-pr-reviewed ratio to the "Reviews" leaderboard. This is available for your teams in closed beta.

Please let us know your feedback. We'd especially like to hear how it is received by your teams, and what other reporting capabilities around comments would provide a

[2019-01-29 23:36] abinoda commented on #97
Hi everyone, I am closing this issue because [GitHub has confirmed](https://github.com/pullreminders/backlog/issues/48#issuecomment-457215439) (thanks @lukehefson) that they are working on an improvement to make "re-requesting" reviews more intuitive and natural as described in https://github.com/pullreminders/backlog/issues/48.

GitHub's changes should hopefully address the clunkiness around goin

[2019-01-29 23:36] #97 closed, assigned to nobody

[2019-01-30 02:19] abinoda opened #116 "As a user, I want DM reminders for my PRs that have been reviewed (similar to team reminders)"
From @mikeocool:

From @matheuss:

Also requested by @israel-tk

[2019-01-30 08:28] davidgoate commented on #111
@abinoda I hadn't thought of that. I think that works well for getting the high level aggregate scores. One small usability enhancement though, using review turnaround as an example, if we are interested in the actual PR's which missed targets in a given week it's a little bit manual at that point to go through all the ones from a 4 week period (or switch back to 14 days to help) and then try to i

[2019-01-30 09:16] NejcZupec commented on #103
@abinoda We also love the distinction whether an action is on the author or the reviewers. However, we're facing a similar issue as @ccpost described.

We also require just one approval from all reviewers and use the following workflow setting:
<img width="413" alt="screenshot 2019-01-30 at 10 15 12" src="https://user-images.githubusercontent.com/1460732/51970764-016b5e80-2478-11e9-9b82-22cfabc3aa

[2019-01-30 09:21] NejcZupec commented on #69
@abinoda Is this feature enabled for all deploys?

I'm facing the same issue as @kaiden-dragon described. We also use Github's checks API and I don't get a notification, when a build fails.

Settings:
<img width="330" alt="screenshot 2019-01-30 at 10 20 01" src="https://user-images.githubusercontent.com/1460732/51971070-a1c18300-2478-11e9-8dda-745a75015d30.png">

Failing PR checks:
<img width="692

[2019-01-30 09:35] camallen opened #117 "As a user, I would like to include specifically labeled PRs that have label exclusions"
Say I'm using a bot to keep my dependencies up to date and this labels all automatic PRs with `dependencies` label. I **do not** want these being reported as it's pretty noisy so I add them to the `Ignored labels` list.

Now say some of these PRs are security updates with another label `security` and they need attention ASAP, I **do** want to include this subset in the reports as they are very imp

[2019-01-30 14:46] ashanbrown commented on #114
Yeah, that sounds good.  It's another thing I'd take into account about
whether to review a PR immediately.

On Tue, Jan 29, 2019 at 7:55 AM Abi Noda <notifications@github.com> wrote:

[2019-01-30 16:16] abinoda commented on #69
@NejcZupec Yeah, @kaiden-dragon's issue was resolved and the update is applied to all accounts. One thing I'd suggest is to make sure that the [Pull Reminders CI Notifications App](https://github.com/apps/pull-reminders-ci-notifications/installations/new) has been enabled for all repos on your org. You won't get notifications for repos where that app has not been enabled. Could you double check th

[2019-01-30 16:19] abinoda commented on #103
@NejcZupec @plamut @ccpost Thanks for the report. Will look into this today.

[2019-01-30 18:03] abinoda commented on #117
@camallen Here's a possible immediate solution – keep your existing team reminder as-is, but create another team reminder (for the same channel or different channel like #security-hotfix-reminders is probably cleaner) that filters for ONLY pull requests with the `security` label.

Let me know what you think!

[2019-01-30 18:27] abinoda commented on #103
@NejcZupec @plamut @ccpost

I just tested this on a public repo and was not able to reproduce the problem. You can look at the [test PR](https://github.com/nodable/auth-service/pull/18) and/or follow below. I tested this with the setting set to `After one review` as in your examples, then performed the following steps.

1. Opened a new PR and assigned 3 reviewers. The reminder is for reviewers.
2.

[2019-01-30 19:01] camallen commented on #117
Not bad and i can see that working, though in the UI i can't choose an existing channel.

I'll look at adding the new reminder for security updates, possibly with even greater frequency.

[2019-01-30 19:20] abinoda commented on #117
@camallen You're right, we recently removed the option to add multiple reminders to the same channel since we didn't think it creates the best experience (too noisy, kind of confusing). Would setting up a separate channel just for these security PR reminders work for you?

[2019-01-30 19:23] NejcZupec commented on #103
@abinoda Thank you for very fast response and research ❤️

I checked your PR and everything seems correct. I will continue observing the behaviour on our side and let you know, if any discrepancies will pop-up. I know that this was happening in the past.... it looks like the workflow has been already fixed.

Sorry for inconveniences.

[2019-01-30 19:24] abinoda commented on #103
@NejcZupec No worries. The logic for this is quite complex so definitely let us know if you observe any issues with it going forward!

[2019-01-30 19:26] abinoda commented on #117
@camallen Another customer just requested being able to add multiple reminders in the same channel, so we may re-allow that functionality shortly.

[2019-01-30 19:30] NejcZupec commented on #69
@abinoda I checked the app. The repo where we're running PullReminders has permissions:

<img width="797" alt="screenshot 2019-01-30 at 20 27 37" src="https://user-images.githubusercontent.com/1460732/52006981-bd0aad80-24cd-11e9-969a-6b1a932bb54a.png">

Do I have to enable the app for all repos within the organization?

[2019-01-30 19:32] abinoda commented on #69
@NejcZupec Based on that setting, you'll only get CI notifications for PRs on that repo. If you want to get CI notifications for PRs on other repos, you need to enable those repos. In general, I'd recommend enabling that app for all repos within the organization.

[2019-01-30 19:38] NejcZupec commented on #69
@abinoda Ok, I enabled the app for all repos. Will see, if this helps. Thank you!

[2019-01-30 22:34] camallen commented on #117
Ideally using the same channel, though i can see it being useful for other teams / setups. Please do let me know if this functionality makes it back into the app.

Also having the ability to include / exclude specific authors might be helpful for some teams, especially if bots issue pull requests.

Thanks for the prompt feedback and I'm loving the PullReminders experience so far.

[2019-01-31 01:44] ashanbrown opened #118 "As a PR reviewer, I'd like to see DMs updated with the review status"
I went to #pull-reminders in slack and saw that I had received a PR review request.  I opened it and it had already been reviewed and merged.  It would be cool if the DM could be updated with the review status and whether it has been merged.  It could be done with just a checkmark icon next to it, and whatever github uses to note merged PRs.  Someone else had commented that they'd like to see whet

[2019-01-31 01:46] abinoda commented on #118
I think this is a dupe of https://github.com/pullreminders/backlog/issues/73. Let's move the discussion there but I have been suggesting using the `/pullreminders` command as a way to get an up-to-date list before doing work.

[2019-01-31 01:46] #118 closed, assigned to nobody

[2019-01-31 01:51] ashanbrown commented on #73
I'm lazy and don't really want to have to type `/pullreminders`. ;)

What I mentioned in my linked PR is:

I believe this is all possible within slack but it does require you to keep track of DMs that have been sent.  I do think 24 hours would be plenty for a feature like this.

[2019-01-31 01:55] abinoda commented on #73
@ashanbrown Laziness acknowledged ;)

You mentioned #pull-reminders (a team reminder) then referred to DMs. Could you clarify where you'd like to see this behavior (channel reminder, DM reminder, or DM real-time alert)?

[2019-01-31 01:59] ashanbrown commented on #73
Sorry, I meant the dm.

[2019-01-31 09:47] camallen commented on #115
👍 I'd like this feature as well.

Our team does use `review_requests` however, even after a PR has been approved I still get a reminder about it. E.g.

Our use case for the pull reminders system is to get attention on the PR that need a review. I feel like the approved PRs should be dealt with via your 'Remind Authors' functionality instead.

[2019-01-31 11:01] camallen opened #119 "As an administrator, I'd like the ability to view and change a users DM settings"
I'd like the ability to modify users DM settings

[2019-01-31 12:31] NejcZupec commented on #69
@abinoda Yesterday I enabled the app for all repos and I started receiving notifications about merge conflicts:

<img width="499" alt="screenshot 2019-01-31 at 13 27 32" src="https://user-images.githubusercontent.com/1460732/52054290-4ff22900-255c-11e9-9810-c67219a3d347.png">

Not sure why this action helped, because the app had been enabled for that particular repo already before.

However, I sti

[2019-01-31 15:32] abinoda commented on #69
@NejcZupec Can you email me at abi@pullreminders.com? Let's investigate further offthread.

[2019-01-31 15:54] abinoda commented on #115
@goodspark @camallen An interim solution would be to tag these PRs with a label like `noreminders`, then exclude that label in your reminder settings. Let me know what you think of this idea, specifically how painful it is to take this additional step. It'll be helpful in assessing the prioritization of this issue.

[2019-01-31 15:55] abinoda commented on #119
@camallen I like this idea. Would you mind providing the use case for this? I'm interested in knowing.

[2019-01-31 15:56] abinoda commented on #114
From another user:

[2019-01-31 15:59] goodspark commented on #115
Yeah that's reasonable for me. Some of our projects already have a label like `ready-but-waiting` for when something is approved but needs coordination/timing for deployment. It kind of fits this too.

[2019-01-31 16:23] camallen commented on #115
For us not ideal tbh, I can see that flow working but it's another step that people will forget that increases the false positive rate of the alerts pull reminders will generate for us.

It doesn't look like github / app has a way to add the label on approval and I'd prefer not to run a service that does this. If I could automate the label creation then yep this flow works.

I understand the need

[2019-01-31 16:27] camallen commented on #119
Use case:

1. I install the pull reminders app and setup access to notification service.
2. I then setup a notification on a schedule and add some users to my install.
3. Users start getting DM notifications from the app.
4. Said users want to change the settings but don't want to setup an account on your service.
5. They ask me to modify the settings to stop the DMs from the app.

[2019-01-31 16:29] abinoda commented on #115
@camallen Yeah, the issue for us is diminishing returns on adding more configuration options. Mostly we want to avoid making setup complicated by offering too many options.

This is something you could easily automate with [GitHub Actions](https://github.com/actions/). We've created Actions for other customers with unique situations, for example [this one](https://github.com/pullreminders/assignee

[2019-01-31 16:36] camallen commented on #115
I completely understand re the addition of options, etc.

I appreciate the reminder and offer for help with Github Actions I will look into your examples and try it out. Thanks again :)

[2019-01-31 16:37] abinoda commented on #115
@camallen Sounds good. And just to be clear, I'm offering to write the code for the Action for you. It's something we'd be happy to do since we could provide it to other customers as well, i.e. @goodspark.

[2019-01-31 16:38] abinoda commented on #115
(Let me know if you'd like us to – just wasnt sure if you'd be interested in the idea)

[2019-01-31 16:40] camallen commented on #115
Without charge? I'd very much be interested in that.

[2019-01-31 16:41] abinoda commented on #115
@camallen Yep, without charge. Please email me at abi@pullreminders.com though – there's one other thing I need to assist you with.

[2019-01-31 17:05] goodspark commented on #115
To be honest, I'd rather have the service itself do this somehow. Either by an option or some other integration that's managed by the service itself as opposed to ad-hoc/bespoke work done on a repo-basis. I'm a bit iffy about having to add Actions to different repositories just for this. If it were part of an existing process a project already had, it'd make more sense to integrate.

As it stands,

[2019-01-31 17:10] abinoda commented on #115
@goodspark Yeah, that makes sense. We'll continue considering this... it's not a lot of work but we're just concerned about bloating the tool.

[2019-02-01 03:21] abinoda commented on #115
@goodspark

In case you might be interested in giving it a try (no pressure), here's the GitHub Action I just created for @camallen to try out: https://github.com/pullreminders/label-when-approved-action. It only takes a minute to set up on a repo and the functionality is very straightforward. The example below is with the settings set to add a label after 2 approvals:

![](https://github.com/pull

[2019-02-01 16:32] abinoda commented on #103
@ccpost It turned out there *was* a bug caused when a PR author commented on his or her own PR – we were counting this review toward the total which threw off the logic. We just deployed a fix for this to production so please let us know if you see the issue occur again!

Big thanks also to @NejcZupec @plamut for helping provide information leading to the fix.

[2019-02-01 23:52] xinzweb commented on #76
Thanks for considering this feature to the future, but I am wondering what additional context I can provide to prioritize this feature.

Currently, not all the GPDB open source committers are checking the PR reminders. They probably just directly check the pulls and go to the last page to see if anything super stale there.

I'd like to use this top N feature to short the long PR list in the slack

[2019-02-01 23:56] abinoda commented on #76
Hi @xinzweb thanks for nudging this. We'd be happy to add this feature, but before that I'd like to ask about your process in case there are other potential solutions. Currently, how do you decide and track who on your team should reviews what PR? Do you use [review requests](https://blog.github.com/2017-06-28-requesting-reviews-from-repository-teams/)?

[2019-02-02 02:21] ccpost commented on #103
@abinoda Apologies I went silent on more debugging info, but thrilled to hear you found the fix.
😁
This app continues to be one of the best things for daily team workflow we've encountered in a long time!

[2019-02-02 02:22] abinoda commented on #103
@ccpost Great to hear! Thanks

[2019-02-02 23:02] abinoda commented on #78
This feature is now available to everyone.

[2019-02-02 23:02] #78 closed, assigned to nobody

[2019-02-03 19:57] goodspark commented on #115
Slick!

[2019-02-04 18:37] xinzweb commented on #76
Yes, we do use `review request`. We have multiple teams tracking the backlog, and they are only looking at their own components, and sometimes, that left a gap, and we need to keep an eye on those items fall behind. I hope it's helpful. Thanks.

[2019-02-04 18:44] camallen commented on #117
Do let me know if you enable the channel reuse functionality, i'd like to try this flow out

[2019-02-04 21:26] abinoda commented on #117
@camallen

For right now I think our stance is that *not* allowing multiple reminders in a single channel is a good constraint that results in better UX for a couple reasons:

1. Multiple reminders in a single channel can get a bit noisy, which all things equal is something we'd like to prevent from happening for our users.
2. In addition to the noise, another issue is that users don't have a way

[2019-02-05 16:20] camallen commented on #117
Understood and i can see the reasoning for the opinionated UI, etc. One counter point is that I'm the user / consumer of these reminder messages. Therefore isn't it up to me to decide how the frequency and channel location for the messages? I can currently setup the system to remind me every 30 mins on the same channel if i like. Of course i haven't done this though I could do so via the UI config

[2019-02-05 16:37] abinoda commented on #117
@camallen

Sounds good – let me know how it goes. The restriction on multiple is literally one line of our code on end. If it seemed critical we could allow it for your account.

[2019-02-06 01:40] finereli opened #120 "As a user I don't want to receive notifications on cancelled builds"
I'm currently getting notifications on cancelled CI builds as failed builds. This creates a lot of noise since we have the "Auto-cancel redundant builds" option enabled on CircleCI.

![image](https://user-images.githubusercontent.com/816821/52315720-0b57fa80-296d-11e9-8755-c2af0dcf377b.png)

Ideally, only builds that actually fail should cause a notification.

[2019-02-06 02:15] abinoda commented on #120
@elifiner Is this using CircleCI workflows (using GitHub's new Checks API) or the classic version?

[2019-02-06 02:29] abinoda commented on #120
For reference, GitHub's new [Checks API](https://developer.github.com/v3/checks/runs/), which is used by CircleCI 2.0 Workflows, has the possible conclusion statuses `success`, `failure`, `neutral`, `cancelled`, `timed_out`, and `action_required`. We only send notifications for `failure` statuses.

Older CircleCI configurations not using Workflows use GitHub's [commit status API](https://developer

[2019-02-09 20:35] abinoda opened #121 "As a user, I would like "WIP" factored into my analytics"
Right now analytics do not take into account the "WIP" status of pull requests.

[2019-02-11 19:44] abinoda commented on #101
@jisung @NejcZupec @alexmitc

I have enabled Pull Assigner for your accounts. Please give it a try and report back any questions or feedback! I created a [setup guide](https://github.com/pullreminders/guides/wiki/Pull-Assigner) with some tips.

There are three potential future features we are considering:

1. Some way to deal with people who are OOO, although this doesn't seem like a huge issue si

[2019-02-11 19:49] abinoda commented on #101
![pullassigner](https://user-images.githubusercontent.com/50083/52589156-6a00f680-2dfb-11e9-80d8-dbd85a19a6b9.gif)

[2019-02-11 19:55] abinoda commented on #101
![pullassigner](https://user-images.githubusercontent.com/50083/52589516-38d4f600-2dfc-11e9-8f85-723426f7fb14.gif)

[2019-02-12 00:26] abinoda commented on #101
![pullassigner](https://user-images.githubusercontent.com/50083/52602954-d131a180-2e21-11e9-8b54-8e485c8944f6.gif)

[2019-02-13 11:43] jisung commented on #101
@abinoda
This is really good and works perfectly so far. Especially, the combination of CODEOWNERS and Pull-Assigner shows amazing usability. Well done, Thanks!

[2019-02-13 14:20] brad-decker commented on #82
@abinoda just wanted to add in my 2 cents for the business hour discussion. One thing that has manifested naturally is a rule of law to "not assign reviewers on fridays" because it skews the reviewers time to merge metric if they cannot get to it until monday. I think a MVP approach that doesn't try to tackle the question of "business hours" is to instead allow businesses to extract non-working da

[2019-02-13 16:56] abinoda opened #122 "As a user, I want to be able to glob/bulk select repos for team reminders"
Allow dynamic selection of open-source repos, closed-source repos, or substring glob match.

[2019-02-13 17:29] abinoda commented on #82
@brad-decker The idea of starting with "Working days" before dealing with "Hours" makes sense.

I think we're 👍 to move forward with this. Can't promise a specific timeline but ideally before end of Q2.

[2019-02-14 06:39] abinoda opened #123 "As a user, I would like a way to accept/deny reviews assigned to me, or have others respond if I am OOO"

[2019-02-14 17:36] abinoda opened #124 "As a user, I want reminders and metrics to ignore pull requests in "Draft" status"
GitHub released a new feature for ["Draft" pull requests](https://github.blog/2019-02-14-introducing-draft-pull-requests/). This is a great standardization of WIP.

- [x] Exclude Draft pull requests in reminders by default
- [x] Exclude Draft pull requests in "PRs" list as well as "Open PRs" analytics page (but make this an option)

A "nice to have" if GitHub can provide a `ready_for_review_at` ti

[2019-02-14 17:56] abinoda commented on #124
Currently waiting for GitHub to add API support for the new property: https://twitter.com/abi/status/1096105387986608129

[2019-02-15 01:19] abinoda commented on #121
Closing since this is addressed by https://github.com/pullreminders/backlog/issues/124

[2019-02-15 01:19] #121 closed, assigned to nobody

[2019-02-15 01:20] #106 closed, assigned to nobody

[2019-02-16 02:49] abinoda commented on #124
@lukehefson

I've run into an API issue while adding support for Draft pull requests in Pull Reminders. It appears that [`pull_request` webhook events](https://developer.github.com/v3/activity/events/types/#pullrequestevent) are not triggered when pull requests are changed from "Draft" to "Ready for Review". As an API consumer, this means it is impossible to keep "Draft" state accurately synced in

[2019-02-17 08:38] abinoda commented on #96
@cschultztech @dusan-dragon @dimofeev

You can now sort leaderboards by column 🚀

[2019-02-17 08:38] #96 closed, assigned to nobody

[2019-02-18 12:29] pandacalculus opened #125 "Feature request: way to restrict access to all web-based metrics / leaderboards"
The Slack-based PR reminders are the killer feature for our team. Both the individual reminders, and the channel reminders are very useful.

The web-based metrics and leaderboards are, however, not something I'd want to expose to the general engineering team here - my concern is that they will drive behaviour in perverse ways.

So I'd like to request that all the web-based reporting can be optiona

[2019-02-18 13:13] lukehefson commented on #124
Hey @abinoda 👋

You're very welcome. Thanks for being an amazing partner!!

I'll take this to the team for investigation and we'll dig in!

[2019-02-18 18:31] abinoda commented on #125
@pandacalculus This is something we can currently offer manually, but we're working on a turnkey way for users to configure this that should be available soon – which organization are you with?

This was also recently requested by @kppullin

[2019-02-18 20:46] abinoda commented on #124
@lukehefson Your team would know better but in case it's helpful, I could see the event being its own action type, ie. `pull_request/draft_status_changed`? This would make it slightly easier as an API consumer to identify when the draft state changed, versus watching for a delta on the `draft` property on every single `edited` event.

[2019-02-18 22:28] abinoda commented on #124
@lukehefson I previously requested having the `pull_request/edited` webhook fire when draft status is changed. However, I actually think it'd be extremely beneficial for draft status to be its own event action type, ie. `pull_request/draft_status_changed`. I'll describe a simple use case below, but I think this type of scenario is and will be relevant to many other Apps and GitHub Actions.

tldr;

[2019-02-18 22:47] abinoda commented on #101
Closing this – please submit feature requests as new issues!

[2019-02-18 22:47] #101 closed, assigned to nobody

[2019-02-18 22:50] abinoda opened #126 "As a user, I would like real time messages in channels when PRs are opened or merged"
Real-time notifications about pull requests being opened or merged can benefit certain workflows. For example, some teams figure out who should review pull requests as they become available, so having a real-time alert can ensure a fast response versus waiting until the reminder posts.

**UPDATE 2.18 – this feature is available in closed beta. Contact us to have it enabled for your org.**

🚀

[2019-02-18 22:53] abinoda commented on #70
@petegivens @brad-decker @carlangueitor @johnnypez @bobheadxi

We are working on allowing optional real time notifications in channels when PRs are opened or merged – see https://github.com/pullreminders/backlog/issues/126. That should address the use case described here so I'm going to close this issue. If anyone disagrees please reply here!

[2019-02-18 23:14] pandacalculus commented on #125
@abinoda I'm from canva.com - we have ~250 engineers.

[2019-02-18 23:17] pandacalculus opened #127 "Feature request: easier Slack acct to GitHub handle mapping"
For us it would be ideal if we could manage the Slack to GitHub mapping using an API or other mechanism that isn't a UI, and doesn't require individual users to create accounts with pullreminders.com. Managing 100s of developers via the current UI is cumbersome (unless I'm missing something?)

[2019-02-18 23:19] abinoda commented on #127
@pandacalculus So you can actually just share the link to your account with people and when they sign in the app will link their GitHub and Slack accounts automatically. In your case the URL to share would be `http://pullreminders.com/installs/2562356`

Let me know how that works. We've been meaning to make this clearer in our on-boarding process, we will create a separate issue for that.

[2019-02-18 23:19] #127 closed, assigned to nobody

[2019-02-18 23:21] abinoda commented on #125
@pandacalculus Thanks. Out of curiosity, are there specific metrics that you'd like to disable or did you want to disable all of them? I'm wondering if it's the "Review turnaround" metric in particular that you might be concerned about, or others as well?

We'll try to have something out for this later this week.  And just to consolidate other recent requests for this here...

@kppullin recently r

[2019-02-18 23:23] abinoda opened #128 "As a user, I want to be able to invite other users without manually mapping their accounts"
See https://github.com/pullreminders/backlog/issues/127

There is already a way to do this via simply sharing your account URL. We should make this clearer to users!

[2019-02-19 10:38] natashkap commented on #126
Hi there, I would like to have access to this feature. Thanks!

[2019-02-19 16:20] abinoda commented on #126
@natashkap What org are you with?

[2019-02-19 22:15] abinoda opened #129 "Improve Slack message formatting with Block Kit"
- [ ] Use buttons instead of links
- [ ] Add heading to DM reminder so its clear what that is vs real-time alerts
- [ ] Stop using attachments

[2019-02-19 23:01] abinoda commented on #64
@osterman This is released in closed beta and enabled for your org. Can you let me know how it works one you've had a chance to try it?

cc: @taylorturner

[2019-02-19 23:01] #64 closed, assigned to nobody

[2019-02-20 00:54] osterman commented on #64
Wooohooo @abinoda ! Will give this a go

[2019-02-20 16:22] abinoda opened #130 "As a user, I want to mute notifications from bots and exclude them from metrics"
Recently requested by @bootstraponline, @at-ishikawa, @mercury2269, @bmalehorn

Pull Reminders automatically includes users with `type='bot'`. However, many teams have custom bots that are normal GitHub user accounts. This issue is for creating a way for teams to blacklist bots that are not actual bots in order to mute notifications from their comments and hide them from metrics/leaderboards.

[2019-02-20 16:44] eborden opened #131 "Pull Assigner notifies all team members"
### What is happening

Pull Assigner notifies all team members when a review has been assigned.

### What should happen

Only the team member that has review assigned from Pull Assigner should get notified.

### Why

The amount of noise that team notifications produce makes Pull Assigner not worth the hassle. We want our signal to noise ratio to be low so engineers need only pay attention to the r

[2019-02-20 16:46] abinoda commented on #131
@eborden Thanks for submitting this. Are you referring to Pull Reminders Slack notifications or email notifications?

[2019-02-20 16:46] eborden commented on #131
Any notification :smile:

[2019-02-20 16:48] abinoda commented on #131
@eborden Ok, can you share your workflow? Are you manually assigning reviews to the team for Pull Assigner or automating it with CODEOWNER?

[2019-02-20 16:49] eborden commented on #131
So far I've used manual assignment to the team as a test of the functionality.

[2019-02-20 16:53] abinoda commented on #131
@eborden Got it. There's no way for us to stop GitHub's email notifications but we can definitely prevent Pull Reminders from sending notifications about the team review request, which I'm guessing is the far bigger pain point given the directness and noisiness of Slack notifications? Would this work?

[2019-02-20 16:55] eborden commented on #131
@abinoda that may work, but it also provides a poor experience for team members who have not opted in to slack reminders and instead use email reminders. So we'd likely not utilize this tool.

[2019-02-20 17:01] abinoda commented on #131
@eborden Makes sense. The problem you're describing is definitely legitimate.

The best solution I can think of would be to allow you to specify team members in Pull Assigner instead of on GitHub.  So you'd create a team on GitHub with no members, then specify who the members are within Pull Assigner. This way you could assign a review to a GitHub team without GitHub notifying a bunch of people. I

[2019-02-20 17:02] eborden commented on #131
That sounds like a reasonable workaround.

[2019-02-20 17:09] abinoda commented on #131
@eborden Another option would be for everyone to simply set up a gmail filter that mutes the team review request notifications. Would this work? I know it's a little inconvenient but it seems like it's less work overall than my previous suggestion.

We'd address the Slack notification issue on our end.

[2019-02-20 17:17] abinoda commented on #131
Also pinging @benmanns and @geoffharcourt for input on this if they have ideas!

[2019-02-20 17:23] eborden commented on #131
@abinoda it is possible that could work as well. It just seems like there is a flaw in the design if outside applications need to be configured in tandem to make this usable for teams.

[2019-02-20 17:26] benmanns commented on #131
Dropping Slack notifications would be better than the status quo for us (everyone is already getting emailed with standard CODEOWNERS setup).

Internally we're somewhat particular about GitHub team setup, but could make this work. The way I'd probably do it is to create a `pull_reminder_app_<team>` team with no assignees and leave our `<team>` team set up, which would allow manual pings within oth

[2019-02-20 17:35] abinoda commented on #131
@eborden I agree that a Gmail filter isn't ideal but I think it might be the best solution for now.

I'm also considering the fact that the GitHub notifications for team review requests aren't always something folks will want to avoid. In certain cases I can see teams wanting everyone on the team to be made aware of new pull requests even though specific people will be assigned to actually review

[2019-02-20 18:19] nullren commented on #131
I quite like the idea of have a separate "pull reminders team" alias sort of thing. one issue that I've come across is that I actually can't assign a PR to my team anymore 😅 .

[2019-02-20 18:20] abinoda commented on #131
@nullren

How come?

[2019-02-20 18:22] nullren commented on #131
well, every time a PR is sent to my team, pull assigner removes it if there's a person on the team already. granted, everyone still gets the emails (this issue), but the team is no longer there so I think members lose a little bit of empowerment to participate.

[2019-02-20 18:25] abinoda commented on #131
@nullren That behavior is actually a setting. See the "Team review request" option in your [Pull Assigner settings](https://pullreminders.com/installs/1229663/assigner/teams/12/edit) and set it to "Do not delete".

Also, in cases where you assign the team but a reviewer is assigned already, do you want Pull Assigner to not assign additional reviewers like it does currently, or do you still want it

[2019-02-20 19:01] eborden commented on #131
This seems like a setting that Pull Assigner would expose. If I want everyone on my team to be notified then I probably want Pull Reminders to also be notifying, not just email.

[2019-02-20 19:04] abinoda commented on #131
@eborden Yeah, I agree with that. Just making the case that those team review request emails are not *always* a bad thing.

[2019-02-20 19:05] abinoda commented on #131
@nullren Let me know if that setting addresses the issue you were having!

[2019-02-20 19:17] nullren commented on #131
@abinoda ohhh, sorry. yea, that should be fine.

I think not assigning like it does currently is great.

[2019-02-20 19:26] abinoda commented on #124
@lukehefson Just a heads up (in case it is helpful) that this issue affected a customer today.

@ivanaveliskova wrote in:

This issue occurred because there's no webhook that fires when the PR is turned into a non-draft.

[2019-02-21 00:43] pandacalculus commented on #125
I'd probably want to disable all dashboards, and just keep it as a mostly a Slack-based experience for most devs in our group.

[2019-02-21 01:02] abinoda commented on #125
@pandacalculus Sounds good. This is in development.

In the meantime, as we've mentioned to @kppullin, if having the metrics available becomes an urgent problem there is a way for us to disable them manually for your account (though it's not ideal for us).

[2019-02-21 05:28] abinoda commented on #131
We deployed a change so Pull Reminders no longer sends DM notifications for team review requests *if the team has Pull Assigner enabled* (see pseudo-code logic below). This solves the issue of user's getting spammed with DM notifications, but I do have the concern that there could be cases where users could want want DM notifications for the team hooked up to Pull Assigner?

In follow-up to this:

[2019-02-21 09:52] lukehefson commented on #124
Thanks @abinoda (and sorry @ivanaveliskova) – having that use case is really helpful for us!

---

Talking to the dev team, the timestamp _should_ be available via the API by fetching the timeline for the PR. Is that enough for you to achieve what you'd like?

[2019-02-21 17:00] abinoda commented on #124
@lukehefson I actually hadn't looked deeply into this piece yet because fixing the webhook syncing issue has been a higher priority.

I'll answer your question in two parts, (1) my general opinion on why `ready_for_review_at` should be added as a timestamp, and (2) the viability of your suggestion within the context of the webhook stuff we've been discussing previously.

In both cases, keep in min

[2019-02-21 21:40] abinoda commented on #48
@Flamefork @mikeocool I'm closing this issue because GitHub released a new feature to address this:
https://github.blog/changelog/2019-02-21-re-request-review-on-a-pull-request/

Thanks @lukehefson! I'll be communicating this with many more users over email.

[2019-02-21 21:40] #48 closed

[2019-02-21 22:02] davidmarcus commented on #104
Just chiming in to say what a game-changer this would be for us.

[2019-02-21 22:05] abinoda commented on #104
@davidmarcus Can you let me know the use case? ie. what does your team use issues for and where would notifications be most helpful?

[2019-02-21 22:31] nullren opened #132 "Round-robin algorithm for Pull Assigner"
is there some logic to it or is it uniformly random from the team? only asking because in the few times I've used it so far, it seems to choose the same person on my team.

[2019-02-21 22:46] abinoda commented on #132
@nullren Pull Assigner chooses the assignee who has the least number of reviews requested during the time period (max 30 day window, or less if you "Reset counter"). If you look at the "Reviews assigned" table in the UI it lists everyone's counts.

If you're interested in a different algorithm let me know. I've expected that we would implement some different variations.

[2019-02-21 22:48] abinoda commented on #132
@nullren So in your case, what's probably happening is that certain user have probably done more than one less review than the next lowest reviewer. Therefore Pull Assigner would assign that person on the next two pull requests to catch them up.

I should also mention that Pull Assigner counts all review requests, not just the ones issued by Pull Assigner.

[2019-02-21 22:58] nullren commented on #132
ah! that makes sense. I think right now because that person is our CTO, they're going to get all the CRs for a period of time until they're "caught up" (especially as other people just naturally get more CRs due to their roles).

barring broader conversations about who should be a member of our github team, I would think just a simple uniformly random distribution would suffice.

[2019-02-21 23:02] abinoda commented on #132
@nullren Makes sense. I'm trying to think of what to call the different algorithms. The current one could be called "Equalize distribution", and the one you're requesting could be called "Round-robin" or something.

Also, you requested "Random" but in practice the way this would work is that Pull Assigner would determine assignment by taking turns per team member *without taking into consideration

[2019-02-21 23:04] nullren commented on #132
I think that would be fine. my primary use-case is not necessarily to distribute work load, but just ensure that I can get my PRs to different people (knowledge share and get diverse opinions). so ideally, anything that lets me get to as many different people as possible.

[2019-02-21 23:05] abinoda commented on #132
@nullren Yep, sounds good.

[2019-02-21 23:48] kppullin commented on #125
Disabling all dashboards is perfectly fine on my end too.  Perhaps better is only showing it to admins in the linked github organization.

[2019-02-21 23:54] abinoda commented on #125
@pandacalculus @kppullin What we're working on is providing a "Settings" page only accessible to users with Owner permissions in your GitHub org. On that settings page, we are going to let you select specific users whom you'd like to allow access to Pull Analytics (dashboards, leaderboards, etc). For users not included in this listm it'll be as if those features do not exist (we're still thinking

[2019-02-22 00:19] abinoda commented on #104
Just logging the fact that @adume also just requested reminders and real time notifications when you "assign" pull requests (vs requesting a review). His use case:

[2019-02-22 02:52] abinoda commented on #132
@nullren Bam, this is done. You'll get an email about it shortly.

[2019-02-22 02:52] #132 closed, assigned to nobody

[2019-02-22 02:57] abinoda commented on #131
@eborden I'm marking this issue as closed per my previous comment. Please let me know if you continue to have any problems around this.

[2019-02-22 06:38] abinoda opened #133 "As a user, I want DM notifications when I am made an Assignee of a pull request"
Requested by @adume:

[2019-02-22 15:12] marksb commented on #131
@abinoda - thanks for being open to feedback.

Not sure I have much to add to this thread. The above change is helpful for us.

A few team members do use email notifications and it does create a lot of noise for them. I think each person has their own system to handle those notifications though.

[2019-02-22 17:58] Minho-Lee commented on #133
@abinoda This feature would be awesome to have!

[2019-02-22 18:02] abinoda commented on #133
@adume @Minho-Lee Moving this into development 🚀

[2019-02-23 01:39] abinoda opened #134 "As a user, I want to set custom date ranges for analytics and leaderboards"

[2019-02-23 18:21] abinoda commented on #133
@adume @Minho-Lee This is released.

[2019-02-23 18:21] #133 closed, assigned to nobody

[2019-02-25 17:09] abinoda commented on #73
This feature is released 🎉  Once a review request is fulfilled, the original DM notification becomes crossed out:

<img src="https://user-images.githubusercontent.com/50083/53310257-5e84e500-3869-11e9-8502-99cb56236e2f.png" width="420">

cc: @douglasmamilor @cschultztech @mwarkentin @mmontreuil @JBKahn @nickpresta

[2019-02-25 17:22] molynerd commented on #73
@abinoda just tried it out. first impressions are that it works really well, and will definitely reduce some PR review times on our side. we'll update you if anything changes. Thanks!

[2019-02-25 17:23] abinoda commented on #73
@molynerd Good to hear! @ashanbrown Let me know how it's working for you once you see it in action.

[2019-02-25 17:24] abinoda commented on #126
This is now available for everyone.

@natashkap you should see it in your team reminder options.

[2019-02-25 17:24] #126 closed, assigned to nobody

[2019-02-25 18:24] abinoda commented on #73
This is out of closed beta and now in effect for all accounts.

[2019-02-25 18:24] #73 closed, assigned to nobody

[2019-02-26 00:53] abinoda commented on #125
@pandacalculus Is this blocking you from onboarding more developers from your team? Asking to help us guage the urgency of this.

[2019-02-26 01:28] #123 closed

[2019-02-26 07:33] abinoda commented on #64
@osterman We noticed that there was a bug in this that basically made it non-functional. We pushed a hotfix for it so it should work now if you noticed that it wasn't before.

[2019-02-26 16:03] RothAndrew commented on #73
@abinoda it works, but there's one unfortunate side effect that I'm seeing.

On my project, all PRs require 2 reviews to be merged. If I send a review request to a team, rather than an individual person, it gets crossed out for everyone after one person reviews it.

![screen shot 2019-02-26 at 10 50 07 am](https://user-images.githubusercontent.com/16000938/53427050-2dfe9180-39b6-11e9-9fbf-e8680866

[2019-02-26 16:45] ashanbrown commented on #73
Works awesome for me, but Andrew’s concern might be resolved just by adding
a check mark next to it for each review.  I assume requiring multiple
reviews is not a github feature itself.  I am curious to see how it works
when we have two reviewer groups assigned.  Is it considered resolved when
my review is no longer needed or when the PR is approved by all groups?

On Tue, Feb 26, 2019 at 8:03 AM

[2019-02-26 16:48] RothAndrew commented on #73
@ashanbrown It is actually a github feature. Here's a screenshot:
![screen shot 2019-02-26 at 11 47 36 am](https://user-images.githubusercontent.com/16000938/53430409-702ad180-39bc-11e9-8c4c-e7fcf8d36c00.png)

[2019-02-26 17:53] abinoda commented on #73
@RothAndrew Interesting side effect. Thank you for sharing.

I'm open to your suggestions for solutions. We determine that a review request is fulfilled using GitHub's API, which, similar to their UI, treats a team review request as completed regardless of the "Required approving reviews" setting. So without some crazy logic on our end we won't be able to change this behavior.

One of my initial r

[2019-02-26 19:18] mwarkentin commented on #73
@abinoda which API are you using? I believe they might have multiple values - IIRC there's a difference between "approved" (which I think happens after a single approval) and "mergeable" which happens when all protected branch settings are matched (including multiple approvals). Might work if you switch to that? Although that seems like it'd also pull in things like CI success into the equation..

[2019-02-26 19:19] mwarkentin commented on #73
Here's a similar issue on another tool: https://github.com/runatlantis/atlantis/issues/43

[2019-02-26 19:23] abinoda commented on #73
@mwarkentin This endpoint – https://developer.github.com/v3/pulls/review_requests/#list-review-requests. But this isn't an API issue, it's how GitHub works even in its UI. Once a single person from a team has responded to a team review request, that review request is considered fulfilled.

FWIW, whether a pull request is "Approved" or whether or not a review request exists are two separate things.

[2019-02-26 19:24] mwarkentin commented on #73
Nope, seems to be working as expected, but I don't think we have any repos where we require >1 approval before merge - I can see how that might be a bit misleading in that case.

[2019-02-26 19:28] abinoda commented on #73
@mwarkentin Yeah – the problem Andrew is running into only happens when using TEAM review requests coupled with a policy of requiring more than one review from that team.

I think our new tool Pull Assigner *could* be the ideal solution for Andrew along with other benefits that the tool offers.

Otherwise, if we could change GitHub, the solution would be for team review requests to not get marked

[2019-02-26 19:48] RothAndrew commented on #73
@abinoda I can't think of a workaround. I agree the way Github does reviews when it comes to teams is clunky.

Internally, for my team, I think we're just going to say "Stop requesting reviews from teams". I've seen the Pull Assigner functionality, but that doesn't quite fit what we want.

[2019-02-26 19:50] abinoda commented on #73
@RothAndrew Sounds good – will email you separately about Pull Assigner b/c I'd like to understand that better.

[2019-02-26 20:26] abinoda commented on #125
@pandacalculus @kppullin We've released this in closed beta. I'm going to reach out to both of you over email with instructions.

[2019-02-26 20:26] #125 closed, assigned to nobody

[2019-02-26 21:35] abinoda commented on #125
https://docs.pullpanda.com/products/pull-analytics/user-access

[2019-02-26 22:01] nullren commented on #131
my teammates are now complaining about that, too. i really like @benmanns idea:

since that also ties into what github does already with notifications. it seems kind of janky, but it seems the most usable.

[2019-02-26 22:05] abinoda commented on #131
@nullren Ok, sounds like no ones biting on my Gmail filter solution? 😝

I gave this some more thought, and I think there's a reasonable "in-between" solution. The idea would be to let you specify an "alias" team for your actual GitHub Team. So for example, if your team is `Backend`, you could specify another GitHub Team called `Backend-PullAssigner` as an alias. Then, you could request a review fr

[2019-02-26 22:06] brad-decker commented on #131
@abinoda i love that idea, this just came up for our team who is getting swamped with notifications in various apps they use to manage their github notificaitons .

[2019-02-26 22:08] nullren commented on #131
@abinoda that seems like it would cut a lot of the noise for my teammates

[2019-02-26 22:08] abinoda commented on #131
Ok, I think I'm sold on the idea. Will get this into development today and try to get it out ASAP

[2019-02-26 22:14] brad-decker commented on #131
@abinoda any idea how this will work with code owners if a review is required from code owners?

[2019-02-26 22:15] abinoda commented on #131
@brad-decker You'd have to provide a little more context, but there's no reason why the "proxy team" (I'm going with label instead of "alias team") can't be added to CODEOWNERs instead of whatever is there now.

[2019-02-26 22:20] Walther commented on #131
Another potential approach idea: see how things are done in Rust land with the rust-highfive bot user and the `r` commands. E.g. here: `https://github.com/rust-lang/rust/pull/58761`

[2019-02-26 22:22] abinoda commented on #131
@Walther Thanks for sharing that! That's awesome. I think we could add a command like that down the road as another option. The one thing that a command would lack is the ability to tie it into CODEOWNERS, which isn't a problem with a proxy team.

[2019-02-26 22:41] brad-decker commented on #131
@abinoda if the proxy team is empty then the issue is that requiring reviews from codeowners is not a viable option in github settings

[2019-02-26 22:51] abinoda commented on #131
@brad-decker Ah, I see your problem now. Hmmm, that's a tough one. In the context of your overall workflow I'm wondering if having that setting enabled is absolutely necessary for compliance versus just using the `Required approving reviews`?

As an absolute worst case scenario, you could keep your settings the way they are and address the email notification issue with email filters like I was sug

[2019-02-26 23:09] Minho-Lee opened #135 "As a user, I want reminders to let me know once my PR has passed all CI checks"
Similar to the notification when CI fails, can we have one when all CI passes?

<img width="657" alt="screen shot 2019-02-26 at 6 04 56 pm" src="https://user-images.githubusercontent.com/22223772/53453285-a9316900-39f1-11e9-9482-688297d47793.png">

[2019-02-26 23:12] brad-decker commented on #131
You're correct, I think this is a requirement that could easily be disabled. As long as people from the team are being assigned. I'm good with this approach as written 👍 (proxy teams)

[2019-02-27 00:59] abinoda commented on #131
🎉 Proxy teams is live – let me know how it works!

[2019-02-27 16:22] abinoda opened #136 "As a user, I would like a way to view my own personal metrics"
Requested numerous times, most recently by @kompiro

[2019-02-27 17:33] eborden opened #137 "Allow deleting pull assigner configs"
There is no way to delete a pull assigner config. If a proxy team is accidentally given a config then there is no way to utilize it as a proxy. If the config were delete-able then this should be possible.

[2019-02-27 18:00] abinoda commented on #137
@eborden Yep, this will be released today! Sorry for the inconvenience. A few other users have brought this up as well

[2019-02-27 18:41] eborden commented on #131
Experimenting with this now. Thanks for jumping on this so quickly!

[2019-02-27 18:46] eborden commented on #131
I noticed that team reviewer deletion is currently broken with proxies. On the positive end this doesn't have any negative effects for notification, since the proxy has no members, unless your settings require all reviewers to sign off for merge.

[2019-02-27 18:48] abinoda commented on #131
Thanks for reporting this! Will get this fixed shortly.

[2019-02-27 19:31] abinoda commented on #131
@eborden Proxy team review request deletion is fixed

[2019-02-27 19:31] abinoda commented on #137
This has been released, also pinging @geoffharcourt

<img width="420" alt="pull_reminders_delete_settings" src="https://user-images.githubusercontent.com/50083/53516084-b0578600-3a88-11e9-89c5-7ede9629b5df.png">

[2019-02-28 02:21] #137 closed, assigned to nobody

[2019-02-28 17:06] pavellishin commented on #135
Seconding this; our deploy process (obviously, I hope) relies on tests that sometimes take awhile to run, and it would be nice to not have to remember to tab back and check on PRs every 15 minutes.

[2019-02-28 19:06] maxgutman opened #138 "As a user, I would like to be able to ignore a specific pattern of a pull request title from being assigned to reviewers"
The use-case for us is we automatically generate PRs that contain multiple already reviewed commits as part of our release workflow. Additionally, we sometimes create PRs that we want to have a peer review before opening it up to others and we usually label those with something like [DO NOT REVIEW]

[2019-02-28 19:08] abinoda commented on #138
@maxgutman Is this request for Pull Assigner or reminders?

[2019-02-28 22:32] maxgutman commented on #138
Pull Assigner!

[2019-03-01 00:39] abinoda commented on #138
@maxgutman Gotcha. Still would like to understand better – is the issue that you're using CODEOWNERS so Pull Assigner automatically gets triggered on all PRs? And so you'd like a way to tell Pull Assigner to not run on certain PRs?

[2019-03-01 01:13] maxgutman commented on #138
Yes, exactly, we're using CODEOWNERS to automate every PR

On Thu, Feb 28, 2019, 4:39 PM Abi Noda <notifications@github.com> wrote:

[2019-03-02 18:04] eborden commented on #131
@abinoda The solution is working great. I'm going to close this issue as a success!

[2019-03-02 18:04] #131 closed, assigned to nobody

[2019-03-04 02:39] abinoda commented on #138
@maxgutman Got it, will get to this soon. Would disabling based on label work or does it have to be title substring?

[2019-03-04 03:10] maxgutman commented on #138
Label would work too

On Sun, Mar 3, 2019, 6:39 PM Abi Noda <notifications@github.com> wrote:

[2019-03-05 01:15] abinoda commented on #85
Another idea is to add a Slash command like `/pullreminders leaderboard` for channels as discussed with @danielrasmuson

Also logging another request by @kaiden-dragon and @sharoonthomas for metrics periodically posted to channels:

[2019-03-05 10:18] DavG opened #139 "As a User, I don't want to receive reminders on PR with enough approvals"
Hello,

In our workflow, all developers are automatically set as 'reviewers' (thanks to CODEOWNERS file).

But we configured Github Pull Requests with "minimum required approvals: 2" so in the Pull Request index, i don't see PR with approvals >= 2, even if i'm a reviewer on it. Because they are marked as "Approved".

I would expect the same behavior from Pull Reminders.
I think Pull Reminders shou

[2019-03-05 16:08] abinoda commented on #139
@DavG 👋 Thanks for submitting this issue! Question, are you looking for this setting for personal DM reminders or for reminders in channels?

For personal reminders, under "My DM Settings", there's a "More settings" link at the bottom that provides a "Ignore approved" setting. Does this achieve what you are looking for?

[2019-03-05 16:09] abinoda commented on #139
@DavG Also, for team reminders, if you check the "Remind authors after reviews" setting there is a "Needed reviews" option:

<img width="682" alt="needed_reviews" src="https://user-images.githubusercontent.com/50083/53819017-57736c00-3f26-11e9-8c99-1ab62532a9a8.png">

[2019-03-05 16:51] DavG commented on #139
Hello @abinoda , I was thinking about the channel reminders.

I just tried the "Remind authors after reviews" feature, but that's not what I want.
I just want the "Waiting for review" part to not contains PR with enough approvals. And I don't want a "Waiting for authors" part.

I already tried a lot of settings :(

[2019-03-05 17:06] abinoda commented on #139
@DavG Makes sense.

There's already a backlog issue for this here https://github.com/pullreminders/backlog/issues/115

In the meantime, there is a workaround described in that thread that some of our customers are using, which is the [GitHub Action](https://github.com/actions/) here: https://github.com/pullreminders/label-when-approved-action.

Email us at support@pullreminders.com and we can help

[2019-03-07 23:41] abinoda opened #140 "As a user, I want team review request DMs crossed out only once they have a specified number of reviews"
Requested by @javawizard @RothAndrew, also discussed here https://github.com/pullreminders/backlog/issues/73#issuecomment-467498146

[2019-03-08 00:32] nullren commented on #131
@abinoda we've set up the proxy team for a while now, but as a result, PRs assigned to the original (non-proxy) team still get routed through pull-assigner. imo, that shouldn't be the case — PRs assigned to the original team should be left alone.

[2019-03-08 00:33] abinoda commented on #131
@nullren That makes sense. Pretty simple change on our end, should be able to push a fix for this shortly.

[2019-03-08 17:18] abinoda commented on #131
@nullren This change is deployed. Can you post back when you've confirmed that its behaving the way you wanted?

[2019-03-08 17:20] ivanstoyanov opened #141 "As a user, I would like to be able to exclude/ingore repos from my org"
Our github org has picked up a good number of semi-important repos, who are not quite ready for deletion, and their old PRs and branches skew the pullreminders metrics and create "noise". The current github configuration allows individual repo selection, but I don't want to give up that by default every repo is being watched, i.e. need out-out vs opt-in.

If github's API doesn't support it, perhap

[2019-03-08 17:22] abinoda commented on #141
@ivanstoyanov Thanks Ivan. Have you looked into [archiving those repos](https://help.github.com/en/articles/archiving-repositories) – this is a reversible operation on GitHub that keeps the repo around but makes it read-only. Archived repos are excluded from Pull Reminders.

[2019-03-08 17:57] abinoda commented on #138
@maxgutman Working on this now. Would it be OK if for now we hardcoded a stop-word label on our end, for example a label named `disable-pullassigner`. Down the road we could let you choose your own labels but it'd be simpler for now if we chose some hard-set default like this.

[2019-03-08 20:03] ivanstoyanov commented on #141
Great suggestion, thanks. Btw, the repos I archived did get excluded from /prs, but still show up under /merge-time->"Oldest open PRs". Is that by design?

[2019-03-08 20:04] abinoda commented on #141
@ivanstoyanov No, PRs from archived repos should not be shown anywhere. Will get that cleaned up in the next couple of days, thanks for reporting it!

[2019-03-11 01:21] maxgutman commented on #138
Sure, that works for us for now.

On Fri, Mar 8, 2019, 9:57 AM Abi Noda <notifications@github.com> wrote:

[2019-03-11 15:16] 5outh opened #142 "Feature Request: Ignore bot-created PRs in pull-assigner"
My organization uses [restyled.io](https://github.com/restyled-io/restyled.io) to draft PRs that automatically restyle our code. When restyled creates a PR, it touches the code paths that trigger `pull-assigner` to automatically assign a reviewer to it. pull-assigner has been awesome for us, but this one litle bit of noise is unhandled.

Can we introduce a way to ignore bot-created (or particular-

[2019-03-11 15:41] abinoda commented on #142
@5outh Yes – we can add this shortly.

[2019-03-11 15:59] abinoda opened #143 "As a user, I want a real-time notification in channels when a specific label is added to a PR"
Requested by @kevinjfoley and @PatrickScholten

[2019-03-11 22:26] abinoda commented on #138
@maxgutman This is live. Just use the label `pullassigner-ignored` (case insensitive) on any pull request where you do not want Pull Assigner to run. Let me know if you run into any issues!

[2019-03-11 22:26] #138 closed, assigned to nobody

[2019-03-12 02:23] Minho-Lee commented on #135
Hello! Any updates? @abinoda

[2019-03-12 15:39] abinoda commented on #142
@5outh Can you try this first: configure restyled to add a `pullassigner-ignore` label to its pull requests? Pull Assigner will then ignore these PRs. See here: https://github.com/restyled-io/restyled.io/issues/121

[2019-03-12 17:47] RothAndrew opened #144 "Feature Request: See "Checks" status on PRs page"
As a user of the PRs page on the Pull Reminders site, I'd like to see the Checks status of each PR, so that I can easily determine which PRs are ready to merge or need additional work.

Suggested Acceptance Criteria:

1. For each row:
    1. If the Checks are all successful, the github-style green check mark is displayed
    1. If any of the checks are failed, the github-style red "X" is displayed

[2019-03-12 18:26] abinoda opened #145 "New Pull Assigner algorithm that assigns based on *current* pending review workload versus historical review workload"

[2019-03-12 18:28] abinoda commented on #82
This is now in progress

[2019-03-12 18:30] abinoda commented on #135
@Minho-Lee Thanks for checking in! This is definitely on our near-term roadmap but not yet in active development.

[2019-03-13 04:20] abinoda commented on #144
Adding to backlog

[2019-03-13 13:32] dimofeev commented on #141
Hey @abinoda,

 Do we have some update here? I still see these PRs...

Best,
 Dimo

[2019-03-13 16:54] abinoda commented on #141
@dimofeev Just deployed a fix for this – should be live in a few minutes. Let us know if you're still seeing the issue.

[2019-03-13 16:54] #141 closed, assigned to nobody

[2019-03-13 17:02] abinoda commented on #138
@maxgutman Please let me know if this resolved your problem!

[2019-03-13 18:47] maxgutman commented on #138
Yes it has. Thanks

On Wed, Mar 13, 2019, 10:02 AM Abi Noda <notifications@github.com> wrote:

[2019-03-14 03:16] abinoda commented on #143
This is live

[2019-03-14 03:16] #143 closed, assigned to nobody

[2019-03-14 03:57] abinoda commented on #115
Also marking this as unresolved for @kenske

[2019-03-14 06:12] abinoda commented on #76
@xinzweb I'm closing this issue because we're about to update the Slack message formatting which will automatically truncate the message beyond a certain length. The change should go out over the weekend – please let me know if the change doesn't address your original issue.

[2019-03-14 06:38] abinoda commented on #76
@xinzweb I spoke too soon :/ Question, though. Could you increase the "min staleness" to a higher level (even though its above your SLA) to reduce list length until your team gets more caught up?

[2019-03-14 19:08] abinoda commented on #124
@lukehefson Hi Luke, was curious to know if the team was working on a solution to the webhooks issue? I've had several more customer incidents with out-of-sync draft status, similar to the one reported earlier in this thread.

[2019-03-15 08:03] lukehefson commented on #124
Hey @abinoda and sorry to hear that your customers are having issues. It's in the team's backlog, so we're actively planning to get to it, but unfortunately I can't give you an ETA at this time. Hopefully very soon!

[2019-03-15 15:42] PatrickScholten opened #146 "As a team, we want real-time notifications filtered by labels"
Problem:
PullRequests without any labels are being notified in the team-channel, while "required labels" are set.

[2019-03-17 03:27] abinoda commented on #130
@bootstraponline @at-ishikawa @bmalehorn This feature has been deployed. There's no link to it yet, but you can access it at `/installs/:id/settings/ignored_users`. Please report back when you've tried it out so we can confirm this ticket can be closed.

@mercury2269 We will release this for on-prem once ^ confirms it's working well in the cloud version.

[2019-03-17 03:37] bootstraponline commented on #130
Thanks!

[2019-03-19 15:47] abinoda commented on #146
@PatrickScholten Closing this for now since this can be solved with the real-time notifications for "label added".