[2019-03-19 15:47] #146 closed, assigned to nobody

[2019-03-19 23:19] xinzweb commented on #76
I see, that's a good idea. I just bump it to 2 weeks stale (very stale). That will probably reduce my list. Thanks a lot.

[2019-03-19 23:37] xinzweb opened #147 "As a user, I want analytics on PR staleness over time"
I'd like to have a report of the PR staleness overtime, e.g. the longest time of last PR activity, and see how that will change over time.

For example, I can manually extract this information from my daily report. For example, on Feb 12 2019, the stalest is 2month. However, on Feb 14th, the stalest is only 2 days. Where people start to sweep the old PRs and triage on the release schedule. That's

[2019-03-20 16:58] abinoda opened #148 "As a user, I want reminders for team review requests to @mention a Slack group"
Requested by RothAndrew, mwallace72, etc

[2019-03-20 17:51] bmalehorn commented on #130
Tried it out, and works as expected. Thanks!

[2019-03-20 17:52] #130 closed, assigned to nobody

[2019-03-21 17:29] eborden opened #149 "Always assign reviewers"
Pull assigner will not assign a reviewer if all possible slots are already filled.

![image](https://user-images.githubusercontent.com/545655/54772035-8b13ee80-4bd4-11e9-9929-2d4216c2fabf.png)

It would be great to have a setting that always assigns additional reviewers. We use Pull Assigner for two reasons:
1. Removing the need to pick a reviewer.
2. Spreading knowledge.

In the second case it is

[2019-03-21 17:42] abinoda commented on #149
@eborden Makes sense, we can add an option to toggle this behavior. Will get this added soon.

[2019-03-21 18:54] abinoda commented on #147
@xinzweb Love this, adding to backlog

[2019-03-21 20:25] 5outh commented on #142
@abinoda We did this; the `pullassigner-ignore` label works when creating a PR in the UI and adding the label _before_ submitting the PR, but when we hooked it up with `restyled`, the label must be added after PR submission, so we see this:

![fafa](https://user-images.githubusercontent.com/959901/54782696-dd193c00-4bf5-11e9-8388-eb211e9cf671.png)

Can a delay be added to account for this type of

[2019-03-21 23:58] pbrisbin commented on #142
:wave: hi there. I think I actually know what's going on. And (if I'm right) it's a slightly more generic issue than just this ignore-by-label behavior.

I suspect you all get a `PullRequest` object in the webhook payloads you receive, and I'll bet you work directly with this resource instead of asking GitHub for the PR again via their API at any later point -- why would you?

Doing it that way ac

[2019-03-22 04:31] abinoda opened #150 "As a user, I want the base branch shown in merge notifications"
Requested by @blixt

[2019-03-23 01:07] abinoda commented on #142
@5outh @pbrisbin Interesting, and thanks for the additional thoughts! Just confirm, the problem here is that the CODEOWNER review requests are triggered *before* the labels are added.

I think the best solution *for now* may be to allow "ignoring" specific users, as @5outh originally suggested. I don't think this should be too difficult... will scope it out over the weekend.

[2019-03-23 01:10] abinoda commented on #119
Another use case from @idris:

[2019-03-23 01:13] abinoda opened #151 "As a user, I want an option to view breakdown charts as percentages instead of quantities"
From @gpeal:

![image](https://user-images.githubusercontent.com/50083/54859741-9c452400-4cd6-11e9-934e-1221ae943997.png)

[2019-03-23 02:59] abinoda commented on #150
@blixt Done

[2019-03-23 02:59] #150 closed, assigned to nobody

[2019-03-23 15:08] blixt commented on #150
Wow that was fast! Thank you!

[2019-03-25 13:48] pbrisbin commented on #142
That's correct. Though I might clarify that CODEOWNER review requests will _always_ be triggered before the labels are added in the case of programmatically-created PRs (since the GitHub API only supports create-then-label as two distinct actions). The problem is that pull-assigner is reacting to the PR as it was when created, and is not seeing the labels that were added instantly-but-separately.

[2019-03-26 14:22] xinzweb commented on #147
Great! Thanks!

[2019-03-28 21:52] abinoda opened #152 "Prevent Pull Assigner from assigning a reviewer who has already approved"

[2019-03-31 19:29] abinoda commented on #124
@lukehefson Thanks for the help with this.

Just integrated with the new [ready_for_review](https://developer.github.com/v3/activity/events/types/#pullrequestevent) webhook which resolves the issue here 👏

[2019-03-31 19:29] #124 closed, assigned to nobody

[2019-04-01 03:24] #152 closed, assigned to nobody

[2019-04-01 04:06] abinoda commented on #149
@eborden There is a new setting for toggling this behavior. Let me know if you have any questions.

[2019-04-01 04:06] #149 closed, assigned to nobody

[2019-04-01 04:32] abinoda commented on #104
Also requested by @ebourmalo

[2019-04-01 04:37] abinoda opened #153 "As a user, I want channel real-time messages to take take into account ignored labels, etc"
Requested by @AntoineLemaire @kschaffter-carecloud

From @eladmoshe:

[2019-04-01 04:41] abinoda opened #154 "As a user, I want to be set up reminders for Issues in channels"
Requested by @@tinder-hemanthprasad

[2019-04-02 08:25] davidgoate opened #155 "Question: Draft GitHub PR's"
I have a question r.e. https://github.blog/2019-02-14-introducing-draft-pull-requests/

Does the clock start ticking on draft PR's in the same way as non-draft ones? e.g. do they count towards average time to merge while in the draft state?

I guess it can make sense still that if someone is tagged as a reviewer of a draft PR to get early feedback that that metric should count towards review time.

[2019-04-02 14:44] abinoda commented on #155
@davidgoate Right now the clock starts ticking when a PR is opened, not when marked ready for review. We could allow the option of viewing both times, though.

[2019-04-02 15:14] davidgoate commented on #155
@abinoda

do you know internally in GitHub whether the PR is considered "open" in the draft state. I would imagine that it is given that [the API docs](https://developer.github.com/v3/pulls/#get-a-single-pull-request) seem to have two different JSON attributes for `state` and `draft`.

I think it would be a "kinder" metric, to have the option to measure the time between when the PR comes out of dr

[2019-04-04 01:09] abinoda commented on #82
Just logging another +1 for this by @severin

[2019-04-04 01:17] abinoda opened #156 "As a user, I'd like an API or csv export of metrics to analyze them and import them into dashboards"
From @kompio:

From @LeZuse:

Also requested by @willyyang, @julman99.

[2019-04-06 21:35] abinoda commented on #85
From @andymcfee:

[2019-04-11 08:39] israel-tk commented on #148
It would be cool if we could set team review requests reminders to target a certain channel.

For example, all review requested for team "flights" have reminders go to channel #flights_squad in Slack.

[2019-04-11 16:00] abinoda commented on #148
@israel-tk This should already be possible. Under your team reminder settings, do you see the "Filter by GitHub Team" option? That lets you filter reminders to a particular channel so it only reminds the team or team members based on your selection.

Let me know if you have questions or trouble setting it up.

[2019-04-12 07:31] israel-tk commented on #148
@abinoda thanks for the info, didn't see that option! I understand this will show up reminders for open PRs whenever at least one of the requested reviewers is part of the specified team, right? Not only when who was selected for review was the team itself. Am I mistaken?

[2019-04-12 14:35] abinoda commented on #148
@israel-tk Correct, it works for both cases (team or team member being requested).

[2019-04-15 17:18] abinoda commented on #115
Also requested by @cdimartino and @nobert.

Will get this added soon!

[2019-04-15 18:16] AzRu commented on #115
Would it be possible to make the # of approvals before hiding configurable?

Context: For several of our teams, our flow involves getting 2 approvals, so we don't want to show PRs that have 2 or more

[2019-04-15 19:22] abinoda commented on #115
@AzRu Definitely.

[2019-04-16 03:01] bwalding opened #157 "`/pullreminders` in Slack provides an http:// URL"
### Steps

Type `/pullreminders` in Slack

### Actual behaviour

I'm offered an http:// URL rather than https:// URL.

![image](https://user-images.githubusercontent.com/47446/56178986-8c0b3500-6047-11e9-942a-66d7b29f285d.png)

### Expected behaviour

To help prevent MITM / firesheep attacks, the URL should be `https://pullreminders.com/login`

[2019-04-16 03:03] abinoda commented on #157
Thanks @bwalding! Will fix and deploy now.

[2019-04-16 03:03] #157 closed, assigned to nobody

[2019-04-16 03:04] bwalding commented on #157
Thanks!

_You know that is a ridiculous turnaround time..._

[2019-04-17 19:55] maxgutman opened #158 "As a user, I want assigner to take me out of rotation when I go on vacation"
It would be great if a user can provide access to their calendar events so that assigner would automatically take people out of rotation a day or two before vacation, and adds them back when they return.

[2019-04-17 20:00] abinoda commented on #158
@maxgutman Thanks! This comes up every now and then. The main issue with this is figuring out the best way to allow users to set vacations.

You brought up calendar integration, which is interesting. Other options could include GitHub profile statuses or maybe something on the Slack side. Any strong preferences?

[2019-04-17 21:44] abinoda opened #159 "As a user, I want PR size shown in Slack reminders"
Requested by a number of folks:

[2019-04-18 01:39] maxgutman commented on #158
Slack would be a great option if tied to the slack status of the user.

On Wed, Apr 17, 2019, 1:00 PM Abi Noda <notifications@github.com> wrote:

[2019-04-18 19:41] willyyang commented on #156
I think I have the same use case as @kompio.. I want to fetch analytics / analyze our pull reminder data in order to create dashboards for my internal teams.

If we're able to export iframes of the analytics charts that would be nice too..

[2019-04-18 19:42] abinoda commented on #156
@willyyang What tool would you use to create dashboards?

[2019-04-18 19:42] willyyang commented on #156
it's built in house.

[2019-04-19 02:17] abinoda opened #160 "As a user, I would like a DM notification when certain files are changed"
Requested by @nevinera:

[2019-04-19 03:43] abinoda commented on #70
@petegivens @brad-decker @Carlangueitor @johnnypez @bobheadxi @adume

This is live. There's a new option under "My DM Settings" for getting notified when someone else merges your pull request.

[2019-04-19 03:43] #70 closed, assigned to nobody

[2019-04-26 20:59] abinoda opened #161 "As a user, I want to be able to blacklist team members in Pull Assigner"
Requested by @athkalia:

[2019-04-30 16:42] nesl247 opened #162 "Mention which team when stating team was requested for review in DMs"
In the DMs, it should mention which team was requested for review. I’m in many teams and I never know which one I’m being requested for review for without clicking the link.

[2019-05-02 10:39] aheritier commented on #134
Indeed it will be very useful. For exemple I would love to have a report on the previous quarter (in our case Feb -> Apr)

[2019-05-02 15:29] abinoda commented on #162
Thanks @nesl247. Just for more context, what different teams are you on where you're receiving team review requests for them?

[2019-05-02 15:38] nesl247 commented on #162
In my organization, I'm part of the `DevOps` team, and some other engineering teams. Because the team isn't included, I never know if I'm being requested as `DevOps` or as `Engineering`.

![image](https://user-images.githubusercontent.com/1037526/57087664-8f9cee00-6cce-11e9-8492-94941e0c6aef.png)

This is where I'm talking about including the team. Instead of saying `Reviews assigned to your Team`

[2019-05-02 15:38] abinoda commented on #162
👍

[2019-05-02 16:10] nesl247 commented on #162
`Reviews assigned to your team (DevOps)` may be a better solution. This keeps the messaging that you are part of the team, and also the team name.

[2019-05-09 17:16] DyegoCosta commented on #104
This feature would be really useful for us as well. Meanwhile it's not implemented, I was able to achieve similar behaviour with this https://zapier.com/apps/github/integrations/slack/1596/send-a-github-new-mention-to-slack-as-a-new-message

[2019-05-14 18:38] stephenweaver opened #163 "As a user, I would like to see `/prs` have stats from all prs, or have a state filter"

[2019-05-14 18:39] abinoda commented on #163
@stephenweaver Thanks Stephen, can you elaborate on this? Do you want a list of ALL open PRs? Or are you interested in getting metrics (like the leaderboard)?

[2019-05-14 19:19] stephenweaver commented on #163
![image](https://user-images.githubusercontent.com/5230027/57725442-ab17d980-767c-11e9-906c-8e4176a1bb8c.png)

Yeah, of course.

The leader board is definitely a nice feature that you have, but I lose the context of repo's and +/- lines.
So I was thinking, it would be cool to just see all the PR rather than just the open ones (maybe sorted by optional user/repo name/size).

The code curn tab is gr

[2019-05-14 20:28] abinoda commented on #163
@stephenweaver Thanks Stephen. Makes sense and is helpful!

[2019-05-14 20:39] abinoda commented on #153
From @rdhariwal:

[2019-05-15 22:28] joscha commented on #156
Our organization would also be interested in such an API. We use the Chromium owners model for code ownership and as such the people who have to review a pull request are calculated from this ownership structure. We currently have a tool that comments on a pull request and tells you the people you need to assign. It includes the load (how many pull requests waiting for review on that particular pe

[2019-05-16 18:41] ceeser opened #164 "Wrong user was mentioned in a pull reminder"
Add two users in slack with usernames `@Thomas Crown` and `@thomas`. Use @thomas to assign a pull request. Sometimes, pull reminder will say that it was `@Thomas Crown` that assigned the pull request.

[2019-05-16 19:21] abinoda commented on #164
@ceeser Hi Canute – the linkage between GitHub and Slack accounts is explicit and stored in the database. If you're seeing incorrect linkage you need to relink the accounts from the UI. To do this, go to the "Add users" screen, then click "remove" for the GitHub user(s) who appear to be currently connected to `@thomas` or `@Thomas Crown` in slack. Then, refresh the screen and relink them properly.

[2019-05-16 19:21] #164 closed, assigned to nobody

[2019-05-17 15:38] Tapchicoma commented on #161
We have the similar issue:
- person in team is on vacation
- person in team is sick
- person in team is working not full week

Would be nice to temporary exclude these people in such cases from the PR assigner.

First 2 cases, possible, can be covered by slack statuses: "vacationing" and "sick"

[2019-05-18 22:29] bwalding opened #165 "Slack setup message for channel has http link for app info"
(I have a fascination with http:// links as you might have guessed!)

![image](https://user-images.githubusercontent.com/47446/57975631-0ac10c80-7a10-11e9-86aa-3f745bce4de8.png)

[2019-05-19 17:08] abinoda commented on #165
Fixed 🚀

[2019-05-19 17:08] #165 closed, assigned to nobody

[2019-05-28 01:53] abinoda commented on #161
This feature is planned to be released this week!

Also logging another +1 from @robertmogos:

[2019-05-28 09:20] chinskiy opened #166 "As a user I wan't to see not only "@username approve PR" but also comments what was added with this approve"
Hello @abinoda !

I faced with  issue with `Pull Reminders` app in Slack when another person approve my Pull Request and leave comment like on image below with approving PR
![bugreport_pullreminders](https://user-images.githubusercontent.com/4370169/58466265-ff718d80-8141-11e9-8274-7e3ceecec241.png)

I got just notification like
[code]
Would be cool to get like in this case also notification about

[2019-05-29 03:15] indirect opened #167 "As a user, I want to be able to cancel my subscription"
The "payment information" page shows that my subscription is active, and lets me update my payment information, but has no way to cancel.

[2019-05-30 19:48] abinoda commented on #161
@robertmogos @athkalia @Tapchicoma This is shipped 🚀

[2019-05-30 19:48] #161 closed, assigned to nobody

[2019-05-31 07:38] Tapchicoma commented on #161
@abinoda cool :+1:

I am thinking about the ways of to automate this member exclusion. Is there any api endpoint available for this feature? Or pullreminders app command that user can enter?

[2019-05-31 16:58] athkalia commented on #161
I am writing an article about this actually. I automated this by using the slack api and github api. I wrote a job that runs a few times a day and when it spots that someone has a "holiday" or "out sick" emoji on slack it removes them from the pull assigner github team.

[2019-05-31 22:13] abinoda commented on #161
@athkalia That's cool!

@Tapchicoma Can you tell me more about how you'd envision the API being used as well as what sort of an app command you were thinking of?

[2019-06-01 09:42] Tapchicoma commented on #161
@abinoda at our company we are using 3rd party tool to request holidays/absence. This tool has an api that allows to get info who is absent today. My idea is to have a job that will grab such info each day in the morning from this 3rd party tool and add/exclude people in pull assigner.

Api could look something like this:
- `GET /pullassigner/teams` that would return all teams with memebers
- `UPD

[2019-06-04 06:27] Tapchicoma opened #168 "As an administrator, I want to have more fine-grained analytics access settings."
As an administrator, I want an option to disable leaderboard for the organization, as it brings in unnecessary competition and pressure on the developers.

We want Pullreminder be considered inside a company as a help tool that improves PR turnaround, but not as a tool that company may use for evaluating developer productivity.

[2019-06-04 15:43] abinoda commented on #161
@Tapchicoma Thank you for the write-up. Very helpful. Will think about how to address this.

[2019-06-04 15:47] abinoda commented on #168
@Tapchicoma There's a way to restrict access – https://docs.pullpanda.com/products/pull-analytics/user-access

Go to `/installs/:accountId/settings/analytics_permissions` to access, replace `accountId` with yours.

[2019-06-04 19:39] Tapchicoma commented on #168
But this will also close access to analytics, that we want it to be open to the team :thinking:

Leaderboard analytics is not directly accessible in the analytics tab. I would rephrase then this ticket to following:
"As an administrator, I want to have more fine-grained analytics access settings."

[2019-06-04 20:42] abinoda commented on #168
@Tapchicoma Got it. Concern over the leaderboards comes up from time to time...

What we recommend (and has worked for other customers who've initially had similar concerns) is that you (or management) explicitly communicate to your team that the leaderboard metrics are meant to be a fun way to create more awareness, and that they are NOT to be used for any sort of performance evaluation or assess

[2019-06-04 20:43] abinoda commented on #168
And of course, the name "leaderboard" doesn't help. We're aware of this and considering renaming it to something else.

[2019-06-05 07:40] Tapchicoma commented on #168
We've already done that, but people still may want to compete with each other. Renaming "leaderboard" would be nice, but disabling it completely would be better :slightly_smiling_face:

[2019-06-06 21:57] perplexes commented on #158
Does Pull Reminder have an API? We use Zenefits and we could probably tie it to our PTO calendar.

[2019-06-07 16:39] athkalia commented on #158
We wrote a Jenkins groovy script that checks the slack status via their API and adds/removes people from that github team. Happy to share

[2019-06-07 16:59] nicogreenarry commented on #158
We'd be interested in seeing that!

[2019-06-08 03:42] abinoda commented on #168
@Tapchicoma Gotcha. Will keep this issue open – definitely want to revisit this. Also curious to know if the sensitivity subsides for your team as some time passes.

[2019-06-10 16:03] annp89 opened #169 "Add `Ignored Labels` to "Team settings" so certain PRs are removed from being assigned for reviews"
In our automated release process, a PR is opened with the release branch that is deployed to our staging environments.

This PR has an `pullassigner-ignored` label automatically added to it.

We would like the team to be excluded from being added to review this PR. Similar to `Ignored labels` in `My DM settings` can we get an option like so for the Team settings.

[2019-06-11 15:47] abinoda commented on #166
Thank you for this! Adding to the backlog

[2019-06-12 18:55] abinoda commented on #169
@annp89 Hi Ann! Sorry, could you clarify a bit? Are you saying that PRs labeled with `pullassigner-ignored` currently are NOT getting properly ignored?

This is related to https://github.com/pullreminders/backlog/issues/142

[2019-06-13 05:34] annp89 commented on #169
Yes, even though our PRs are tagged with `pullassigner-ignored`, it still gets assigned to people on our team

[2019-06-13 10:22] voxpelli commented on #142
I fully agree with this.

I want to have pull assigned assign all human-creates PR:s evenly, but not drown everyone in all of the bot PR:s from @renovatebot

Though: It would be nice to have pull assigner remove the proxy team that CODEOWNERS assigns for bot PR:s as well :)

[2019-06-13 15:26] abinoda commented on #169
@annp89 Is it a bot that opens these release PRs? Is it a custom internal bot?

[2019-06-14 06:46] annp89 commented on #169
Yes it is

[2019-06-18 05:29] kompiro commented on #156
@abinoda

Hi abi, Congratulation to join to GitHub. I really glad to the big news!
I hope pullpanda provides some api as GitHub API.

[2019-06-20 13:49] Limess opened #170 "As a user, I would like the option to limit team pull-request reminders to repositories owned by the team"
As a fairly large organisation we have a large number of teams, and a number of individuals frequently move teams, or raise PRs across teams, there are some issues with the current reminder format when targeting a team using `
Filter PRs by GitHub Team`.

Currently we receive slack notifications when configuring a team reminder for any _member_ of the team who has an assigned PR in _any repository

[2019-06-20 18:09] patrickelectric commented on #104
Any update in this matter ?

[2019-06-21 05:46] abinoda commented on #170
@Limess Hi Charlie, as an interim solution could you use the repos filter for team reminders? Of course that has to get set manually but I think it'd address your need? Let me know if not.

[2019-06-21 15:18] pevans commented on #153
We have separate Slack channels for our teams here at Built In. I expected real time messages to be filtered according to the configured GitHub team, and found it rather confusing to have real time messages from all PRs sent to every team channel.

[2019-06-21 16:14] gitblit opened #171 "Include total PR size with Average and Max"
Leaderboard->PR Size.

It would be nice to know the total size of contributed PRs along with the existing Avg Size, Max Size, and Count.

[2019-06-22 06:58] athkalia commented on #161
This is the article FYI for it, in draft status but very close to being published! :)
https://medium.com/babylon-engineering/bringing-some-order-to-pull-request-reviews-27ac55d181bb

[2019-06-22 07:00] athkalia commented on #158
Hi @nicogreenarry , this is the article explaining the process!
https://medium.com/babylon-engineering/bringing-some-order-to-pull-request-reviews-27ac55d181bb

[2019-06-22 07:00] abinoda commented on #161
@athkalia ♥️

[2019-06-24 19:05] GunnarHolwerda commented on #153
I will second this request! We have a custom solution at OpenSesame that automatically does backmerges between branches. It does this by opening a PR, checking if there are conflicts and then merging it if there are none. With this use case we get a lot of PR open notifications when an "Automated Merge" PR is created. We would like to be able to filter out real-time notifications like we do for th

[2019-06-24 19:17] willyyang commented on #156
@abinoda Congrats! Any news on this issue?

[2019-06-25 04:40] abinoda commented on #156
@kompiro @willyyang Thanks guys! I'm actually looking into this right now. Could you tell me more specifics on both of your use cases? Like, what exact dashboards are you interested in building in your internal dashboard tools?

[2019-06-25 11:07] willyyang commented on #156
Just looking for API that backs the data / graphs generated in the `Analytics` section of PullReminders.

Best case is if you're able to allow for exporting iframes of the analytics charts.. If not, I just need the data and I can re-create the graphs.

[2019-06-25 13:51] charmpitz opened #172 "Add static team member to Assigner rule"
I want to be able to add static team members along with a defined strategy of assigning PRs that should always be present.

[2019-06-25 14:01] charmpitz opened #173 "As a user, I want to be able to define "static" reviewers that Pull Assigner always assigns"
A real usecase example that right now can't be easily solved:
1. There are 2 teams that want to review each others PRs especially for the repositories where they have better knowledge in.
2. We want to limit PRs assignation based on knowledge of the team per repositories.
3. We want to assign certain members (technical team leads) to always be included for certain repositories PRs in order to supe

[2019-06-25 14:27] abinoda commented on #156
@willyyang if you had the data would you create different graphs than what is shown in the app? Or would you recreate the same ones.

[2019-06-25 14:33] willyyang commented on #156
I'd re-create the same ones. You've done a great job showcasing basically everything my team and I want!

[2019-06-26 13:29] petemounce commented on #168
Would it be possible to provide a setting that we could fill in some text to such that that text (along the lines of "these are vanity metrics, not intended for decision-making") appear prominently on the leaderboard (and maybe other) pages?

[2019-06-27 13:56] Limess commented on #170
Hi @abinoda. We have a lot of repos, with repos being created or changing hands relatively frequency. This doesn't really work for us.

[2019-06-27 18:54] stclairdaniel commented on #115
Also looking forward to this. Any updates?

[2019-07-02 06:16] hshimoyama opened #174 "Feature Request: Add a real-time alerts setting for getting alerts when assigned PRs have changed to "Ready for review"."
Our products uses Draft PRs as "Not ready for review" and reviewers want to know assigned PRs have changed to "Ready for review".
So please add a real-time alerts setting to get when "Assigned PR has changed to Ready for review".

[2019-07-02 14:39] abinoda commented on #153
Somewhat related – https://github.com/pullreminders/backlog/issues/174

[2019-07-02 16:35] tristanbes commented on #156
Hello 🌝,

Let me add a use case, I was hoping to display some metrics on a dashboard:
Behold for the beautiful mockup.

![Esquisse](https://user-images.githubusercontent.com/346010/60529898-e6876980-9cf7-11e9-8ed4-21598996a9b6.png)

Note that if this dashboard exist inside the pullreminders.com i'd be happy to display it on the TV instead of consuming an API (Accessing the URL it via a private tok

[2019-07-02 17:45] keegancsmith commented on #153
I also would like this feature. At Sourcegraph we have a [mono-repo](https://github.com/sourcegraph/sourcegraph) that multiple teams develop on. Each team has its own slack room, so most PRs via real time notifications are unrelated. Additionally, I found this behaviour surprising.

[2019-07-03 16:16] pelzhaus commented on #156
Agreed with all of the above! Another example that would be nice is to periodically pull data to create our own time series graphs - there are some in the analytics section but I find them somewhat limited (I _personally_ dont love stacked bar charts, but to each their own), and would love to display them next to arbitrary data (key metrics, tickets, etc.). Some questions I'd like to answer over t

[2019-07-05 19:20] abinoda commented on #173
Moving this to the backlog

[2019-07-05 19:21] abinoda commented on #172
@charmpitz Could you elaborate more on your process and use case?

[2019-07-05 19:21] abinoda commented on #171
@gitblit Thanks James! Could you elaborate more on your use case?

[2019-07-05 19:22] abinoda commented on #104
Sorry, not yet!

[2019-07-05 23:32] gitblit commented on #171
It's hard to judge individual velocity and contributions.  I'm looking for more insight on an individual's contributions during a window relative to peers.  PR count is insufficient, although interesting.  Same with Avg and Max Size.  Total impact/churn would help to round out the stats.

[2019-07-05 23:44] abinoda commented on #171
@gitblit I'm intentionally playing devil's advocate, but can you sell me on the value and/or real life use case for Impact/Churn (moreso the former)?

I'm aware these are metrics which exist in certain other tools but as a former engineering manager myself, I have concerns about going down the road of tying lines of code written (augmented with other factors) in ant way to the idea of measuring pr

[2019-07-06 00:01] gitblit commented on #171
I get that, but then why have any stats at all?  They are all tiles (good or bad) in the mosaic of productivity.  Some tiles are about code contributions, but there are many others to complete the picture.  I'm looking for more info on the code tiles.

[2019-07-06 00:08] abinoda commented on #171
@gitblit I agree with that. But I think there's a spectrum in terms of how directly useful a metric is as well as risk of misuse and harm from distorted incentives. "impact" seems like something that could place importance on something that I think most engineers would say is not at all a measure of "Impact". What do you think?

I'm curious if there's be a way to approach this in a more binary way

[2019-07-10 21:31] abinoda opened #175 "As a user, I would like the number of pending requested changes shown beside approval count"

[2019-07-11 09:40] toffentoffen commented on #108
Besides auto-generated files, some languages can vendor their dependencies into a specific folder.
For instance, in Golang, you can have a vendor folder where you keep all your dependencies in order to have reproducible builds.

[2019-07-11 20:09] abinoda commented on #156
@tristanbes What is "success rate" in your illustration?

[2019-07-11 20:10] abinoda commented on #156
@pelzhaus For my own understanding, could you elaborate more on the use case for why you'd like to understand these:

[2019-07-15 13:17] fredden opened #176 "Filter PRs by GitHub Team - restrict to Teams, not members of teams"
Similarly to #170, we have a number of teams with partially overlapping memberships. This is causing us trouble when we want to `Filter PRs by GitHub Team`, as this filter seems to be "members of GitHub Teams" rather than "GitHub Teams" themselves. When requesting a review from a team, I would like this to show up in the associated room for that team, but not rooms for other teams (which have user

[2019-07-15 17:40] willyyang commented on #156
@abinoda @pelzhaus I think this allows for better measurement of team velocity and just exposes more metrics that can be used to refine how teams work.

[2019-07-15 18:54] pelzhaus commented on #156
@willyyang exactly, just working through different metrics that may help expose patterns of the team.

An example for the time of day stat: Lets say you do a daily deployment that starts at noon every day. Does the team exclusively submit pull requests at 11:30 and try to get them into deployment that day? Do people tend to submit reviews first thing in the morning or later in the day? Exposing th

[2019-07-16 19:04] ammario opened #177 "Show median in leaderboard instead of mean"
The median
- review ratio
- review turnaround time
- pr size

would be far more helpful than the mean, which appears to be shown currently. I'm never interested in the outliers when reviewing this data.

---

Also, the little user education tooltips should say whether we're showing the mean or median.

[2019-07-16 20:26] darmalovan commented on #69
I'm still trying to get alerts on Travis, I've enabled it the notification GH app for the specific repo, still not seeing any alert on slack - anything I need to take into account? Tried also to put `Travis CI, Travis CI - Pull Request` but nothing seemed to work.

[2019-07-17 09:29] AliSoftware opened #178 "PullAssigner works for one repo but not the other"
Hi,

We have multiple repos in our organisation and while in some, PullAssigners is working (I'm not the one who configured it there though), in the other it properly assigns our PullAssigner proxy team to the new PRs (since we configured the `CODEOWNERS` file for that) like the others... but then PullAssigner doesn't assign anyone to those PRs in that problematic repo: it stays as a regular revie

[2019-07-17 17:21] abinoda commented on #172
Merging this into https://github.com/pullreminders/backlog/issues/173

[2019-07-17 17:21] #172 closed, assigned to nobody

[2019-07-17 17:21] abinoda commented on #161
Related to https://github.com/pullreminders/backlog/issues/158

[2019-07-17 18:03] caitlinhawkins opened #179 "Pull Assigner - Newly setup team not showing up as a reviewer selection"
I just set up two new teams on pull assigner, but neither are showing up in the list of choices in the "reviewer" box for the team.

[2019-07-17 18:04] abinoda commented on #179
@caitlinhawkins Try adding and removing a member for each team – that should force a sync!

[2019-07-17 18:04] #179 closed, assigned to nobody

[2019-07-17 18:43] caitlinhawkins commented on #179
That didn't work :(

[2019-07-17 18:44] abinoda commented on #179
@caitlinhawkins Are the teams marked as "secret"? If so that would be the cause.

[2019-07-17 18:47] caitlinhawkins commented on #179
No, both teams are marked as "Visible".  I confirmed they have they had the same settings as the existing team that pull assigner is working for

[2019-07-17 18:53] abinoda commented on #179
@caitlinhawkins whats your org name? Will run a full sync for you now which should fix it then

[2019-07-17 18:55] caitlinhawkins commented on #179
Sense360

[2019-07-17 19:08] abinoda commented on #179
@caitlinhawkins Let me know if its not resolved

[2019-07-17 19:16] caitlinhawkins commented on #179
:( it's still not there.

[2019-07-17 19:24] abinoda commented on #179
@caitlinhawkins Wow, I completely misunderstood the issue!

So the problem you're running into is that the GitHub Teams you created need to actually have read (or maybe write) access to the repos where you're trying to assign them as reviewers on. Otherwise they dont show up as options.

[2019-07-17 19:24] abinoda commented on #179
You can manage this under GitHub team settings

[2019-07-17 19:27] caitlinhawkins commented on #179
Ah, duh - that makes a lot of sense.  I confirmed all the actual settings, but didn't click through the other pages on the team page.  THANK YOU!!!

[2019-07-17 20:09] abinoda commented on #178
@AliSoftware What is shown in the activity log in the Pull Assigner dashboard?

Otherwise, make sure that both the `Pull Assigner` and `Pull Panda` apps BOTH are enabled for the repo in question. You can double check this by going to your GitHub organization settings -> `Installed GitHub Apps`.

[2019-07-17 20:09] #178 closed, assigned to nobody

[2019-07-17 20:38] smundro opened #180 "As a user, I would like closed PRs to be crossed out in Slack."
In Slack, my Pull Reminders channel is full of crossed out "requested your review" messages, and not crossed out "approved ..." messages.  Ideally the "approved" messages would also be crossed out when the PR is closed so that the non-striked-through messages are Reminders to take action on a PR.

[2019-07-18 09:02] AliSoftware commented on #178
@abinoda Thanks for the quick reply.

I just removed and re-added our Pull Assigners proxy team to a PR in that problematic repo, and the activity log shows:

But the repo is an OpenSource repo, you should be able to see it yourself too: https://github.com/Babylonpartners/Stevenson/pull/20

Maybe it's just that the proxy team is not given access to the repo indeed, despite the repo being OSS. I'll

[2019-07-18 09:16] AliSoftware commented on #178
Here's our setup so far:

1. In pullreminders.com, under "Assigners" tab, we have – amongst others – a team added for team "iOS-PullAssigner (iOS-Admin)". So this is supposed to affect people from the `iOS-Admin` GitHub team (which has 27 people in it), using the proxy team `iOS-PullAssigner` (which has 0 people in it, as expected for a proxy team)
2. In a repo of our org where Pull Assigners work

[2019-07-18 10:01] AliSoftware commented on #178
Ok, this was indeed because of a setting at the GitHub *organization' settings* level, had to have our devops folks add that repo as part of the repos which the app had access too, so it's solved now!

Thanks for the pointers @abinoda !

Do you think it would be worth updating [this doc](https://docs.pullpanda.com/products/assigner) to help people troubleshoot this kind of issues in the future?

[2019-07-19 16:35] connected-crowshanbin opened #181 "As an administrator, I'd like the ability to share access to the Pull Reminders dashboard with guests in my slack organization"
Currently, when guests in a slack organization try opening the Pull Reminders dashboard, they see the message "You’re not authorized to install Pull Reminders for GitHub on <org name>". Guests are pinged by the Pull Reminder slackbot, but cannot go to the dashboard to see analytics, change their ping settings, etc.

I would like a way to give guests of a Slack organization the same access to Pull

[2019-07-19 16:59] abinoda commented on #181
@connected-crowshanbin This is a known issue – please email support@pullreminders.com with a list of those users' GitHub usernames and we can manually verify them on our end.

[2019-07-19 16:59] #181 closed, assigned to nobody

[2019-07-19 22:47] glennpratt commented on #153
I would also like this feature. Multiple teams at my company expected it to work this way already based on the UI. Most have since turned it off entirely because of the noise levels.

[2019-07-20 03:34] alxndr commented on #115
Seconding this request!

Use case: at `$work` my team is using our Pull Reminder integration to alert us to PRs which need to be reviewed, but another team is responsible for merging them, so once they have been reviewed, my team no longer considers them actionable. So these PRs require approvals but without anyone specifying who the reviewers must be (thus we're not using the `review_requests` op

[2019-07-22 09:12] unki2aut commented on #180
I noticed the same!

[2019-07-24 17:33] jsjoeio opened #182 "As a user, I would like to be notified when someone re-requests my review on a PR"
Currently, our workflow looks like this:

1. Developer submits Pull Request.
2. Under "Reviewers", Developer requests entire team.
3. A Team Member reviews the PR and requests changes.
4. The Developer makes the changes and updates the PR.
5. The Developer clicks "Re-request review"
6. What we want to happen -> Pullreminder sends a message:
  a. directly to a #channel on Slack to the person whom t

[2019-07-24 17:54] abinoda commented on #182
@jsjoeio The DMs for re-requested reviews should already work, right?

[2019-07-24 19:13] jsjoeio commented on #182
@abinoda apologies - you're absolutely right. My teammate and I just tested and we can confirm it works:

1. First it shows the team's review has been requested.
2. Then when she clicked re-request for me specifically, I received a DM

![image](https://user-images.githubusercontent.com/3806031/61821584-6a6ed600-ae0c-11e9-9f82-1ec6aef6c7a0.png)

I'll update my original comment

[2019-07-24 22:51] dabutvin opened #183 "As a user, I would like to delay assigning PRs by a configurable number of hours"
Just like team reminders have the
'Min age' : Limit pull requests in reminders by how old they are

I would like to have a 'Min age' on pull assignments.

The flow I was looking for was:

1. Author opens a PR
2. Author requests a review from a team
3. Anyone from the team has 48 hrs to pick it up
4. If no one picks up the assignment themselves, the PR gets assigned by pullassigner

[2019-07-25 21:08] jtthackery opened #184 "As a user, I'd like archived repositories to be excluded."
If a repo is archived its PRs shouldn't appear in analytics, reminders, or the PR list.

[2019-07-25 21:11] jtthackery commented on #184
To add some additional context, we just enabled access across our org.  It'd be preferable to not have to manually select/deselect dozens of repos out of hundreds 😬

[2019-07-26 04:56] mactkg opened #185 "As a user, I'd like to connect a GitHub organization to multiple Slack workspaces"
It seems that Pull Panda support only connecting a GitHub organization to a single Slack workspace.  We are using a GitHub organization from multiple company, this spec is trouble to us.

The other company is using Pull Panda now, so we can't use Pull Panda... :cry:

[2019-07-29 21:09] connected-crowshanbin commented on #181
Hi @abinoda ! I emailed that address with a list of usernames but haven't received a response yet. I just want to make sure I'm not missing a step and that you and your team will get around to it.

[2019-07-30 09:48] spion opened #186 "As a user, I'd like to connect multiple GitHub organizations to a single Slack workspace"
This would be the reverse issue of #185 - we have a separate OSS org from the private org but use a single Slack workspace.

[2019-07-31 07:37] Joeper214 commented on #100
I also would like to have this feature.

[2019-07-31 09:24] Joeper214 commented on #64
@abinoda  Hi I would like to know if this is already supported in pullreminders.com dashboard? If so, I would like to know how to use it. Thanks

[2019-08-02 10:13] Joeper214 commented on #64
We also want to integreate this in our open source repo.

https://github.com/blue-oil/blueoil

[2019-08-05 08:26] MadMango commented on #153
Plus one on this, it would be great to be able to only get instant notifications based on labels

[2019-08-06 02:32] Joeper214 opened #187 "Unasigned pull request reminders doesn't work in my Team reminders."
This was related to this [issue](https://github.com/pullreminders/backlog/issues/64).

However, It did not work in my case. Is there a way how to use or enable this?

[2019-08-12 17:19] bricker commented on #153
👍 Our organization has many teams and each team wants to receive real-time PR notifications only for PRs that the team cares about, but that's not currently possible without maintaining a list of repositories, which is not viable for teams which are responsible dozens of repositories.

Looking forward to seeing this feature!

[2019-08-12 23:15] misha-ridge opened #188 "As an administrator, I'd like an ability to set default CI checks for a repository"
Default set of CI checks for real-time DM notifications does not match the repository I'm managing.

I'd like to set the default list of CI checks for this repository, so that users have a sensible default they can edit if they'd like, or use "as is".

[2019-08-13 14:20] sloria opened #189 "As a user, I would like to find a reviewer based on their current work load"
I would like to have some visibility into my teammates' code review workloads, and assign a reviewer to my own PR based on that.

Related to https://github.com/pullreminders/backlog/issues/101 . We don't use CODEOWNERS because most team members work across all repos.

[2019-08-19 11:51] hughsaunders opened #190 "As a user I'd like to include all repos except an exclude list"
When setting up scheduled reminders, currently the options for including repos are all repos, or choose a list of repos.

If I choose all, then test repos will be included, potentially spamming the team. If I choose a list of repos to be included, then repos created in the future will not be included.

It would be useful to be able to include all repos except for a few that are specifically exclud

[2019-08-21 08:20] WafaZaidan opened #191 "As a user, I would like to be notified with PRs that fulfill any of my Required Labels"
**Current situation:**
Currently when I setup PR reminders for a slack channel and specify the required labels, if I add two labels like `ready-for-review`, `ready-to-ship`, pullreminders will select the PRs that have these two labels and report them to the channel but if a PR has either of these, it won't get reported.

**Requested Change:**
We would like to add more than one label and indicate t

[2019-08-22 10:25] kenneth-gray opened #192 "Deleting pull assigner configs is not obvious"
It's quite easy to add teams to pull assigner, but it's not clear how to delete them. Thanks to a colleague we figured out you have to disable them first.

Is there a way of adding a delete button to active configs? That way an error message can point the way to disabling first if required.

[2019-08-22 11:31] eversC opened #193 "Assigner teams page formatting"
In the Assigner>>Teams page, team names are listed in "**Proxy-team** Team" format (Proxy-team in bold).

It feels like it'd be clearer if the format was "**Team** Proxy-team" (Team in bold).

[2019-09-04 15:50] kavinvkannan opened #194 "As a user I would like to configure reminders specifc branches only (QA)"
Currently I am receiving Pull request Reminders for any brnahc against a repo, which is overwhelming at times. I would like to configure thr reminders to be notified when a poull reuqest is made to specific branch in a repo and not for all branches.

[2019-09-04 19:10] voxpelli commented on #142
@abinoda Any update on this? Did the solution you mentioned in https://github.com/pullreminders/backlog/issues/142#issuecomment-475826305 get implemented?

[2019-09-05 13:40] soundstep opened #195 "Documentation workflow (feature request)"
Hi,

We started using Pull panda, and it is great so far.

Feature request:
It would have been nice to have any kind of step by step workflow example to understand the process, in your documentation.

One thing we can't figure out is how to change this status of "Waiting on".

Our current workflow:

1. Create pull request
2. Assign a team for review, 2 users get assigned by pull assigner
    Curre

[2019-09-06 23:24] whilp opened #196 "Reminders and metrics for issues"
I've been amazed at how effective pullreminders is at helping our teams stay focused on finishing work we've started. In fact, pullpanda seems more effective in this regard than many of the various task/kanban products I've tried.

Today, this awesomeness is concentrated around pull requests. That covers a lot of ground, but our team has plenty of work that does not begin or end with a pull reques

[2019-09-12 15:07] anawallgren opened #197 "Only view data related to my team, instead of organization"
My organization has many different teams. I would like to only view data relevant to my team when I click each of the screens (Analytics, Leaderboard, PRs). Otherwise, whenever I navigate to a different screen, I have to filter by my team again.

[2019-09-16 14:14] wakatta opened #198 "Statistics on pull requests"
I'd like to be able to see:
- How many times was specific request rejected,
- How many times did specific reviewer rejected others pull requests,
- Filtering by ASC / DESC on those counts.

[2019-09-18 14:27] jamesvphan commented on #130
tried the link above to add ignored_users, but led to 404 page. is this link still valid? im trying to mute notifications from certain bots

[2019-09-18 18:26] bmalehorn commented on #130
@jamesvphan Works for me - when I sign in I go to https://pullreminders.com/installs/7443629, so I edited that URL to https://pullreminders.com/installs/7443629/settings/ignored_users.

[2019-09-19 13:55] jamesvphan commented on #130
ahh thanks @bmalehorn it works for me :)

[2019-09-19 15:58] Taluu opened #199 "Pull Assigner doesn't update / refresh the team list"
Hi,

Seems that once a "team" has been assigned, even if it is changed through github, it is not updated on the dashboard.

E.g the following "workflow":

Before installing PullAssigner, I made a test organization with 2 teams (one private, full of members and another one as a proxy as detailed in the documentation)

After the installation, I could only view the public proxy... and aborted the cre

[2019-09-19 16:01] Taluu commented on #199
Note ; it seems it recognizes when a new team is created... but still no dice if it's ever updated.

[2019-09-19 16:03] Taluu opened #200 "As a user, I'd like to assign a member from a secret team as a reviewer"
Hello,

currently, it seems there is no support for "secret" teams. It'd be nice to have it, especially when using proxy teams, so that both teams doesn't appear in the reviewers list, as it could be confusing.

[2019-09-24 16:29] bondydaa opened #201 "As a user, I would like to automate adding and removing team members on the Excluded Team Member list"
We've recently implemented Pull Panda to help us with our PR assignment which is working great so far. One issue we foresee getting in our way is that as team members go out of office their assignments and reviews will go down which means they'll be more likely to be assigned PR automatically but won't be around to review.

I know there is the `Excluded team members` list which can be manually mai

[2019-09-25 21:28] ilyaGurevich opened #202 "As a user, I'd like to be able to add a proxy team and the original team as a codeowner, but have the proxy team deleted after assignment"
If a codeowner includes the proxy team and the original team, is it possible to be able to delete the proxy team after assignment?

[2019-09-26 15:34] amree commented on #69
Is there a way for us to get DM when the build passed?

[2019-09-26 17:06] moberemk opened #203 "As a user, I would like to remind users to merge their open pull requests"
One issue we have is that stale PRs can linger in the list but there's no direct reminder to the author to merge their open PRs. Ideally there should be a way to encourage that user to actively close their open PRs to prevent them from being forgotten or ignored for long periods of time, and a direct user PM seems like the most effective option for this.

[2019-10-01 13:31] Taluu opened #204 "As a user, I would like to have reviewers picked in the child members"
Hi,

We have a "meta team" that has 2 reviewers teams, which would have different members in it, but no members on the top team.

So it seems that pull assigner can't find any "direct" members and thus fail...

[2019-10-01 15:50] brad-decker commented on #82
@abinoda do you have any insight into where this will now fall with the GitHub acquisition?

[2019-10-01 21:30] abinoda commented on #82
Still prioritized, but will be tackled as part of a relaunched product we are working on

[2019-10-03 11:47] akaralar opened #205 "Some users in the org can not see the leaderboards"
We have some contractors that are members of our organisation on Github and guest users on Slack. They can see the Slack app and receive notifications but they can not see the UI of pullreminders. They report this is what they see:

![Captura de pantalla 2019-10-03 a las 11 22 52](https://user-images.githubusercontent.com/309655/66124130-47228d00-e5ec-11e9-84ab-dbf50b7fff94.png)

They are on a dif

[2019-10-06 18:18] jholt1 commented on #185
We are stuck on this as well - currently can't use as another Slack workspace is using Pull Panda.

[2019-10-07 10:57] ftchirou opened #206 "As a user, I would like to have access to an API to programmatically exclude/add reviewers"
In my team, we have a Slack app running that observes the developers statuses and sets them up as available or unavailable for code reviews. This last part is done by adding/removing them to/from the Github Team associated to PullPanda. Useful for when reviewers are on holiday or unavailable temporarily.

Ideally, it would be great to have an API allowing to automatically exclude or add reviewers

[2019-10-08 23:03] AbdulAli19 opened #207 "As a user, I'd like to exclude team members until some time in the future"
ex: i'm going on a vacation and i come back on xx/yy/zzzz. i want to be able to add myself as an excluded team member until xx/yy/zzzz at which point i'll automatically be removed + no longer be an excluded team member.

[2019-10-16 14:22] jordanjennings commented on #69
We're trying to figure out how to use DMs to be notified of Jenkins PR build failures. We've enabled both Pull Panda and Pull Reminders (CI Notifications) but no matter what DM filter we use there's no notification sent. I've tried lots of combinations of things with no luck.

Here is an example of the failed check:
<img width="600" src="https://user-images.githubusercontent.com/1031913/66927369-a

[2019-10-17 15:54] johnfonte commented on #158
As a fun exercise, I went and built what's described in the article and made it open-source:
https://github.com/johnfonte/pull-unassigner
@abinoda @nicogreenarry @athkalia @maxgutman

[2019-10-17 17:20] nicogreenarry commented on #158
@johnfonte very cool! I haven't used it yet, but I may. We aren't currently diligent about updating our slack statuses based on PTO, but I found a Zenefits/Slack integration that can do that for us automatically (since we use Zenefits and track our PTO there).

[2019-10-23 07:17] MysteryG commented on #142
@abinoda Is there any timeline on when we would be able to ignore PR's created by a certain user as mentioned in [your comment](https://github.com/pullreminders/backlog/issues/142#issuecomment-475826305)?

[2019-10-23 23:05] sergiofbsilva commented on #69
@abinoda This would be great 🎉 💪

[2019-10-25 15:29] jpbufe3 commented on #148
~@abinoda - If I'm understanding correctly, the only way to notify a team on Slack is by using the "team reminders" feature and filtering to a GitHub team. Would it be possible to add functionality that supports real-time notifications for any PRs assigned to that GitHub team that notifies a Slack user group? Essentially I'd like to have "DM settings" for a GitHub team that notifies a Slack user g

[2019-10-28 19:43] jlisee commented on #156
Any update on the data export?  One thing our team would like to measure is how different workflows tools affect the size of a pull request and how many comments they get.  It would be awesome if we could build of the work done by pullreminders here vs. setting up own system.

[2019-10-31 17:34] bbuckland commented on #185
We are stuck as well. It would be super duper helpful, as our team cannot use pull panda until this is implemented.

[2019-11-07 14:26] zcorpan opened #208 "PR with empty commit causes problems"
We tried [enabling](https://github.com/web-platform-tests/rfcs/pull/35) Pull Panda for the [web-platform-tests](https://github.com/web-platform-tests) org, but it appears that a [PR with an empty commit](http://github.com/web-platform-tests/wpt-actions-test/pull/17) causes problems for Pull Panda Analytics.

In the "PR merge time" page, there is only one data point (that PR), among all repos for t

[2019-11-08 08:31] zcorpan commented on #208
I have excluded the wpt-actions-tests repo, but the problem seems to persist because the [wpt](https://github.com/web-platform-tests/wpt) repo (the most interesting one in our case) also has [at least one PR](https://github.com/web-platform-tests/wpt/pull/20036) with an empty commit.

[2019-11-11 09:27] adritung opened #209 "As a user, I'd like to see the average metrics by repository and not only by reviewer/author"
For example, review turnaround or ratio of PRs reviewed / comments, by repository.

[2019-11-12 10:38] agentgonzo commented on #180
Not just `closed`, the message should be crossed out (strikethrough) if the PR is `merged` (which is a separate state from `closed`)

[2019-11-14 11:32] zcorpan opened #210 "[Analytics] Feature request: ability to filter out PRs with specific label(s)"
For https://github.com/web-platform-tests/wpt there are a high number of PRs that are exported from downstream projects (like Chromium, Gecko, Servo), that are automatically approved by a bot.

It would be nice to be able to exclude those PRs from the analytics. Filtering based on excluding labels would work for our case.

[2019-11-26 21:14] rogeryen opened #211 "As a user I'd like to be notified when a PR I reviewed/commented has a new update"
I know that you can do re-request review which would create a new DM, but some people don't/aren't used to that I would rather getting notified (configurable) when the requester pushed a new commit/batch of commits.

[2019-12-15 14:08] tsawyer999 commented on #185
We are in the same situation as other described.

We centralized all projects around the world into the same organization and multiple teams would like to use Pull Panda but cannot because one team already using it.

After reading https://github.com/pullreminders/enterprise/blob/master/dockerenv.example , does somebody know if there is a way to deploy it with docker so each team can deploy is own

[2019-12-17 10:15] lukejones1 commented on #82
@abinoda Is there a date set for the relaunched product?

[2019-12-17 14:26] imjn opened #212 "Account not showing up on Choose Account page"
After signing in with GitHub account, I can not find the organization that I want to install pullreminders.

[![Screenshot from Gyazo](https://gyazo.com/251b30d7474b9197c476c3d8eb02121b/raw)](https://gyazo.com/251b30d7474b9197c476c3d8eb02121b)

Are there any steps before installing pullreminders?

[2019-12-19 17:43] anawallgren opened #213 "Assign reviewers based on prefix in PR title/branch name or specific label"
If my pull request (or branch) has something like "feature1-" or "feature2-" at the beginning of it, I'd like Pull Assigner to assign it to a certain (configurable) team.

Or:

If my pull request has a label like "feature1" or "feature2", Pull Assigner should assign it to a certain (configurable) team.

Codeowners doesn't help with this, because the files are all in the same directories.

[2019-12-19 17:45] anawallgren opened #214 "Don't assign reviewers if PR has a certain prefix or label"
If my PR has the prefix "WIP-" or a label of "Work in Progress", don't assign reviewers.

If the label or prefix is removed, assign reviewers.

We are using CODEOWNERS, so all new PRs are automatically assigned.

[2019-12-19 17:49] anawallgren commented on #214
Oops, I just realized that this is a duplicate of https://github.com/pullreminders/backlog/issues/138.

A label of `disable-pullassigner` will do this.

[2019-12-19 17:49] #214 closed, assigned to nobody

[2019-12-19 18:09] ethanrubio commented on #212
I'm running into the same issue. I have previous installations in other organizations, but for a new one, there's no option to install it.

[2019-12-19 18:11] Peeja opened #215 "As a user, I would like a notification for every comment on a PR I'm subscribed to"
Sometimes, we have conversations in PRs that aren't in threads or reviews, and we don't mention each other by name in every comment. This leads to comments that are missed for hours. You can currently get every comment on your *own* PR, but not on someone else's PR that you've been commenting on.

I expect this desire varies by team and context, but on our team, the traffic is low enough that I'd

[2020-01-02 16:38] sleepylemur commented on #81
@abinoda looks like failure case got handled in #69 but also being notified on ci success would be sweet.

[2020-01-28 08:35] arunpkio opened #216 "As a user I would like to see PRs grouped according to the repositories"
Currently, all the PRs are shown scattered in the Slack message. We have many projects and all the teammates are in one specific channel where we get the Pullpanda notification.
Is there an option by which I can sort and organize the open PR in groups those belongs to the same repository.

Maybe with the syntax as follows
### Waiting for review
**[project_1]**
Pullrequest1
Pullrequest2
Pullrequest

[2020-02-05 16:11] andreamussap opened #217 "I cannot access Pull panda analytics metrics for my own project"
- As one of the admin users of the [axway-open-docs project](https://github.com/Axway/axway-open-docs)
- I need to access the Pull Panda metrics
- So that I can better monitor the use/growth of collaboration in my repository, and any other metrics.

Pull panda is one of the [Installed GitHub Apps](https://github.com/Axway/axway-open-docs/settings/installations) in my repository.
My colleague @alex

[2020-02-07 19:18] syndacks opened #218 "When will Pullpanda be available for use on Github?"
https://pullpanda.com/github

I'd like to use this product, I just don't have access to it. Thanks.

[2020-02-09 03:18] vivan-niche commented on #108
as a go developer, would love to have the ability to exclude the `/vendor` folder from LOC counts

[2020-02-19 18:53] sanjitsaluja opened #219 "Pull reminders for Microsoft Teams?"
My team uses MS Teams for internal communication (instead of Slack). Is this on the roadmap?

[2020-03-22 19:36] JasoonS opened #220 "Unable to add multiple organisations to pull panda"
![image](https://user-images.githubusercontent.com/6032276/77258689-9634ab00-6c7c-11ea-9f34-db2558040116.png)

I have 2 public organisations on github. But I am unable to add the second organisation on pull panda.

Is there something I am missing?

I would love to use pull panda for both of them!

Thanks

[2020-04-16 17:48] sheldonhull commented on #176
Is this what is powering the github feature for setting up pull request reminders?
Is there a better place to go about that now?

I want to setup reminders for all repositories a team maintains rather than globally. With over 80 repos, doing this one by one on the reminder field is not maintainable. Any advice or pointer to where I should submit this type of request would be appreciated.

[2020-04-21 18:54] SanjiKir commented on #220
Same thing here! @abinoda can you comment on that please?

@JasoonS did you solve the problem?

[2020-04-21 23:47] JasoonS commented on #220
@SanjiKir No, unfortunately not. I gave up.

I would still appreciate a solution :)

[2020-05-03 00:03] esg-dlelis opened #221 "Cannot install pullpanda"
When I try to install pullpanda on my organization I get the error:

ERR_TOO_MANY_REDIRECTS

Already cleaned my cookies multiple times and didn't worked.

[2020-05-09 00:45] caplis commented on #221
Seeing the same. Appears there is a circular redirect:

https://pullreminders.com/installs/new
[code]

https://pullreminders.com/installs
[code]

[2020-05-14 17:50] cvitan commented on #221
+1 - did some housekeeping and uninstalled pullpanda by mistake, and not it's not possible to reinstall, while the Github Scheduled Reminders does not have the feature of notifying you on Slack when someone assigns you to a PR 🤦

[2020-05-29 15:23] marcinlesek commented on #220
Hmm, I see only one where it's actually in use, but I don't see any another from my account. Any solution here?

[2020-06-04 11:00] kuzaxak commented on #220
The same situation asked Github support about it.

[2020-06-04 11:08] kuzaxak commented on #220
https://pullpanda.com/github

Okay, you can't signup the new organisation anymore.

[2020-07-08 20:27] expjess commented on #53
Hey @abinoda - would love to talk more about this if you still have thoughts around it simmering on your back burner.

As an open-source project, we have similar interests in everything that's been mentioned above. One big thing that we also keep bumping into is that, for an open-source project, issues are part project management (typical Github use case) and part **_user support_**. This means th

[2020-07-14 23:05] zjromani commented on #219
Get it together microsoft

[2020-07-28 13:19] stinney1103 commented on #219
Yeah this would be super helpful.

[2020-08-04 12:54] schlagelk commented on #219
I'm building this now, currently in beta: https://mariachi.app/

[2020-08-23 20:01] schlagelk commented on #219
Here we go, PR review notifications for MSFT Teams.  Open sourced (Apache 2.0) and available [now](https://github.com/schlagelk/Mariachi). Órale 🎺🚀

[2020-08-25 13:00] stinney1103 commented on #219
@schlagelk this is super cool, though it appears to be repo specific any suggestions for making it org wide? We have a bunch of repos, just wondering if it could be used so we don't get spammed from every repo.

[2020-08-25 14:13] schlagelk commented on #219
Thanks @stinney1103! I think my suggestion might be to create Teams channels that are used for PR review notifications only.
 You could even make channels that are platform specific (eg Android PRs Needing Reviews, Web PRs Needing Reviews etc, so you don't need one for each repo).  However that might make it more likely for someone to ignore the channel if they feel like it's _just_a_bot_.

[2020-08-27 01:01] adrian-skybaker commented on #69
Have been hunting around for docs, it looks like this PR is the closest there is. Looks like others are confused as well, https://github.community/t/how-to-set-strings-for-failed-ci-checks-of-scheduled-reminders/122637 .

I think you need some sort of hint/help text explaining what actually goes in this field, and what it's matching on.

Also it would be good if there was an obvious way to just sa

[2020-08-27 01:01] adrian-skybaker commented on #69
....also, it's odd having real-time alerts (which are really useful) hidden away in "Scheduled Reminders".

[2020-09-22 12:02] Drarok commented on #69
Agreed! I ended up reading this thread because I had to Google where to find the settings as the checks aren't working for me. Looked in the repo settings, organisation settings, the "Settings" link in Slack for the GitHub bot before giving up, frustrated.

[2020-11-12 09:13] kpalmvik opened #222 "Pull reminders keps nagging about shutdown date in the past"
Pull Reminders was supposed to be shutdown on October 14, but it keeps nagging in Slack about pull requests and a shutdown date that is now well in the past.

![Nag nag nag](https://user-images.githubusercontent.com/4640371/98919627-56525a80-24cf-11eb-8291-fecf6a8f0794.png)

[2021-04-07 19:07] #222 closed, assigned to nobody

[2021-04-12 15:12] usn1485 commented on #42
Hi @abinoda what do I need to do  for github to direct message me on merge conflicts?

[2021-04-27 16:16] #104 closed, assigned to nobody

[2021-05-17 18:23] dsacramone commented on #42
You ever sort this out, if so- how?

[2021-07-05 05:47] #206 closed, assigned to nobody

[2021-10-14 08:39] ShaharCider commented on #179
Kinda weird what you must grant access to a team even if it's a public repo, but thanks for the help @abinoda

[2021-10-22 07:28] codemasta commented on #42
Please is there a solution for this now on Github ?

[2021-10-26 14:17] amlane commented on #179
I'm having this same issue on ucroo-community org with flows-dev-team. I've added the team, added members (days ago) and added them to have "write" access to all the repos and yet the team is not showing up as a reviewer.

[2022-03-24 14:24] #211 closed, assigned to nobody

[2022-08-22 03:49] iskotar commented on #179
Have the same issue

[2022-11-05 07:28] indevi commented on #39
How can I use this feature ? Can you please let me know

[2022-11-08 19:55] jmortonTarget05 opened #223 "As a User, I would like to be able to assign PR reminders at the project level to a specific slack channel"

[2022-11-08 20:10] #223 closed, assigned to nobody

[2022-11-08 20:10] jmortonTarget05 commented on #223
figured out that this was already a feature.